<!-- ------------------------------------------------------
  FORM VIEW
  --------------------------------------------------------- -->
<!-- ###TEMPLATE_FORM1### begin -->
<!--<a name="cform"></a>-->
<form action="###REL_URL####contact" method="post" name="contactform-simple" class="page-scroll form-horizontal">
  <input type="hidden" name="id" value="###PID###" />
  <input type="hidden" name="formhandler[submitted]" value="1" />
  <input type="hidden" name="type" value="###value_type###" />

  <div class="kontakt_form_home">
    ###field_salutation###
    ###field_block1###
    ###field_block2###
    ###field_block3###
    ###field_block4###
    ###field_message###
    ###field_submit###
  </div>
  
</form>
<!-- ###TEMPLATE_FORM1### end -->



<!-- ------------------------------------------------------
  FORM DATA VIEW (after send)
  --------------------------------------------------------- -->

[HTML]
###TEMPLATE_SUBMITTEDOK###
<h3>###LLL:thankyou_content1###</h3>
<p>###LLL:thankyou_content2###</p>
###TEMPLATE_SUBMITTEDOK###
[/HTML]



<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### begin -->
<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
<style type="text/css">
  body {
    margin: 0 0 10px 0;
    padding: 10px 0;
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
  }
  div, p, a, li, td {
    -webkit-text-size-adjust: none;
  }
  .ReadMsgBody {
    width: 100%;
    background-color: #ffffff;
  }
  .ExternalClass {
    width: 100%;
    background-color: #ffffff;
  }
  body {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0 0 10px 0;
    padding: 10px 0;
    -webkit-font-smoothing: antialiased;
  }
  html {
    width: 100%;
  }
  p {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }
  .visibleMobile {
    display: none;
  }
  .hiddenMobile {
    display: block;
  }
  a {
    text-decoration: none !important;
  }
  @media only screen and (max-width: 600px) {
    body {
      width: auto !important;
    }
    table[class=fullTable] {
      width: 100% !important;
      clear: both;
    }
    table[class=fullPadding] {
      width: 100% !important;
      clear: both;
    }
    table[class=kontoboxMobile] {
      width: 100% !important;
      clear: both;
    }
    table[class=col] {
      width: 100% !important;
      clear: both;
    }
    .erase {
      display: none;
    }
    .emailImage {
      height:auto !important;
      max-width:600px !important;
      width: 100% !important;
    }
    .account_box {
      width: 100% !important;
      clear: both;
      height:auto !important;
    }
  }
  @media only screen and (max-width: 420px) {
    table[class=fullTable] {
      width: 100% !important;
      clear: both;
    }
    table[class=fullPadding] {
      width: 100% !important;
      clear: both;
    }
    table[class=col] {
      width: 100% !important;
      clear: both;
    }
    table[class=col] td {
      text-align: left !important;
    }
    .erase {
      display: none;
      font-size: 0;
      max-height: 0;
      line-height: 0;
      padding: 0;
    }
    .visibleMobile {
      display: block !important;
    }
    .hiddenMobile {
      display: none !important;
    }
    .emailImage {
      height:auto !important;
      max-width:600px !important;
      width: 100% !important;
    }
    .account_box {
      width: 100% !important;
      clear: both;
      height:auto !important;
    }
  }
</style>


<table align="center" bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="100%">
  <tbody>
    <tr>
      <td>
        <table align="center" bgcolor="#ffffff" border="0" bordercolor="#ccc" cellpadding="0" cellspacing="0" class="fullTable" style="border-collapse:collapse;" width="600">
          <tbody>
            <tr>
              <td style="padding: 15px;">
                <img alt="Connex Reisecenter" class="emailImage" src="http://typo38.connexgroup.net/fileadmin/reisecenter/templates/images/formhandler/logo_rg_contact_form_sk.png" style="display: block; width: 290px; height: 86px;" width="290" height="86"/>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table align="center" bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="100%">
  <tbody>
    <tr>
      <td>
        <table align="center" bgcolor="#ffffff" border="0" bordercolor="#ccc" cellpadding="0" cellspacing="0" class="fullTable" style="border-collapse:collapse;" width="600">
          <tbody>
            <tr>
              <td style="padding: 10px 0 10px 0;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="600">
                  <tbody>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 15px 15px;">
                        ###LLL:greeting_top_1###<br />
                        <b>###LLL:greeting_top_2###</b>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 15px 15px;">
                        ###LLL:greeting_top_3###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 5px 15px 0 15px;">
                        ###LLL:best_regards###,<br/>
                        ###LLL:their_connex_team###
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 10px 0 10px 0;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="600">
                  <tbody>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:your_data###:
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:gender###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_gender###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:firstname###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_firstname###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:lastname###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_lastname###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:address###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_address###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:zipcity###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_zipcity###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:email###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        <a href="mailto:###email###">###value_email###</a>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:phone###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        <a href="mailto:###phone###">###value_phone###</a>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:voucher###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_voucher###
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 10px 0 10px 0;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="600">
                  <tbody>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        <b>###LLL:message###:</b>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_message###
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### end -->



<!-- ###TEMPLATE_EMAIL_USER_HTML### begin -->
<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
<style type="text/css">
  body {
    margin: 0 0 10px 0;
    padding: 10px 0;
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
  }
  div, p, a, li, td {
    -webkit-text-size-adjust: none;
  }
  .ReadMsgBody {
    width: 100%;
    background-color: #ffffff;
  }
  .ExternalClass {
    width: 100%;
    background-color: #ffffff;
  }
  body {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0 0 10px 0;
    padding: 10px 0;
    -webkit-font-smoothing: antialiased;
  }
  html {
    width: 100%;
  }
  p {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }
  .visibleMobile {
    display: none;
  }
  .hiddenMobile {
    display: block;
  }
  a {
    text-decoration: none !important;
  }
  @media only screen and (max-width: 600px) {
    body {
      width: auto !important;
    }
    table[class=fullTable] {
      width: 100% !important;
      clear: both;
    }
    table[class=fullPadding] {
      width: 100% !important;
      clear: both;
    }
    table[class=kontoboxMobile] {
      width: 100% !important;
      clear: both;
    }
    table[class=col] {
      width: 100% !important;
      clear: both;
    }
    .erase {
      display: none;
    }
    .emailImage {
      height:auto !important;
      max-width:600px !important;
      width: 100% !important;
    }
    .account_box {
      width: 100% !important;
      clear: both;
      height:auto !important;
    }
  }
  @media only screen and (max-width: 420px) {
    table[class=fullTable] {
      width: 100% !important;
      clear: both;
    }
    table[class=fullPadding] {
      width: 100% !important;
      clear: both;
    }
    table[class=col] {
      width: 100% !important;
      clear: both;
    }
    table[class=col] td {
      text-align: left !important;
    }
    .erase {
      display: none;
      font-size: 0;
      max-height: 0;
      line-height: 0;
      padding: 0;
    }
    .visibleMobile {
      display: block !important;
    }
    .hiddenMobile {
      display: none !important;
    }
    .emailImage {
      height:auto !important;
      max-width:600px !important;
      width: 100% !important;
    }
    .account_box {
      width: 100% !important;
      clear: both;
      height:auto !important;
    }
  }
</style>


<table align="center" bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="100%">
  <tbody>
    <tr>
      <td>
        <table align="center" bgcolor="#ffffff" border="0" bordercolor="#ccc" cellpadding="0" cellspacing="0" class="fullTable" style="border-collapse:collapse;" width="600">
          <tbody>
            <tr>
              <td style="padding: 15px;">
                <img alt="Connex Reisecenter" class="emailImage" src="http://typo38.connexgroup.net/fileadmin/reisecenter/templates/images/formhandler/logo_rg_contact_form_sk.png" style="display: block; width: 290px; height: 86px;" width="290" height="86"/>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table align="center" bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="100%">
  <tbody>
    <tr>
      <td>
        <table align="center" bgcolor="#ffffff" border="0" bordercolor="#ccc" cellpadding="0" cellspacing="0" class="fullTable" style="border-collapse:collapse;" width="600">
          <tbody>
            <tr>
              <td style="padding: 10px 0 10px 0;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="600">
                  <tbody>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 15px 15px;">
                        ###LLL:greeting_top_1###<br />
                        <b>###LLL:greeting_top_2###</b>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 15px 15px;">
                        ###LLL:greeting_top_3###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 5px 15px 0 15px;">
                        ###LLL:best_regards###,<br/>
                        ###LLL:their_connex_team###
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 10px 0 10px 0;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="600">
                  <tbody>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:your_data###:
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:gender###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_gender###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:firstname###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_firstname###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:lastname###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_lastname###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:address###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_address###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:zipcity###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_zipcity###
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:email###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        <a href="mailto:###email###">###value_email###</a>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:phone###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        <a href="mailto:###phone###">###value_phone###</a>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        ###LLL:voucher###:
                      </td>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_voucher###
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 10px 0 10px 0;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullTable" width="600">
                  <tbody>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px; font-weight: bold;">
                        <b>###LLL:message###:</b>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="vertical-align: top; font-size: 14px; color: #5F5F56; font-family: Arial; line-height: 24px; vertical-align: top; text-align: left; padding: 0 15px 0 15px;">
                        ###value_message###
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<!-- ###TEMPLATE_EMAIL_USER_HTML### end -->