<div id="footer">
    <div id="footer_left">
        <f:cObject typoscriptObjectPath="lib.footer_left" />
    </div><!-- footer_left -->
    <div id="footer_right">
        <f:cObject typoscriptObjectPath="lib.footer_right" />
    </div><!-- footer_right -->
    <div class="clearer"></div>
</div>