<div class="wrap">
    <f:cObject typoscriptObjectPath="lib.general.headerNav_PROMO" />
    <div class="content">
        <f:cObject typoscriptObjectPath="lib.content.headerPromo" />
        <section id="mehr_erfolg" class="section">
            <f:cObject typoscriptObjectPath="lib.content.promo_01" />
        </section>
        <section id="jeder_gewinnt" class="section">
            <f:cObject typoscriptObjectPath="lib.content.promo_02" />
        </section>
        <section id="alles_aus_einer_hand" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.promo_03" />
        </section>
        <section id="kommunikation" class="section">
            <f:cObject typoscriptObjectPath="lib.content.promo_04" />
        </section>
        <section id="erfolgsbeispiele" class="section">
            <f:cObject typoscriptObjectPath="lib.content.promo_05" />
        </section>

        <section id="contact" class="section">
            <f:cObject typoscriptObjectPath="lib.content.contactPromo" />
        </section>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
