<div class="wrap">
    <f:cObject typoscriptObjectPath="lib.general.headerNav_PRAEMIEN" />
    <div class="content">
        <f:cObject typoscriptObjectPath="lib.content.header" />
        <section id="sales_increase" class="section">
            <f:cObject typoscriptObjectPath="lib.content.sales_increase" />
        </section>
        <section id="advantages" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.advantages" />
        </section>
        <section id="business_insights" class="section">
            <f:cObject typoscriptObjectPath="lib.content.business_insights" />
        </section>
        <section id="one_to_one" class="section">
            <f:cObject typoscriptObjectPath="lib.content.one_to_one" />
        </section>
        <section id="service" class="section">
            <f:cObject typoscriptObjectPath="lib.content.service" />
        </section>
        <section id="box_modal_infos" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.box_modal_infos" />
        </section>
        <section id="case_studies" class="section">
            <f:cObject typoscriptObjectPath="lib.content.case_studies" />
        </section>
        <section id="whitepaper" class="section">
            <f:cObject typoscriptObjectPath="lib.content.whitepaper" />
        </section>


        <section id="contact" class="section">
            <f:cObject typoscriptObjectPath="lib.content.contact" />
        </section>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
