<div class="wrap">
    <f:cObject typoscriptObjectPath="lib.general.headerNav_IDEEN" />
    <div class="content">
        <f:cObject typoscriptObjectPath="lib.content.headerIdeen" />
        <section id="sales_increase" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_01" />
        </section>
        <section id="geld_ist" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_03" />
        </section>
        <section id="ideen_spinne" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_02" />
        </section>
        <section id="jede_idee" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_04" />
        </section>
        <section id="gute_ideen" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_05" />
        </section>
        <section id="demo" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_06" />
        </section>
        <section id="blog" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_07" />
        </section>
        <section id="erfolgsbeispiele" class="section">
            <f:cObject typoscriptObjectPath="lib.content.ideen_08" />
        </section>



        <section id="contact" class="section">
            <f:cObject typoscriptObjectPath="lib.content.contactIdeen" />
        </section>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
