<div class="wrap">
    <f:cObject typoscriptObjectPath="lib.general.headerNav_DATEN" />
    <div class="content">
        <f:cObject typoscriptObjectPath="lib.content.headerDaten" />
        <section id="vertriebsprofi" class="section">
            <f:cObject typoscriptObjectPath="lib.content.daten_01" />
        </section>
        <section id="knopfdruck" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.daten_02" />
        </section>
        <section id="logistiktools" class="section">
            <f:cObject typoscriptObjectPath="lib.content.daten_03" />
        </section>
        <section id="urlaubsfreuden" class="section">
            <f:cObject typoscriptObjectPath="lib.content.daten_04" />
        </section>
        <section id="case_studies" class="section">

            <f:cObject typoscriptObjectPath="lib.content.daten_05" />
        </section>
        <section id="erfolgsbeispiele" class="section">
            <f:cObject typoscriptObjectPath="lib.content.daten_06" />
        </section>

        <section id="contact" class="section">
            <f:cObject typoscriptObjectPath="lib.content.contactDaten" />
        </section>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
