<div class="wrap">
    <f:cObject typoscriptObjectPath="lib.general.headerNav_EMPFEHLUNG" />
    <div class="content">
        <f:cObject typoscriptObjectPath="lib.content.headerEmpfehlung" />
        <section id="einfach_rechtlich" class="section">
            <f:cObject typoscriptObjectPath="lib.content.empfehlung_01" />
        </section>
        <section id="empfehlungssysteme" class="section">
            <f:cObject typoscriptObjectPath="lib.content.empfehlung_02" />
        </section>
        <section id="system_zu_neuen_kunden" class="section">
            <f:cObject typoscriptObjectPath="lib.content.empfehlung_03" />
        </section>
        <section id="generierung" class="section">
            <f:cObject typoscriptObjectPath="lib.content.empfehlung_04" />
        </section>
        <section id="empfehlungspraemie" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.empfehlung_05" />
        </section>
        <section id="case_studies" class="section">
            <f:cObject typoscriptObjectPath="lib.content.empfehlung_06" />
        </section>
        <section id="erfolgsbeispiele" class="section">
            <f:cObject typoscriptObjectPath="lib.content.empfehlung_07" />
        </section>

        <section id="contact" class="section">
            <f:cObject typoscriptObjectPath="lib.content.contactEmpfehlung" />
        </section>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
