<div class="wrap">
    <f:cObject typoscriptObjectPath="lib.general.headerNav_VORTEIL" />
    <div class="content">
        <f:cObject typoscriptObjectPath="lib.content.headerVorteil" />
        <section id="wettlauf" class="section">
            <f:cObject typoscriptObjectPath="lib.content.vorteil_01" />
        </section>
        <section id="wettlauf_modal" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.vorteil_02" />
        </section>
        <section id="refinanzierung" class="section">
            <f:cObject typoscriptObjectPath="lib.content.vorteil_03" />
        </section>
        <section id="konsumenten" class="section">
            <f:cObject typoscriptObjectPath="lib.content.vorteil_04" />
        </section>
        <section id="zielgruppe" class="section">
            <f:cObject typoscriptObjectPath="lib.content.vorteil_05" />
        </section>
        <section id="zielgruppe_spinne" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.vorteil_06" />
        </section>
        <section id="kundenbindung" class="section">
            <f:cObject typoscriptObjectPath="lib.content.vorteil_07" />
        </section>
        <section id="erfolgsbeispiele" class="section">
            <f:cObject typoscriptObjectPath="lib.content.vorteil_08" />
        </section>
        <section id="one-to-one" class="section">
            <f:cObject typoscriptObjectPath="lib.content.vorteil_09" />
        </section>

        <section id="contact" class="section">
            <f:cObject typoscriptObjectPath="lib.content.contactVorteil" />
        </section>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
