<div class="wrap">
    <f:cObject typoscriptObjectPath="lib.general.headerNav_GUTSCHEIN" />
    <div class="content">
        <f:cObject typoscriptObjectPath="lib.content.headerGutschein" />
        <section id="emotion" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_01" />
        </section>
        <section id="loesungen" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.gutschein_02" />
        </section>
        <section id="hotelschecks" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_03" />
        </section>
        <section id="einsatzbereiche" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_04" />
        </section>
        <section id="einsatzbereiche_spinne" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.gutschein_05" />
        </section>
        <section id="packaging" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_06" />
        </section>
        <section id="gutscheinloesungen" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_07" />
        </section>
        <section id="leistungsbausteine" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_08" />
        </section>
        <section id="leistungsbausteine_detail" class="section">
            <div class="cx-triangle"></div>
            <f:cObject typoscriptObjectPath="lib.content.gutschein_09" />
        </section>
        <section id="erfolgsbeispiele" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_10" />
        </section>
        <section id="whitepaper" class="section">
            <f:cObject typoscriptObjectPath="lib.content.gutschein_11" />
        </section>

        <section id="contact" class="section">
            <f:cObject typoscriptObjectPath="lib.content.contactGutschein" />
        </section>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
