<!DOCTYPE html>
<html>
<head lang="de">
    {% include '../partials/meta.html' %}
</head>
<body>
    <div class="b-sticky-footer">
        <header>
            <div class="b-sticky-footer__content">
                {% include "../partials/header.html" %}
            </div>
        </header>

        <main>
            <div class="b-sticky-footer__content">
                {% block main %}
                {% endblock %}
            </div>
        </main>

        <footer>
            <div class="b-sticky-footer__content">
                {% include "../partials/footer.html" %}
            </div>
        </footer>
    </div>

    <script src="../Template/js/bottom.js"></script>
</body>
</html>