{namespace vh=In2code\Powermail\ViewHelpers}

<div class="row">
	<div class="col col3">
		<label for="powermail_field_{field.marker}" class="{settings.styles.framework.labelClasses}" title="{field.description}">
			<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
		</label>
	</div>
	<div class="col col6">
		<f:form.textfield
				type="{field.datepickerSettingsOptimized}"
				id="powermail_field_{field.marker}"
				property="{field.marker}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}"
				additionalAttributes="{vh:Validation.DatepickerDataAttribute(field:field, value:'{vh:Misc.PrefillField(field:field)}')}"
				class="powermail_date {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
	</div>
</div>