{namespace vh=In2code\Powermail\ViewHelpers}

<div class="row">
	<div class="col col3">
		<label for="powermail_field_{field.marker}" class="{settings.styles.framework.labelClasses}" title="{field.description}">
			<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
		</label>
	</div>
	<div class="col col6">
		<vh:Form.SelectField
				options="{field.modifiedSettings}"
				property="{field.marker}"
				class="powermail_select {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				id="powermail_field_{field.marker}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				multiple="{field.multiselectForField}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}" />

		<f:if condition="{field.multiselect}">
			<f:if condition="{settings.validation.client}">
				<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
			</f:if>
		</f:if>
		<script type="text/javascript">
			$("#powermail_field_{field.marker}").select2({
				minimumResultsForSearch: Infinity
			})
			.on("select2:select", function(e) {
				// mostly used event, fired to the original element when the value changes
				if(e.params.data.id != 0){
					$("fieldset.powermail_fieldset_2").fadeIn();

					$("#powermail_field_location").attr("required","required");
					$("#powermail_field_location").attr("data-parsley-required-message","Dieses Feld muss ausgefüllt werden!");
					$("#powermail_field_location").attr("data-parsley-trigger","change");

					$("#powermail_field_datum").attr("required","required");
					$("#powermail_field_datum").attr("data-parsley-required-message","Dieses Feld muss ausgefüllt werden!");
					$("#powermail_field_datum").attr("data-parsley-trigger","change");
				}
				else{
					$("fieldset.powermail_fieldset_2").fadeOut();
					$("#powermail_field_location").attr("required","");
					$("#powermail_field_datum").attr("required","");
				}
			});
		</script>
	</div>
</div>
