<!-- ----------------------------------------------------------------------
   Templates for form fields
  ---------------------------------------------------------------------- -->
<!-- ###field_interested### -->
<h2>###LLL:interested-headline###</h2>
<div class="form-group">
  <div class="col-sm-12 no-padding-0 no-label interested">
    <div>
      <input type="radio" id="interested-whitepaper" name="###formValuesPrefix###[interested1]" value="###LLL:intersted-whitepaper###" ###checked_interested1_###LLL:intersted-whitepaper###### />
      <label for="interested-whitepaper">###LLL:interested-whitepaper###</label>
    </div>
  </div>
  <div class="col-sm-12 no-padding-0 no-label interested">
    <div>
      <input type="radio" id="interested-demo" name="###formValuesPrefix###[interested2]" value="###LLL:interested-demo###" ###checked_interested2_###LLL:interested-demo###### />
      <label for="interested-demo">###LLL:interested-demo###</label>
    </div>
  </div>
  <div class="col-sm-12 no-padding-0 no-label interested">
    <div>
      <input type="radio" id="interested-call" name="###formValuesPrefix###[interested3]" value="###LLL:interested-call###" ###checked_interested3_###LLL:interested-call###### />
      <label for="interested-call">###LLL:interested-call###</label>
    </div>
  </div>
</div>
<!-- ###field_interested### -->

<!-- ###field_salutation### -->
<div class="form-group">
  <div class="col-sm-12 no-padding-0 no-label gender">
    <div ###is_error_gender###>
      <input type="radio" ###is_error_gender### id="gender-female" name="###formValuesPrefix###[gender]" value="###LLL:female###" ###checked_gender_###LLL:female###### />
      <label for="gender-female">###LLL:female### ###required_female###</label>
      <input type="radio" ###is_error_gender### id="gender-male" name="###formValuesPrefix###[gender]" value="###LLL:male###" ###checked_gender_###LLL:male###### />
      <label for="gender-male">###LLL:male### ###required_male###</label>
    </div>
  </div>
</div>
<!-- ###field_salutation### -->


<!-- ###field_block1### -->
<div class="form-group">
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="firstname">###LLL:firstname### ###required_firstname###</label>
    <input type="text" ###is_error_firstname### name="###formValuesPrefix###[firstname]" id="firstname" class="row" value="###value_firstname###"/>
  </div>
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="lastname">###LLL:lastname### ###required_lastname###</label>
    <input type="text" ###is_error_lastname### name="###formValuesPrefix###[lastname]" id="lastname" class="row" value="###value_lastname###"/>
  </div>
</div>
<!-- ###field_block1### -->



<!-- ###field_block2### -->
<div class="form-group">
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="company">###LLL:company### ###required_company###</label>
    <input type="text" ###is_error_company### name="formhandler[company]" id="company" class="row" value="###value_company###"/>
  </div>
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="address">###LLL:address### ###required_address###</label>
    <input type="text" ###is_error_address### name="formhandler[address]" id="address" class="row" value="###value_address###"/>
  </div>
</div>
<!-- ###field_block2### -->



<!-- ###field_block3### -->
<div class="form-group">
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="zip">###LLL:zip### ###required_zip###</label>
    <input type="text" ###is_error_zip### name="formhandler[zip]" id="zip" class="row" value="###value_zip###"/>
  </div>
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="city">###LLL:city### ###required_city###</label>
    <input type="text" ###is_error_city### name="formhandler[city]" id="city" class="row" value="###value_city###"/>
  </div>
</div>
<!-- ###field_block3### -->


<!-- ###field_block4### -->
<div class="form-group">
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="email">###LLL:email### ###required_email###</label>
    <input type="text" ###is_error_email### name="formhandler[email]" id="email" class="row" value="###value_email###"/>
  </div>
  <div class="col-sm-6 col-xs-12 no-label input-border">
    <label for="phone">###LLL:phone### ###required_phone###</label>
    <input type="text" ###is_error_phone### name="formhandler[phone]" id="phone" class="row" value="###value_phone###"/>
  </div>
</div>
<!-- ###field_block4### -->


<!-- ###field_message### -->
<div class="form-group message">
  <div class="col-xs-12 no-label input-border message">
    <label for="message">###LLL:message### ###required_message###</label>
    <textarea ###is_error_message### name="formhandler[message]" id="message">###value_message###</textarea>
  </div>
</div>
<!-- ###field_message### -->


<!-- ###field_submit### -->
<div class="form-group">
  <div class="col-xs-12 no-label">
    <span class="pflicht"></span>
    <input type="submit" name="formhandler[submitField]" class="btn btn_default" value="###LLL:submit###" />
  </div>
</div>
<!-- ###field_submit### -->


<!-- ###field_salutationmail### -->
<!-- at-de -->
###IF_gender=Frau###
###LLL:greetings-female### ###value_firstname### ###value_lastname###!
###IF_gender=Frau###
###IF_gender=Herr###
###LLL:greetings-male### ###value_firstname### ###value_lastname###!
###IF_gender=Herr###
<!-- at-de -->
<!-- ###field_salutationmail### -->