<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:render section="header" />

<f:be.container loadJQuery="1">
	<div class="typo3-fullDoc">
		<!-- Page header with buttons, path details and csh -->
		<f:render partial="Module/Header" section="Header" />
		<!-- Content of module, for instance listing, info or editing -->
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="module-headline" />
				<f:flashMessages renderMode="div" />
				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>