@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body { webkit-tap-highlight-color: rgb(142,146,147); }


html,
body {
  background-color: rgb(255,255,255);
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  /*font: normal 14px arial,sans-serif;*/
}

body {
  color: rgb(51, 51, 51);
  font-family:"DIN Next LT W04 Light";
  
  font-size: 13px;
  line-height: 15px;
}

blockquote {
  font-family:"DIN Next LT W04 Light";
}


.wrap a,
.wrap p,
.wrap span,
.slick-prev::before, 
.slick-next::before {
  font-family:"DIN Next LT W04 Light";
  font-size: 13px;
  line-height: 15px;
}

.wrap h1,
.wrap h2,
.wrap h3,
.wrap h4,
.bar_hotels .counter-barhotels,
.wrap b,
.navbar-shrink .dropdown_contact_mobile .contact_mobile.ku span, 
.navbar-shrink .dropdown_contact_mobile .contact_mobile.pl span {
  font-family:"DIN Next LT W04 Medium";
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
}

.wrap .display-none { display: none; }


.wrap .no-padding-0 { padding: 0 0 0 0; }
.wrap .no-padding-o { padding-top: 0; }
.wrap .no-padding-r { padding-right: 0; }
.wrap .no-padding-u { padding-bottom: 0; }
.wrap .no-padding-l { padding-left: 0; }
.wrap .no-padding   { padding: 0 0 0 0; }


.help-block {
  color: inherit;
  display: block;
  margin: 0 auto;
}

.wrap .bold {
  font-weight: bold;
}

/*** typography ***/
/*****************************************/

/********* color 
weiß                      #ffffff     rgb(255,255,255);


grau Schrift                          rgb(94, 94, 93);
orange                                rgb(245, 157, 0);
Kurzurlaub grün                       rgb(175, 202, 5);
hellgrün                              rgb(214, 228, 129);
Pauschalreise türkis                  rgb(0, 152, 129);
pink                                  rgb(166, 19, 128);
hellgrau Balken                       rgb(216, 219, 221);

blau                                  rgb(0, 83, 155);

content                   #333333     rgb(51,51,51);

**********/



/*** header ***/
/*****************************************/
/* default */
.wrap {}

.navbar-header.page-scroll {
  float: left;
  margin: 0 !important;
  width: 100%;
}

.wrap .navbar-fixed-top {
  padding-bottom: 0;
  top: 25px;
}

/*.navbar .header_top_left {
  width: 245px;
}*/

.navbar > .container .navbar-brand {
  float: left;
  height: auto;
  margin: 15px 0;
  max-width: 275px;
  padding: 0;
  position: relative;
}

.navbar > .container .navbar-brand span {
  color: rgb(0, 83, 155);
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 20px;
  line-height: 20px;
  width: 100%;
}

.navbar > .container .navbar-brand span.logo_content_cx {}

.navbar > .container .navbar-brand span.logo_content_rc {
  font-size: 43px;
  line-height: 43px;
}

.sk .navbar > .container .navbar-brand span.logo_content_rc {
  font-size: 33px;
  letter-spacing: -1px;
}

.en .navbar > .container .navbar-brand span.logo_content_rc {
  font-size: 40px;
  letter-spacing: -1px;
}

.navbar > .container .navbar-brand span.logo_content_slogan {
  font-family: "DIN Next LT W04 Light";
  font-size: 15px;
  font-weight: normal;
  line-height: 13px;
}

.navbar > .container .navbar-brand.navbar-brand .fa {
  font-size: 20px;
  position: absolute;
}

.navbar > .container .navbar-brand .fa.fa-suitcase {
  color: rgb(175, 202, 5);
  right: 30px;
}

.navbar > .container .navbar-brand .fa.fa-plane {
  color: rgb(0, 152, 129);
  right: 2px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .wrap .navbar-fixed-top {
    padding-bottom: 10px;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {
  .wrap .navbar-fixed-top {
    padding-bottom: 2px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .wrap .header_top_left {
    min-width: 160px;
    padding: 0;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .wrap .navbar > .container .navbar-brand span.logo_content_slogan {
    font-size: 12.7px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** shrink ***/
/*****************************************/
.navbar.navbar-shrink {
    min-height: 43px;
}

.navbar-shrink .header_top_left {
    width: 270px;
}

.navbar-shrink .header_top_left span,
.navbar-shrink .header_top_left .fa {
    display: none;
}

.navbar.navbar-shrink .container .header_top_left span.logo_content_slogan {
    font-size: 14px;
}

.navbar-shrink .header_top_left span.logo_content_slogan {
    display: block;
}

.navbar-shrink .header_top_right {
    display: none;
}

.sk .navbar-shrink .dropdown_contact_mobile {
    width: 475px;
}

.navbar-shrink .dropdown_contact_mobile {
    display: block;
    float: right;
    width: 413px;
}

.navbar-shrink .dropdown_contact_mobile .contact_mobile.ku {
    float: left;
}

.navbar-shrink .dropdown_contact_mobile .contact_mobile.pl {
    float: right;
    width: auto;
}

.navbar-shrink .dropdown_contact_mobile .contact_mobile.ku, 
.navbar-shrink .dropdown_contact_mobile .contact_mobile.pl {
    margin-top: 12px;
    min-width: auto;
}

.navbar-shrink .dropdown_contact_mobile .contact_mobile.pl {
    float: right;
    width: 163px;
}

.sk .navbar-shrink .dropdown_contact_mobile .contact_mobile.pl {
    width: 245px;
}

.navbar-shrink .dropdown_contact_mobile .contact_mobile.ku span, 
.navbar-shrink .dropdown_contact_mobile .contact_mobile.pl span {
    font-size: 14px;
}

.navbar-shrink .dropdown_contact_mobile a:focus,
.navbar-shrink .dropdown_contact_mobile a:hover {
    outline-offset: 0;
    text-decoration: none;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .wrap .navbar-fixed-top.navbar-shrink {
    padding-bottom: 0;
  }

  .navbar-shrink .dropdown_contact_mobile {
    width: 100%;
  }

  .navbar-shrink .dropdown_contact_mobile .contact_mobile.ku span, 
  .navbar-shrink .dropdown_contact_mobile .contact_mobile.pl span {
    font-size: 13px;
    font-weight: normal;
  }

  .navbar-shrink .dropdown_contact_mobile .contact_mobile.pl {
    width: auto;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {
  .navbar-shrink .dropdown_contact_mobile {
    margin-top: 0;
  }

  .navbar-shrink .contact_mobile .dropdown-menu.ku {
    left: 0;
    right: auto;
    top: auto;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .navbar-shrink .header_top_left,
  .navbar-shrink .header_top_left span.logo_content_slogan {
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-shrink .dropdown_contact_mobile {
    width: 388px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** contact_dropdown_mobile ***/
/*****************************************/
.dropdown_contact_mobile {
  display: block;
  float: right;
  position: relative;
}

.contact_mobile.ku,
.contact_mobile.pl {
  min-width: 130px;
}

.contact_mobile .fa.fa-caret-down {
  float: right;
  font-size: 15px;
  margin-top: 5px;
}

.contact_mobile span {
  margin-right: 5px;
  text-transform: uppercase;
}

.contact_mobile.ku,
.contact_mobile.ku span {
  color: rgb(175, 202, 5);
}

.contact_mobile.pl,
.contact_mobile.pl span {
  color: rgb(0, 152, 129);
}

.contact_mobile.ku .fa {
  color: rgb(175, 202, 5);
}

.contact_mobile.pl .fa {
  color: rgb(0, 152, 129);
}

.contact_mobile .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    padding: 10px 15px;
    width: 255px;
}

.dropdown_contact_mobile a:focus,
.dropdown_contact_mobile a:hover {
    outline-offset: 0;
    text-decoration: none;
}

.contact_mobile .dropdown-menu .icon {
    float: left;
    width: 43px;
}

.contact_mobile .dropdown-menu .icon .fa {
    font-size: 30px;
    margin-top: 17px;
    text-align: center;
}

.contact_mobile .dropdown-menu .block {
    float: left;
    width: 175px;
}

.contact_mobile .dropdown-menu .block a.mail {
  bottom: 7px;
  left: 58px;
}

.contact_mobile .dropdown-menu.ku {
    border: 1px solid rgb(175, 202, 5);
    left: 0;
}

.contact_mobile .dropdown-menu.pl {
    border: 1px solid rgb(0, 152, 129);
    left: auto;
    right: 0;
}

.contact_mobile .dropdown-menu .block span {
  display: none;
}

.contact_mobile .dropdown-menu .block span.opened {
  color: #333;
  display: block;
  font-family: "DIN Next LT W04 Light";
  font-size: 12px;
  font-weight: normal;
  text-transform: none; 
}

.contact_mobile .block .teltext-right-tel {
  display: table;
  margin-bottom: 5px;
  font-family: "DIN Next LT W04 Medium";
  color: #333;
  font-weight: normal;
}

.contact_mobile .block .teltext-right-tel img {
    margin-right: 5px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .dropdown_contact_mobile {
    float: left;
    width: 100%;
  }

  .contact_mobile.ku,
  .contact_mobile.pl {
    min-width: auto;
    width: auto;
  }

  .contact_mobile.ku {
    float: left;
  }

  .contact_mobile.pl {
    float: right;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {
  .contact_mobile.ku,
  .contact_mobile.pl {
    font-weight: bold;
  }

  .contact_mobile .fa.fa-phone {
    margin-right: 5px;
  }

  .dropdown_contact_mobile {
    margin-top: 32px;
  }

  .contact_mobile .dropdown-menu.ku,
  .contact_mobile .dropdown-menu.pl {
    left: auto;
    right: -1px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .dropdown_contact_mobile {
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {
  .dropdown_contact_mobile {
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** contact desktop ***/
/*****************************************/
.header_top_right {
  float: right;
  margin: 15px 0 10px 0;
  width: auto;
}

.header_top_right_box {
  float: left;
  margin-left: 50px;
  position: relative;
  width: 215px;
}

.header_top_right .icon {
  float: left;
  margin-top: 22px;
}

.header_top_right .icon .fa.fa-suitcase {
  color: rgb(175, 202, 5);
}

.header_top_right .icon .fa.fa-plane {
  color: rgb(0, 152, 129);
}

.header_top_right .block {
  float: right;
}

.header_top_right .block {
  width: 165px;
}

.navbar-header .block .mail {
  bottom: 0;
  left: 50px;
  position: absolute;
  text-align: left;
}

.navbar-header .block .mail {
  display: none;
}
    
.header_top_right .fa {
  font-size: 35px;
  line-height: 37px;
}

.header_top_right .kurzurlaub, 
.header_top_right .pauschal {
  margin-right: -15px;
  position: relative;
  width: 180px;
}

.header_top_right .kurzurlaub {
  float: left;
}

.header_top_right .pauschal {
  float: right;
}

.header_top_right .kurzurlaub .fa.fa-suitcase {
  color: rgb(175, 202, 5);
}

.header_top_right .pauschal .fa.fa-plane {
  color: rgb(0, 152, 129);
}

.header_top_right .ku-wrap,
.header_top_right .pr-wrap {
  padding: 0 0 0 30px;
}

.header_top_right span,
.header_top_right a {
  float: left;
  width: 100%;
}

.header_top_right a,
.header_top_right a:hover,
.header_top_right a:focus {
  color: rgb(51,51,51);
  margin-bottom: 4px;
  text-decoration: none;
}

.header_top_right a img {
  height: auto;
  margin-top: -1px;
  width: 12px;
}

.header_top_right .opened {
  font-size: 13px;
  padding-top: 2px;
}

.header_top_right .kurzurlaub .ku-wrap .headline {
  color: rgb(175, 202, 5);
}

.header_top_right .pauschal .pr-wrap .headline {
  color: rgb(0, 152, 129);
}

.header_top_right .headline {
  font-family: "DIN Next LT W04 Medium";
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.header_top_right .headline.ku {
  color: rgb(175, 202, 5);
}

.header_top_right .headline.pl {
  color: rgb(0, 152, 129);
}

.header_top_right .block .teltext-right-tel {
  font-size: 15px;
  font-family: "DIN Next LT W04 Medium";
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .header_top_right {
    display: none;
  }

  .sk .navbar > .container .navbar-brand span.logo_content_rc {
    font-size: 32px;
    letter-spacing: -1px;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {
  .header_top_right {
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .header_top_right_box {
    margin-left: 18px;
  }

  .header_top_left {
    max-width: 235px;
  }

  .navbar > .container .navbar-brand {
    max-width: 235px;
  }

  .navbar > .container .navbar-brand span.logo_content_rc {
    font-size: 37px;
    line-height: 37px;
  }

  .sk .navbar > .container .navbar-brand span.logo_content_rc {
    font-size: 34px;
    letter-spacing: -1px;
  }

  .navbar > .container .navbar-brand span.logo_content_slogan {
    font-size: 13px;
  }


  .navbar.navbar-shrink .header_top_left,
  .navbar.navbar-shrink .container .navbar-brand {
    max-width: 290px !important;
  }

  .sk .navbar.navbar-shrink .header_top_left,
  .sk .navbar.navbar-shrink .container .navbar-brand {
    max-width: 240px !important;
  }

}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** language ***/
/*****************************************/
.language {
  background-color: rgb(216, 219, 221);
  float: left;
  height: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1035;
}
.language_wrap {
  float: right;
  position: relative;
}

.language_wrap .dropdown-toggle {
  color: rgb(51, 51, 51);
  float: right;
  font-size: 11px;
  line-height: 13px;
  margin-top: 5px;
}

.language_wrap .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  margin: 2px 0 0;
  min-width: auto;
  padding: 0;
  z-index: 1100;
}

.language_wrap .dropdown-menu > li > a {
  padding: 5px 25px;
}

.language_wrap .dropdown-menu > li > a:hover {
  background-color: rgb(216, 219, 221);
  color: rgb(51,51,51);
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** full_image ***/
/*****************************************/
.intro {}

.intro.ku {
  background-image: url("http://www.connexreisecenter.com/fileadmin/reisecenter/templates/images/header_kurzurlaub.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  float: left;
  height: 675px;
  margin-top: 107px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.intro.pl {
  background-image: url("http://www.connexreisecenter.com/fileadmin/reisecenter/templates/images/header_pauschalreisen.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  float: left;
  height: 500px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.intro.ku .intro_headline {
  margin-top: 120px;
}

.intro.pl .intro_headline {
  margin-top: 150px;
}

.intro .intro_headline_ku {
  background-color: rgb(175, 202, 5);
  float: left;
  padding: 15px 20px;
}

.intro .intro_headline_pl {
  background-color: rgb(0, 152, 129);
  float: left;
  padding: 15px 20px;
}

.intro .intro_headline_ku .fa, 
.intro .intro_headline_ku h1 {
  color: rgb(255, 255, 255);
  float: left;
  font-size: 40px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sk .intro .intro_headline_ku .fa,
.sk .intro .intro_headline_ku h1 {
  font-size: 30px;
}

.intro .intro_headline_pl .fa, 
.intro .intro_headline_pl h1 {
  color: rgb(255, 255, 255);
  float: left;
  font-size: 40px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sk .intro .intro_headline_pl .fa,
.sk .intro .intro_headline_pl h1 {
  font-size: 30px;
}

.intro .intro_headline_ku h1,
.intro .intro_headline_pl h1 {
  font-family: "DIN Next LT W04 Medium";
  margin-left: 15px;
}

.intro .intro_button {
  float: left;
  width: 100%;
}

.intro_button div,
.intro_button button {
  background-color: rgb(166, 19, 128);
  border: 0;
  padding: 0;
}

.intro_button div:hover,
.intro_button div:focus,
.intro_button button:hover,
.intro_button button:focus {
  background-color: rgb(166, 19, 128);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.intro_button div,
.intro_button div a,
.intro_button div .fa,
.intro_button button,
.intro_button button a,
.intro_button button .fa {
  color: rgb(255, 255, 255);
}

.intro_button div a,
.intro_button button a {
  display: table;
  font-family:"DIN Next LT W04 Light";
  font-size: 22px;
  line-height: 24px;
  padding: 0 55px 0 0;
  position: relative;
  text-align: left;
}

.intro_button div,
.intro_button button {
  display: table;
  font-family:"DIN Next LT W04 Light";
  font-size: 22px;
  line-height: 24px;
  padding: 10px 55px 10px 20px;
  position: relative;
  text-align: left;
}

.intro_button div .fa,
.intro_button button .fa {
  font-size: 37px;
  position: absolute;
  right: 12px;
  top: 14px;
}

.intro.ku .intro_button div,
.intro.ku .intro_button button {
  padding-right: 0;
}

.intro.ku .intro_button div .fa,
.intro.ku .intro_button button .fa {
  margin-top: -10px;
}

.intro.pl .intro_pl_slider { 
  display: none; 
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .intro.ku {
    background-position: 63% 0;
    height: 500px;
  }

  .intro.pl {
    background-position: 12% 0;
    height: 380px;
  }

  .intro.ku .intro_headline {
    margin-top: 180px;
  }

  .intro.pl .intro_headline {
    margin-top: 50px;
  }

  .intro .intro_headline_ku {
    padding: 10px 15px;
  }

  .intro .intro_headline_pl {
    padding: 10px 15px;
  }

  .intro.ku .intro_headline_ku .fa, 
  .intro.ku .intro_headline_ku h1,
  .intro.pl .intro_headline_pl .fa, 
  .intro.pl .intro_headline_pl h1 {
    font-size: 18px;
    line-height: 20px;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {
  .intro.pl {
    background-position: 10% 0;
  }

}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .intro.ku {
    background-position: 63% 0;
  }

  .intro.pl {
    background-position: 10% 0;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  .intro.ku {
    height: 417px;
  }

  .intro.pl {
    height: 417px;
  }

  .intro.ku .intro_headline {
    margin-top: 230px;
  }

  .intro.pl .intro_headline {
    margin-top: 70px;
  }
}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** bar_hotels ***/
/*****************************************/
.bar_hotels {
  background-color: rgb(216, 219, 221);
  float: left;
  text-align: center;
  width: 100%;
}

.bar_hotels h2,
.bar_hotels a {
    color: rgb(0, 83, 155);
    font-size: 25px;
    line-height: 27px;
    margin: 20px 0;
    padding: 0;
}

.bar_hotels .counter-barhotels {
  color: rgb(0, 83, 155);
  font-size: 25px;
/*  line-height: 60px;*/
}

.headline_hotels.paku h2 {
/*  margin: 40px 0;*/
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .bar_hotels h2 {
    font-size: 20px;
    line-height: 22px;
    margin: 17px 0;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** bar_blue ***/
/*****************************************/
.bar_blue {
  background-color: rgb(0, 83, 155);
  float: left;
  padding: 0 0;
  width: 100%;
}

.bar_blue .grid_icons {
  float: left;
  width: 100%;
}

.bar_blue .grid_icons .grid_icons_block {
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  width: 20%;
}

.bar_blue .grid_icons .grid_icons_block {
  height: 70px;
  overflow: hidden;
  position: relative;
}

.bar_blue .grid_icons .grid_icons_block_icon {
  float: left;
  height: 47px;
  padding-top: 15px;
  width: 100%;
}

.bar_blue .grid_icons .grid_icons_block_content {
/*  padding: 0;
  position: absolute;
  bottom: -16px;
  
  transition: all 0.5s ease;
  
  float: left;
  width: 100%;*/
}

.bar_blue .grid_icons .grid_icons_block:hover .grid_icons_block_content {
/*  bottom: 10px;*/
}

.bar_blue .grid_icons .grid_icons_block a {
  color: rgb(255, 255, 255);
}



.bar_blue .grid_icons .grid_icons_block .fa {
  float: left;
  font-size: 30px;
  margin-bottom: 3px;
  width: 100%;
}

.bar_blue .grid_icons .grid_icons_block .icon_people {
  display: inline-block;
  height: 18px;
  margin: 0 auto 2px auto;
  position: relative;
  width: 27px;
}

.bar_blue .grid_icons .grid_icons_block .icon_people .fa.left,
.bar_blue .grid_icons .grid_icons_block .icon_people .fa.right {
  position: absolute;
  top: 0;
  width: auto;
}

.bar_blue .grid_icons .grid_icons_block .icon_people .fa.left {
  left: 0;
}


.bar_blue .grid_icons .grid_icons_block .icon_people .fa.right {
  right: 0;
}

.bar_blue .grid_icons .grid_icons_block span {
  float: left;
  font-size: 13px;
  width: 100%;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .bar_blue { 
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** slider_hotels ***/
/*****************************************/
.slider_hotels {
    float: left;
    width: 100%;
}

.slider_hotels .container .row {
  margin: 0;
}

.slider_hotels .slider_hotels_headline {
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 0 30px;
}

.slider_hotels .slider_hotels_headline h2 {
    color: rgb(0, 83, 155);
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: center;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

.slider_hotels .slider_hotels_headline h2:before, 
.slider_hotels .slider_hotels_headline h2:after {
  flex-grow: 1;
  height: 1px;
  content: '\a0';
  background-color: rgb(0, 83, 155);
  position: relative;
  top: 0.5em;
}

.slider_hotels .slider_hotels_headline h2:before {
  margin-right: 10px;
}

.slider_hotels .slider_hotels_headline h2:after {
  margin-left: 10px;
}

.slider_hotels .slider_hotels_button {
  padding: 0 30px;
}

.slider_hotels .slider_hotels_button .btn.all_offerings {
  background-color: rgb(175, 202, 5);
  border-radius: 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 4px;
  text-transform: uppercase;
}

.btn.all_offerings a {
    color: #fff;
    font-size: 20px;
}

.slider_hotels .slider_hotels_button .btn.all_offerings .fa {
    font-size: 27px;
    font-weight: bold;
    margin-left: 10px;
}

.slider_hotels .slider_hotels_contact {
  margin-bottom: 40px;
  margin-top: 20px;
}

.slider_hotels .slider_hotels_contact h3 {
    color: rgb(0, 83, 155);
    font-size: 22px;
    line-height: 24px;
    margin: 15px 0 10px;
}

.slider_hotels .slider_hotels_contact a {
  color: #333;
  font-size: 17px;
  font-family:"DIN Next LT W04 Medium";
}

.slider_hotels .slider_hotels_contact a img {
    margin-right: 4px;
    margin-top: -3px;
    width: 15px;
}

.slider_hotels .slider_hotels_contact span {
    margin: 0 10px;
}

.intro_ku_slider {
    margin-bottom: 200px;
}

.intro_pl_slider {
    margin-top: 60px;
}

.intro_ku_slider_wrap,
.intro_pl_slider_wrap {
    float: right;
    width: 385px;
}

.intro_ku_slider_wrap .carousel,
.intro_pl_slider_wrap .carousel {
    background-color: rgb(255, 255, 255);
    position: relative;
    opacity: 0.95;
}

.intro_ku_slider_wrap .carousel-inner .item,
.intro_pl_slider_wrap .carousel-inner .item {
  padding: 10px 30px;
}

.intro_ku_slider_wrap .carousel-inner .item img,
.intro_pl_slider_wrap .carousel-inner .item img {
  width: 100%;
  height: 100%;
}

.intro_ku_slider_wrap .carousel-inner .item blockquote,
.intro_pl_slider_wrap .carousel-inner .item blockquote {
  border: 0;
  margin: 0;
  min-height: 90px;
  position: relative;
}

.intro_ku_slider_wrap .carousel-inner .item blockquote p,
.intro_pl_slider_wrap .carousel-inner .item blockquote p {
  margin: 0;
}

.intro_ku_slider_wrap .carousel-inner .item blockquote small,
.intro_pl_slider_wrap .carousel-inner .item blockquote small {
  bottom: 10px;
  color: #b8bbbd;
  font-size: 13px;
  position: absolute;
  text-align: right;
  line-height: 10px;
}

.intro_ku_slider_wrap a {
    color: #b8bbbd;
    font-size: 13px;
}

.intro_ku_slider .item .thumbnail,
.intro_pl_slider .item .thumbnail {
  margin-bottom: 0;
}


.intro_ku_slider .carousel-control.left, 
.intro_ku_slider .carousel-control.right,
.intro_pl_slider .carousel-control.left,
.intro_pl_slider .carousel-control.right {
    background-image: none !important;
    background-color: transparent;
    font-size: 27px;
}

.intro_ku_slider .carousel-control,
.intro_pl_slider .carousel-control {
  background: #fff;
  color: #999;
  padding: 4px 0;
  width: 26px;
  top: 30%;  
  left: auto;
  bottom: auto;
  opacity: 1;
  text-shadow: none;
}

.intro_ku_slider .carousel-control:hover,
.intro_ku_slider .carousel-control:focus,
.intro_pl_slider .carousel-control:hover,
.intro_pl_slider .carousel-control:focus {
  color: #999;
}

.intro_ku_slider .carousel-control.right,
.intro_pl_slider .carousel-control.right {
  right: 10px;
}

.intro_ku_slider .carousel-control.left,
.intro_pl_slider .carousel-control.left {
  left: 10px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .slider_hotels .slider_hotels_headline h2::before, 
  .slider_hotels .slider_hotels_headline h2::after {
    background-color: transparent;
  }

  .slider_hotels .slider_hotels_headline h2 {
    font-size: 20px;
    line-height: 22px;
    margin: 17px 0;
  }

  .intro_ku_slider_wrap,
  .intro_pl_slider_wrap {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .intro_ku_slider {
    margin-bottom: 32px !important;
  }

  .intro_pl_slider {
    margin-top: 55px;
  }

  .slider_hotels .slider_hotels_contact .teltext-right-tel {
    display: block;
    margin: 5px 0;
    text-align: center;
  }

  .slider_hotels .slider_hotels_contact .pipe {
    display: none;
  }

  .intro_ku_slider_wrap .carousel-inner .item blockquote,
  .intro_pl_slider_wrap .carousel-inner .item blockquote {
    min-height: 125px;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  .intro.ku .intro_headline {
    margin-top: 80px;
  }

  .intro_pl_slider {
    margin-top: 70px;
  }

  .intro_ku_slider,
  .intro_pl_slider {
    margin-bottom: 70px
  }
}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** newsletter ***/
/*****************************************/
.newsletter {
  background-color: rgb(0, 83, 155);
  float: left;
  margin-top: 30px;
  padding: 30px 0;
  width: 100%;
}

.newsletter-headline {
  color: rgb(255, 255, 255);
  font-size: 19px;
  line-height: 21px;
  margin: 20px 0 10px 0;
}

.newsletter-content {
  color: rgb(255, 255, 255);
}

.newsletter-center {
  float: none;
  margin: 25px auto;
  width: 400px;
}

.newsletter-center .form-group {
  float: left;
  margin: 0 10px 0 0;
}

.newsletter-center .form-group input {
  background-color: #8ccef8;
  border: 1px solid #8ccef8;
  height: 30px;
  padding: 2px 5px;
  width: 250px;
  
  -webkit-appearance: none;
  border-radius: 0;
}

.newsletter-center .btn-newsletter {
  background-color: rgb(166, 19, 128);
  border-radius: 0;
  color: rgb(255, 255, 255);
  height: 30px;
  padding: 2px 35px 2px 20px;
  position: relative;
}

.newsletter-center .fa {
  font-size: 26px;
  position: absolute;
  right: 10px;
  top: 0;
}

.newsletter-center .btn-newsletter:hover,
.newsletter-center .btn-newsletter:focus {
  color: rgb(255, 255, 255);
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .newsletter-center .form-group {
    width: 100%;
  }

  .newsletter-center .btn-newsletter {
    margin-top: 10px;
  }

  .newsletter-center {
    width: 100%;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** fullimage contact ***/
/*****************************************/
.intro.contact {
  background-image: url("http://www.connexreisecenter.com/fileadmin/reisecenter/templates/images/header_kontakt.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  float: left;
  height: 488px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.intro.contact .box_contact {
  background-color: rgb(255, 255, 255);
  float: left;
  margin-top: 50px;
  padding: 25px;
  width: 350px;
  opacity: 0.95;
}

.intro.contact .box_contact .head {
  position: relative;
}

.intro.contact .box_contact .headline {
  max-width: 90%;
}

.box_contact {
  overflow: hidden;
}

.box_contact .headline,
.box_contact .content {
  float: left;
  width: 100%;
}

.box_contact .headline {
  color: rgb(0, 83, 155);
  font-size: 20px;
  font-family:"DIN Next LT W04 Medium";
  line-height: 22px;
  margin-bottom: 30px;
}

.box_contact .content {
  margin: 5px 0 15px 0;
}

.box_contact .icon {
  float: left;
  margin-top: 33px;
  width: 35px;
}

.box_contact .PL {
  margin-top: 30px;
}

.box_contact .KU .icon .fa {
  color: rgb(175, 202, 5);
}

.box_contact .PL .icon .fa {
  color: rgb(0, 152, 129);
}

.box_contact .icon .fa {
  font-size: 33px;
}

.box_contact .block {
  float: left;
  padding-left: 20px;
  width: 230px;
}

.box_contact .block .headline {
  font-size: 18px;
}

.box_contact .block .headline.ku {
  color: rgb(175, 202, 5);
}

.box_contact .block .headline.pl {
  color: rgb(0, 152, 129);
}

.box_contact .block span,
.box_contact .block a {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 100%;
}

.box_contact .block a {
  color: rgb(51, 51, 51);
  font-family:"DIN Next LT W04 Medium";
  font-size: 16px;
}

.box_contact .block a.mail {
  color: rgb(51, 51, 51);
  font-family:"DIN Next LT W04 Light";
  font-size: 14px;
  margin-top: 5px;
}

.box_contact .block a img {
  height: auto;
  margin-top: -1px;
}

.intro.contact .editor {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  padding: 25px 25px 10px 25px;
}

.intro.contact .editor h3 {
  color: rgb(0, 83, 155);
  margin-top: 0;
  margin-bottom: 5px;
}

.contact .box_contact .fa.fa-envelope {
  background-color: rgb(0, 83, 155);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 19px;
  height: 40px;
  line-height 19px;
  padding: 10px 8px 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: -31px;
  width: 40px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .box_contact .icon {
    display: none;
  }

  .intro.contact .box_contact {
    width: auto;
    float: none;
    margin: 50px auto 0 auto;
  }

}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {

  .box_contact .icon {
    display: none;
  }

}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** cookie ***/
/*****************************************/
 #cookieChoiceInfo { background-color: #6a7ed5; /* Panel Hintergrund farbe */
border-top: 4px solid #c8b13c; /* Rahmen top farbe and style */
color: #000000; /* Schriftfarbe */
padding: 10px; opacity: .8; /* Deckkraft */ }

/* mehr Info link */
#cookieInfoLink { color: #E00000; /* Schriftfarbe More info Link*/ }

/* mehr Info link hover*/
#cookieInfoLink:hover { color: #009BE6; /* More info Link hover Hintergrund */ }

/* OK Button */
#cookieChoiceDismiss { background-color: #009BE6; /* Button Hintergrund */
color: #FFFFFF; /* Schrift Hintergrund */
text-decoration: none;
font-weight: 600; font-size: 16px;
padding: 3px 10px;
border-radius: 3px; }

/* OK Button hover*/
#cookieChoiceDismiss:hover
{ background-color: #42a32d; /* Button mouse hover Hintergrund */ }

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** back to top ***/
/*****************************************/
a.back-to-top {
  background-color: rgb(166, 19, 128);
  border: 1px solid rgb(166, 19, 128);
  border-radius: 20px;
  bottom: 15px;
  color: rgb(255, 255, 255);
  display: none;
  height: 40px;
  padding: 0 7px;
  position: fixed;
  right: 55px;
  text-align: center;
  width: 40px;
  z-index: 999;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.back-to-top .fa {
  float: left;
  font-size: 40px;
  line-height: 40px;
  margin: -1px 0 0 0;
  padding: 0;
}

a:hover.back-to-top,
a:focus.back-to-top {
  background-color: rgb(166, 19, 128);
  border-color: rgb(166, 19, 128);
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {
  a.back-to-top {
    right: 20px;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** choose us ***/
/*****************************************/
.bar-choose-us {
  background-color: rgb(216, 219, 221);
  float: left;
  padding: 15px 0;
  width: 100%;
}

.bar-choose-us-wrap {}

.bar-choose-us-wrap .fa {
  display: table;
  float: none;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

.bar-choose-us-wrap span {
  display: block;
  float: left;
  font-size: 17px;
  font-family: "DIN Next LT W04 Medium";
  padding-left: 25px;
}

.bar-choose-us-wrap .fa,
.bar-choose-us-wrap span {
  color: rgb(0, 83, 155);
}

.bar-choose-us-wrap {
  float: none;
  margin: 0 auto;
  max-width: 700px;
}

.bar-choose-us-wrap .block-left {
  float: left;
  max-width: 250px;
  position: relative;
}

.bar-choose-us-wrap .block-right {
  float: right;
  position: relative;
  max-width: 350px;
}

.bar-choose-us-wrap .block-left > DIV,
.bar-choose-us-wrap .block-right > DIV {
  margin: 10px 0;
}

.bar-choose-us-wrap .block-left .fa,
.bar-choose-us-wrap .block-right .fa {
  left: 0;
  position: absolute;
  top: -5px;
}



/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .bar-choose-us-wrap ul li {
    width: 100%;
  }

  .bar-choose-us-wrap,
  .bar-choose-us-wrap .block-left,
  .bar-choose-us-wrap .block-right {
    float: left;
    width: 100%;
    max-width: 100%;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {
  .bar-choose-us-wrap,
  .bar-choose-us-wrap .block-left,
  .bar-choose-us-wrap .block-right {
    width: 320px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** footer ***/
/*****************************************/
.footer {
  float: left;
  padding-bottom: 10px;
  padding-top: 15px;
  width: 100%;
}

.footer a {
  color: rgb(51, 51, 51);
  padding: 0 10px;
  text-transform: uppercase;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** slider logos ***/
/*****************************************/
.slider_logos {
  float: left;
  padding-top: 30px;
  width: 100%;
}

.slider_logos .slick-slide .grid {
  background-color: transparent;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .wrap .slider_logos .slick-slide .grid .image-block img {
    width: 100%;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** editor ***/
/*****************************************/
.editor {
  float: left;
  width: 100%;
}

.editor .row {
  margin: 0 100px;
}

.editor.text-center {
  padding: 30px 25px 20px 25px;
}

.editor.text-center,
.editor.text-center p,
.editor.text-center span,
.editor.text-center a {
  font-size: 16px;
  line-height: 23px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .editor .row {
    margin: 0;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .editor .row {
    margin: 0;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** contact ***/
/*****************************************/
.intro.contact .box_contact_form {
  background-color: rgb(255, 255, 255);
  float: right;
  margin-top: 50px;
  padding: 20px 30px 15px 30px;
  width: 600px;
  opacity: 0.95;
}

#contact .contact-form {
  background-color: rgba(255, 255, 255, 0.7);
}

.contact-teaser.text-center {
  margin: 0 150px 30px;
}

.contact-teaser.text-center p {
  font-size: 17px;
  line-height: 24px;
}

.contact-form {}

.contact-form .Tx-Formhandler {
  padding: 0 30px;
}

.Tx-Formhandler h3 {
    color: rgb(0, 83, 155);
    font-size: 20px;
}

.Tx-Formhandler p {
    font-size: 14px;
}

.kontakt_form_home {
  float: left;
  width: 100%;
  font-family: "DIN Next LT W04 Light";
}

.form-horizontal .kontakt_form_home .form-group {
  margin: 0 -10px 4px -10px;
}

.kontakt_form_home .gender {}

.kontakt_form_home .gender input {
  margin-right: 10px;
}

.kontakt_form_home .gender label {
  margin-right: 25px;
  font-weight: normal;
}

.kontakt_form_home .input-border {
  margin: 0 2px;
  padding: 0;
  width: 49%;
}

.kontakt_form_home .input-border.voucher,
.kontakt_form_home .input-border.message {
  width: 99%;
}

.kontakt_form_home .input-border label {
  font-size: 12px;
  left: 0;
  margin: 4px 0 0 7px;
  position: absolute;
  top: 0;
  width: 100%;
  font-weight: normal;
}

.kontakt_form_home .input-border input {
  background-color: #eef1f3;
  border: 1px solid #eef1f3;
  margin: 0;
  padding: 20px 4px 4px 6px;
  width: 100%;
}

.kontakt_form_home .input-border.message {
  width: 99%;
}

.kontakt_form_home .input-border.message textarea {
  background-color: #eef1f3;
  border: 1px solid #eef1f3;
  min-height: 80px;
  padding: 20px 4px 4px 6px;
  resize: none;
  width: 100%;
}

.wrap .contact-form .btn {
  background-color: rgb(235, 196, 0);
  color: rgb(255, 255, 255);
  float: right;
  margin-right: -6px;
  margin-top: 4px;
}

.kontakt_form_home .input-border.message .errorField,
.kontakt_form_home .input-border .errorField {
  border: 1px solid red;
}

.footer-block {
  margin-top: 60px;
}

.footer-block ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-block ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-block ul li a {
  color: rgb(255, 255, 255);
  font-family: "DIN Next LT W04 Medium";
  margin-right: 25px;
  text-transform: uppercase;
}

.kontakt_form_home .form-group .btn {
  background-color: rgb(0, 83, 155);
  border-radius: 0;
  color: rgb(255, 255, 255);
  float: right;
  font-size: 14px;
  height: auto;
  line-height: 15px;
  margin-right: -10px;
  padding: 9px 30px 10px 15px;
  position: relative;
  text-transform: uppercase;
}

.kontakt_form_home .form-group .btn .fa {
  font-size: 22px;
  position: absolute;
  right: 15px;
  top: 5px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .intro.contact {
    height: 1080px !important;
  }

  .intro.contact .box_contact_form {
    width: 100%;
  }

  .kontakt_form_home .input-border {
    margin: 2px 0;
    padding: 0;
    width: 100%;
  }

  .form-horizontal .kontakt_form_home .form-group {
    margin: 0 -10px 0;
  }

  .kontakt_form_home .form-group .btn {
    margin-top: 10px;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {
  .intro.contact {
    height: 800px;
  }

  .intro.contact .box_contact {
    width: 100%;
  }

  .intro.contact .KU, .intro.contact .PL {
    float: left;
    margin: 0 !important;
    width: 50%;
  }

  .intro.contact .box_contact_form {
    width: 100%;
  }

}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .intro.contact .box_contact {
    width: 310px;
  }

  .intro.contact .box_contact_form {
    width: 380px;
  }

  .kontakt_form_home .input-border {
    width: 48%;
  }

  .kontakt_form_home .input-border.voucher, 
  .kontakt_form_home .input-border.message {
    width: 97.4%;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  .intro.contact .box_contact_form {
    width: 550px;
  }
}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** footer-logos ***/
/*****************************************/
.footer-logos {
  float: left;
  padding: 30px 0;
  width: 100%;
}

.footer-logos {}

.footer-logos img {
  float: left;
  width: 14%;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** modal ***/
/*****************************************/
.modal-header .close {
  display: none;
}

#myModalPauschalreisen .modal-body {
  float: left;
  padding: 15px 0;
}

#myModalPauschalreisen .modal-body p,
#myModalPauschalreisen .modal-body b,
#myModalImpressum .modal-body p,
#myModalImpressum .modal-body b,
#myModalImpressum .modal-body a {
  font-size: 16px;
  line-height: 20px;
}


#myModalPauschalreisen {}

#myModalPauschalreisen .modal-header h4 {
  color: rgb(0, 152, 129);
  font-size: 30px;
  padding-top: 4px;
}

#myModalPauschalreisen .modal-header .fa {
  color: rgb(0, 152, 129);
  float: left;
  font-size: 25px;
  margin: -0 7px 0 0;
}

#myModalPauschalreisen .modal-body .pl-bsp-border {
  background-color: #d2d2d2;
  border: 1px solid rgb(0, 152, 129);
  margin-bottom: 20px;
  padding: 0;
}

#myModalPauschalreisen .modal-header .close > span {
  font-size:40px;
}

#myModalPauschalreisen .table-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(0, 152, 129);
  color: rgb(0, 152, 129);
  float: left;
  width: 100%;
}

#myModalPauschalreisen .table-header p {
  padding: 5px 15px;
  margin: 0;
}


#myModalPauschalreisen .table-content {
  float: left;
  width: 100%;
}

#myModalPauschalreisen .table-content td {
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

#myModalPauschalreisen .table-content td.td-price {
  max-width: 82px !important;
  min-width: 82px !important;
  width: 82px !important;
}

#myModalPauschalreisen .table-content td:nth-child(2) {
  border-right: 0;
}

#myModalPauschalreisen .table-content .price {
  text-align: right;
}

#myModalPauschalreisen .table-content p {
  margin: 0;
  padding: 5px 15px;
  font-size: 13px;
  line-height: 15px;
}

#myModalPauschalreisen .table-content.bg {
  background-color: rgb(0, 152, 129);
  float: left;
  width: 100%;
}

#myModalPauschalreisen .table-content.bg p {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 5px 15px;
}

#myModalPauschalreisen .table-content.bg td {
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 0;
}

#myModalPauschalreisen .table-content.bg td:nth-child(2) {
  border-right: 0;
}


#myModalPauschalreisen .modal-body .listing {
  font-family: "DIN Next LT W04 Medium";
  left: 0;
  position: absolute;
  top: 3px;
  font-size: 16px;
  color: rgb(0, 152, 129);
}

#myModalPauschalreisen .modal-body .list-wrap p {
  padding-left: 15px;
}

#myModalPauschalreisen .modal-body .content-small p {
  font-size: 12px;
  line-height: 14px;
}

#myModalPauschalreisen .fa-phone {
    color: rgb(0, 152, 129);
    float: left;
    font-size: 40px;
    padding: 20px 15px 25px;
}


#myModalPauschalreisen .list-headline p {
    color: rgb(0, 152, 129);
    font-size: 20px;
    font-family: "DIN Next LT W04 Medium";
}

#myModalPauschalreisen .tour-operators {
    padding-top: 5px
}


#myModalImpressum .modal-header h4 {
  color: rgb(0, 83, 155);
  font-size: 30px;
  padding-top: 4px;
}

#myModalImpressum .modal-body h2 {
  color: rgb(0, 83, 155);
  font-size: 20px;
  padding-top: 4px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {
  .modal.in .modal-dialog {
    width: 75%;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** kurzurlaub ***/
/*****************************************/
body.kurzurlaub .navbar-shrink .dropdown_contact_mobile .contact_mobile.ku {
  float: right;
}

body.kurzurlaub .contact_mobile .dropdown-menu.ku {
  left: auto;
  right: 0;
}

body.kurzurlaub .slider_hotels.slider_logos {
  display: none;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  body.kurzurlaub .contact_mobile .dropdown-menu.ku {
    left: 0;
    right: auto;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}