.bar_hotels h2,
.bar_hotels a,
.bar_hotels .counter-barhotels,
.slider_hotels .slider_hotels_headline h2,
.slider_hotels .slider_hotels_contact h3,
.box_contact .headline,
.bar-choose-us-wrap .fa,
.bar-choose-us-wrap span,
.slick-slide .booked.red,
.navbar > .container .navbar-brand span {
  color: #b80f24;
}


.intro_button div,
.intro_button button,
.slick-slide .grid .content-block .view-savings,
.slider_hotels .slider_hotels_headline h2::before,
.slider_hotels .slider_hotels_headline h2::after,
.slick-slide .grid .image-block .fa,
.kontakt_form_home .form-group .btn,
.contact .box_contact .fa.fa-envelope { 
  background-color: #b80f24 !important;
}

a.back-to-top {
  background-color: #b80f24 !important;  
}



a:hover, a:focus { color: #b80f24;}

.bar_hotels h2:hover,
.bar_hotels a:hover { color: #b80f24 !important; text-decoration: none; } 


.bar_blue { background-color: #827a74; }

.bar_hotels, .bar-choose-us { background-color: #d9d8d6;}




.logo_content_slogan { display: none; }


.navbar-shrink .navbar-brand img { display: none; }


