<div class="container">
  <f:for each="{data.tx_mask_ce_box_modal_infos}" as="data_item">
    <div class="col-md-3 box_modal_info_item element_from_top">
      <div class="helper">
        <p class="verticalBottom">{data_item.tx_mask_ce_box_modal_infos_header}</p>
        <f:if condition="{data_item.tx_mask_ce_box_modal_infos_img}">
          <f:for each="{data_item.tx_mask_ce_box_modal_infos_img}" as="file">
            <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="80" />
          </f:for>
        </f:if>
      </div>
    </div>
  </f:for>
</div>

