<div class="container">
<div class="col-xs-12 regular slider slick_{data.uid} element_from_top">
    <f:for each="{data.tx_mask_ce_blog_slider_items}" as="data_item">
      <div>
        <div class="grid-slider">
          <!-- colored -->
          <div class="ih-item square colored effect13 top_to_bottom">
            <a target="_blank" href="{data_item.tx_mask_ce_blog_slider_item_link}">
              <div class="img">
                <f:if condition="{data_item.tx_mask_ce_blog_slider_item_img}">
                  <f:for each="{data_item.tx_mask_ce_blog_slider_item_img}" as="file">
                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="400" />
                  </f:for>
                </f:if>
              </div>
                <div class="info">
                  <h3>{data_item.tx_mask_ce_blog_slider_item_text}</h3>
                  <p>{data_item.tx_mask_ce_blog_slider_item_txt}</p>
                  <div class="btn btn-casestudies">{data_item.tx_mask_ce_blog_slider_item_linktxt}</div>
                </div>
            </a>
          </div>
          <!-- end colored -->
        </div>
      </div>
    </f:for>
  </div>
</div>


  <script type="text/javascript">
      $(document).on('ready', function() {
          $(".slick_{data.uid}").slick({
              dots: false,
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 2000,
              speed: 3000,
              touchMove: false,
              arrows: true,

              responsive: [
                  {
                      breakpoint: 991,
                      settings: {
                          slidesToShow: 3,
                          slidesToScroll: 1
                      }
                  },
                  {
                      breakpoint: 768,
                      settings: {
                          slidesToShow: 3,
                          slidesToScroll: 1
                      }
                  },
                  {
                      breakpoint: 600,
                      settings: {
                          slidesToShow: 2,
                          slidesToScroll: 1
                      }
                  },
                  {
                      breakpoint: 480,
                      settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1,
                          speed: 1000
                      }
                  }
                  // You can unslick at a given breakpoint now by adding:
                  // settings: "unslick"
                  // instead of a settings object
              ]
          });
      });
  </script>

