<f:if condition="{data.tx_mask_ce_erfolg_items}">
<div class="ce_text text-center element_from_top " style="opacity: 1; top: 0px;">
  <div class="container">
    <h2>{data.tx_mask_ce_erfolg_headline}</h2>
  </div>
</div>
<div class="container">
  <div class="CE_ERFOLG col-xs-12" id="CE_ERFOLG_{data.uid}">

      <f:for each="{data.tx_mask_ce_erfolg_items}" as="data_item">
        <div class="CE_ERFOLG_ITEM">
          <div class="row">
            <div class="col-md-4">
              <f:if condition="{data_item.tx_mask_ce_erfolg_item_img}">
                <f:for each="{data_item.tx_mask_ce_erfolg_item_img}" as="file">
                  <f:image class="img-responsive" image="{file}" alt="{file.alternative}" title="{file.title}" width="400" />
                </f:for>
              </f:if>
            </div>
            <div class="col-md-8 ">
              <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_ce_erfolg_item_text}</f:format.html>
            </div>
          </div>
        </div>
      </f:for>

  </div>
  <div class="row CE_ERFOLG_FOOTER">
    <div class="col-md-10">
      <p>
        <f:format.nl2br>{data.tx_mask_ce_erfolg_text_footer}</f:format.nl2br>
      </p>
    </div>
    <div class="col-md-2">
      <div class="btn btn-header-image">
        <a class="page-scroll" href="#contact">Kontakt</a>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function(){
          $('#CE_ERFOLG_{data.uid}').slick({
              slide:".CE_ERFOLG_ITEM"
          });
      });
  </script>
</div>
</f:if>