<div class="header-image">
  <f:if condition="{data.tx_mask_ce_headerimage_img}">
    <f:for each="{data.tx_mask_ce_headerimage_img}" as="file">
      <div class="header-image-image" style="background-image:url({f:uri.image(src: '{file.uid}', treatIdAsReference:1)});"></div>
    </f:for>
  </f:if>
  <div class="header-image-content">
    <h1 class="headline text-center">
      <f:if condition="{data.tx_mask_ce_headerimag_headline}">
        <f:format.nl2br>{data.tx_mask_ce_headerimag_headline}</f:format.nl2br><br />
      </f:if>
    </h1>
    <f:if condition="{data.tx_mask_ce_headerimage_text}">
      <span class="subline text-center"<f:format.nl2br>{data.tx_mask_ce_headerimage_text}</f:format.nl2br></span>
    </f:if>
    <div class="button">
      <div class="btn btn-header-image text-center">
        <a class="page-scroll" href="#contact">Kontakt</a>
      </div>
    </div>
  </div>
  <f:if condition="{data.tx_mask_ce_headerimage_svg}">
    <f:for each="{data.tx_mask_ce_headerimage_svg}" as="file">
      <f:image class="image-svg" image="{file}" alt="{file.alternative}" title="{file.title}" maxWidth="200" />
     </f:for>
  </f:if>
</div>