<f:if condition="{data.colPos} == '-1'">
  <f:then>
    <div class="ce_image element_from_top">
      <f:if condition="{data.tx_mask_ce_image_full}">
          <f:if condition="{data.tx_mask_ce_image_img}">
            <f:for each="{data.tx_mask_ce_image_img}" as="file">
              <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="600" class="img-responsive" />
            </f:for>
          </f:if>
      </f:if>
    </div>
  </f:then>
  <f:else>
    <div class="ce_image element_from_top">
      <f:if condition="{data.tx_mask_ce_image_full}">
        <f:switch expression="{data.tx_mask_ce_image_full}">
          <f:case value="1">
            <f:if condition="{data.tx_mask_ce_image_img}">
              <f:for each="{data.tx_mask_ce_image_img}" as="file">
                <f:if condition="{data.tx_mask_ce_image_triangle} == '2'">
                  <div class="cx-triangle"></div>
                </f:if>
                <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="1600" class="img-responsive" />
                <f:if condition="{data.tx_mask_ce_image_link}">
                  <div class="ce_image_btn">
                    <a href="{data.tx_mask_ce_image_link}" class="btn page-scroll">{data.tx_mask_ce_image_linktxt}</a>
                  </div>
                </f:if>
              </f:for>
            </f:if>
          </f:case>
          <f:case value="2">
            <div class="container element_from_top">
              <f:if condition="{data.tx_mask_ce_image_img}">
                <f:for each="{data.tx_mask_ce_image_img}" as="file">
                  <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="1200" class="img-responsive" />
                </f:for>
              </f:if>
            </div>
          </f:case>
        </f:switch>
      </f:if>
    </div>
  </f:else>
</f:if>







