<div class="CE_MODAL_ITEMS">
  <div class="container">
    <div class="row no-gutters">
      <f:for each="{data.tx_mask_ce_modal_items}" as="data_item">
        <f:if condition="{data_item.tx_mask_ce_modal_item_bg}">
          <f:then>
            <f:for each="{data_item.tx_mask_ce_modal_item_bg}" as="file">
              <f:switch expression="{data.tx_mask_ce_modal_cols}">
                <f:case value="1"><div class="col-md-6 col-xs-12 CE_MODAL_ITEM" data-toggle="modal" data-target="#modal_info_{data_item.uid}" style="background-image:url({f:uri.image(src: '{file.uid}', treatIdAsReference:1)});"></f:case>
                <f:case value="2"><div class="col-md-4 col-xs-12 CE_MODAL_ITEM" data-toggle="modal" data-target="#modal_info_{data_item.uid}" style="background-image:url({f:uri.image(src: '{file.uid}', treatIdAsReference:1)});"></f:case>
                <f:case default="TRUE"><div class="col-md-6 col-xs-12 CE_MODAL_ITEM" data-toggle="modal" data-target="#modal_info_{data_item.uid}" style="background-image:url({f:uri.image(src: '{file.uid}', treatIdAsReference:1)});"></f:case>
              </f:switch>
            </f:for>
          </f:then>
          <f:else>
            <f:switch expression="{data.tx_mask_ce_modal_cols}">
              <f:case value="1"><div class="col-md-6 col-xs-12 CE_MODAL_ITEM" data-toggle="modal" data-target="#modal_info_{data_item.uid}"></f:case>
              <f:case value="2"><div class="col-md-4 col-xs-12 CE_MODAL_ITEM" data-toggle="modal" data-target="#modal_info_{data_item.uid}"></f:case>
              <f:case default="TRUE"><div class="col-md-6 col-xs-12 CE_MODAL_ITEM" data-toggle="modal" data-target="#modal_info_{data_item.uid}"></f:case>
            </f:switch>

          </f:else>
        </f:if>
          <div class="helper">
            <p class="verticalBottom">
              <f:format.nl2br>{data_item.tx_mask_ce_modal_item_hl}</f:format.nl2br>
            </p>
            <f:if condition="{data_item.tx_mask_ce_modal_item_svg}">
              <f:for each="{data_item.tx_mask_ce_modal_item_svg}" as="file">
                <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="80" />
              </f:for>
            </f:if>
          </div>
        </div>
        <div class="modal fade" id="modal_info_{data_item.uid}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="col-xs-12 no-padding-0 modal-content">
              <div class="col-xs-12 modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="col-xs-12 modal-body">
                <div class="col-xs-12 no-padding-0 text-center">
                  <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_ce_modal_item_txt}</f:format.html>
                </div>
              </div>
            </div>
          </div>
        </div>
      </f:for>
    </div>
  </div>
</div>