<f:if condition="{data.tx_mask_ce_steps_bg}">
  <f:then>
    <f:for each="{data.tx_mask_ce_steps_bg}" as="file">
      <div class="CE_STEPS_CONTAINER" style="background-image:url({f:uri.image(src: '{file.uid}', treatIdAsReference:1)});">
    </f:for>
  </f:then>
</f:if>
<div class="container">
  <div class="CE_STEPS">
    <f:for each="{data.tx_mask_ce_steps}" as="data_item" iteration="i">
      <div class="CE_STEP col-md-2 step-by-step">
        <f:if condition="{data_item.tx_mask_ce_step_headline}">
          <p class="CE_STEP_HEADER">{data_item.tx_mask_ce_step_headline}</p>
        </f:if>
        <f:if condition="{data_item.tx_mask_ce_step_svg}">
          <f:for each="{data_item.tx_mask_ce_step_svg}" as="file">
            <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="80" /><br />
          </f:for>
        </f:if>
        <f:if condition="{data_item.tx_mask_ce_steps_txt}">
          <p><f:format.nl2br>{data_item.tx_mask_ce_steps_txt}</f:format.nl2br></p>
        </f:if>
      </div>
      <f:if condition="{i.index} < 3">
        <div class="CE_STEP_SPLIT col-md-1 step-by-step-arrow">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
      </f:if>
    </f:for>
  </div>
</div>
<f:if condition="{data.tx_mask_ce_steps_bg}">
  <f:then>
  </div>
  </f:then>
</f:if>