<f:if condition="{data.colPos} == '-1'">
    <f:then>
        <div class="ce_text big element_from_top {f:if(condition: '{data.tx_mask_ce_text_small} == 2', then: 'small', else: '')}">
            <f:if condition="{data.tx_mask_ce_text_headline}">
                <h2>{data.tx_mask_ce_text_headline}</h2>
            </f:if>
            <f:if condition="{data.tx_mask_ce_text_text}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_ce_text_text}</f:format.html>
            </f:if>
            <f:if condition="{data.tx_mask_ce_text_linktext}">
                    <f:switch expression="{data.tx_mask_ce_text_pos}">
                        <f:case value="1"><div class="btn btn-header-image"><a href="{data.tx_mask_ce_text_anker}" class="page-scroll {f:if(condition: '{data.tx_mask_ce_text_link_color} == 1', then: 'yellow', else: '')}">{data.tx_mask_ce_text_linktext}</a></div></f:case>
                        <f:case value="2"><div class="left btn btn-header-image"><a href="{data.tx_mask_ce_text_anker}" class="left page-scroll {f:if(condition: '{data.tx_mask_ce_text_link_color} == 1', then: 'yellow', else: '')}">{data.tx_mask_ce_text_linktext}</a></div></f:case>
                        <f:case default="TRUE"><div class="btn btn-header-image"><a href="{data.tx_mask_ce_text_anker}" class="page-scroll {f:if(condition: '{data.tx_mask_ce_text_link_color} == 1', then: 'yellow', else: '')}">{data.tx_mask_ce_text_linktext}</a></div></f:case>
                    </f:switch>
            </f:if>
        </div>
    </f:then>
    <f:else>
        <div class="ce_text text-center element_from_top {f:if(condition: '{data.tx_mask_ce_text_small} == 2', then: 'small', else: '')}">
            <div class="container">
                <f:if condition="{data.tx_mask_ce_text_headline}">
                    <h2>{data.tx_mask_ce_text_headline}</h2>
                </f:if>
                <f:if condition="{data.tx_mask_ce_text_text}">
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_ce_text_text}</f:format.html>
                </f:if>
                <f:if condition="{data.tx_mask_ce_text_linktext}">
                        <f:switch expression="{data.tx_mask_ce_text_pos}">
                            <f:case value="1"><div class="btn btn-header-image"><a href="{data.tx_mask_ce_text_anker}" class="page-scroll {f:if(condition: '{data.tx_mask_ce_text_link_color} == 1', then: 'yellow', else: '')}">{data.tx_mask_ce_text_linktext}</a></div></f:case>
                            <f:case value="2"><div class="left btn btn-header-image"><a href="{data.tx_mask_ce_text_anker}" class="left page-scroll {f:if(condition: '{data.tx_mask_ce_text_link_color} == 1', then: 'yellow', else: '')}">{data.tx_mask_ce_text_linktext}</a></div></f:case>
                            <f:case default="TRUE"><div class="btn btn-header-image"><a href="{data.tx_mask_ce_text_anker}" class="page-scroll {f:if(condition: '{data.tx_mask_ce_text_link_color} == 1', then: 'yellow', else: '')}">{data.tx_mask_ce_text_linktext}</a></div></f:case>
                        </f:switch>
                </f:if>
            </div>
        </div>
    </f:else>
</f:if>