<div class="wrap">
  
  <!-- logo, navigation -->
    <f:render partial="header_top" arguments="{_all}" />
  <!-- logo, navigation -->

  <!-- header-image -->
    <f:render partial="header_image" arguments="{_all}" />
  <!-- header-image -->
  
  <!-- section aside -->
    <f:render partial="fields" arguments="{_all}" />
  <!--section aside -->
  
  
  
  <f:render partial="overlay_branchen" arguments="{_all}" />

  
  <!-- modal -->
    <f:render partial="modal" arguments="{_all}" />
  <!-- modal -->
  
</div>