<f:for each="{data.tx_mask_ce_blog_slider_items}" as="data_item">
  <div style="float:left; width:220px;">
    <f:if condition="{data_item.tx_mask_ce_blog_slider_item_img}">
      <f:for each="{data_item.tx_mask_ce_blog_slider_item_img}" as="file">
        <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
      </f:for>
    </f:if>
    {data_item.tx_mask_ce_blog_slider_item_text}
    {data_item.tx_mask_ce_blog_slider_item_txt}
    {data_item.tx_mask_ce_blog_slider_item_link}
    {data_item.tx_mask_ce_blog_slider_item_linktxt}
  </div>
</f:for>
<br style="clear:left;">