<f:if condition="{data.tx_mask_ce_headerimage_svg}">
  <f:for each="{data.tx_mask_ce_headerimage_svg}" as="svg">
    <f:image image="{svg}" alt="{svg.alternative}" title="{svg.title}" maxWidth="200" /><br />
  </f:for>
</f:if>
<f:if condition="{data.tx_mask_ce_headerimage_img}">
  <f:for each="{data.tx_mask_ce_headerimage_img}" as="bg">
    <f:image image="{bg}" alt="{bg.alternative}" title="{bg.title}" maxWidth="200" /><br />
  </f:for>
</f:if>
{data.tx_mask_ce_headerimage_headline}<br />
<f:format.nl2br>{data.tx_mask_ce_headerimage_text}</f:format.nl2br>