<f:if condition="{data.tx_mask_ce_image_img}">
  <f:for each="{data.tx_mask_ce_image_img}" as="file">
    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200"  />
  </f:for>
</f:if>