    <f:if condition="{data.tx_mask_ce_text_headline}">
        <h2>{data.tx_mask_ce_text_headline}</h2>
    </f:if>
    <f:if condition="{data.tx_mask_ce_text_text}">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_ce_text_text}</f:format.html><br />
    </f:if>

