@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=9e68ea0c-de02-4ac5-840e-c285243e202f&fontids=1448929,1448937");
@font-face{
  font-family:"DIN Next LT W04 Light";
  src:url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448929/a6b05bd7-1f09-4c3e-93a5-8b7d432291b3.eot?#iefix");
  src:url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448929/a6b05bd7-1f09-4c3e-93a5-8b7d432291b3.eot?#iefix") format("eot"),url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448929/8a3ff076-5846-4401-9d7e-10993afac709.woff2") format("woff2"),url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448929/f69bc269-16e5-4f8a-80eb-b049139324fd.woff") format("woff"),url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448929/7742af6c-6711-4ca8-9f62-44005bde2243.ttf") format("truetype");
}
@font-face{
  font-family:"DIN Next LT W04 Medium";
  src:url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448937/fd94b7ac-c184-4f5c-a847-0a4785f3e98f.eot?#iefix");
  src:url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448937/fd94b7ac-c184-4f5c-a847-0a4785f3e98f.eot?#iefix") format("eot"),url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448937/cf1948b4-c50b-418b-a059-e8ed8bf0f9f1.woff2") format("woff2"),url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448937/bd983b7f-76bb-4f54-83bb-889fd36d60e6.woff") format("woff"),url("http://www.connexgroup.net/fileadmin/cx/templates/font/1448937/63fb1f94-0e8f-4c85-b559-b0dd27ecbf5a.ttf") format("truetype");
}

body { webkit-tap-highlight-color: rgb(142,146,147); }

/*
#case_studies,
#know-how,
#marketing_it,
#blog,
#branchen,
#about,
#international,
.header-image { display: none !important; }*/



html,
body {
  background-color: rgb(255,255,255);
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  /*font: normal 14px arial,sans-serif;*/
}

body {
  color: rgb(51, 51, 51);
  font-family:"DIN Next LT W04 Light";
  
  font-size: 13px;
  line-height: 15px;
}

.wrap a,
.wrap p,
.wrap span,
.slick-prev::before, 
.slick-next::before {
  font-family:"DIN Next LT W04 Light";
  font-size: 13px;
  line-height: 15px;
}

.font-light {
  font-family:"DIN Next LT W04 Light";
}

.font-medium {
  font-family:"DIN Next LT W04 Medium";
}

.wrap h1,
.wrap h2,
.wrap h3,
.wrap h4,
.wrap .navbar-default .navbar-nav > li > a,
.wrap .btn {
  font-family:"DIN Next LT W04 Medium";
}

.wrap h1 {
  font-size: 50px;
  line-height: 52px;
  text-transform: uppercase;
}

.wrap h2 {
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.wrap .header-image-content .subline {
  font-family:"DIN Next LT W04 Medium";
}

.wrap .display-none { display: none; }


.wrap .no-padding-0 { padding: 0 0 0 0; }
.wrap .no-padding-o { padding-top: 0; }
.wrap .no-padding-r { padding-right: 0; }
.wrap .no-padding-u { padding-bottom: 0; }
.wrap .no-padding-l { padding-left: 0; }
.wrap .no-padding   { padding: 0 0 0 0; }


.help-block {
  color: inherit;
  display: block;
  margin: 0 auto;
}

.wrap .bold {
  font-weight: bold;
}



/*** typography ***/
/*****************************************/

/********* color

weiß                      #ffffff     rgb(255, 255, 255);

content                   #333333     rgb(51, 51, 51);

**********/



/*** global ***/
/*****************************************/
.wrap {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .wrap h2 {
    font-size: 28px;
    line-height: 31px;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** header ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** navigation ***/
/*****************************************/
.wrap .navbar {
  min-height: 45px;
}

.wrap .navbar-default {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
  margin: 0;
  padding: 0;
}

.wrap .navbar-fixed-top {
  border: 0px;
  top: 0;
}

.wrap .navbar-default .navbar-brand {
  color: rgb(246,132,25);
  height: auto;
  width: 200px;
}

.wrap .navbar-collapse .nav.navbar-nav {
  margin-top: 25px;
}

.wrap .navbar-nav > li:active,
.wrap .navbar-nav > li:focus,
.wrap .navbar-nav > li:hover {
  background-color: rgb(235, 196, 0);
}

.wrap .navbar-nav > li:hover .arrow {}

.wrap .navbar-default .navbar-nav > li > a {
  color: rgb(51,51,51);
  padding: 15px 12px;
  text-transform: uppercase;
}

.wrap .navbar-default .navbar-nav > li.active a {
  background-color: rgb(235, 196, 0);
}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .wrap .navbar-collapse .nav.navbar-nav {
    border-top: 1px solid rgb(174, 174, 175);
    margin: 0;
  }

  .nav.navbar-nav.navbar-right > li {
    border-bottom: 1px solid #e6e6e6;
  }

  .wrap .navbar-default .navbar-nav > li > a {
    padding: 10px 12px;
  }
}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {
  .wrap .navbar-default .navbar-nav > li > a {
    padding: 5px 12px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .navbar-collapse.in {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .wrap .header_logo {
    width: auto;
  }

  .wrap .navbar-default .navbar-brand {
    width: 170px;
  }

  .wrap .navbar-collapse .nav.navbar-nav {
    border-top: 1px solid rgb(174, 174, 175);
    margin: 0;
  }

  .nav.navbar-nav.navbar-right > li {
    border-bottom: 1px solid #e6e6e6;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** nav shrink ***/
/*****************************************/
.wrap .navbar-shrink {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
}

.wrap .navbar-shrink .navbar-brand {
  padding: 5px 15px 5px 0;
  width: 160px;
}

.wrap .navbar-shrink .navbar-collapse .nav.navbar-nav {
  margin-top: 0;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** content ***/
/*****************************************/
.content {
  float: left;
  margin-top: 90px;
  width: 100%;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** back to top ***/
/*****************************************/
a.back-to-top {
  background-color: rgb(235, 196, 0);
  border: 1px solid rgb(235, 196, 0);
  border-radius: 20px;
  bottom: 20px;
  color: rgb(255, 255, 255);
  display: none;
  height: 40px;
  padding: 0 7px;
  position: fixed;
  right: 55px;
  text-align: center;
  width: 40px;
  z-index: 999;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;

  text-transform: uppercase;
  font-family: "DIN Next LT W04 Medium";
}

.back-to-top .fa {
  float: left;
  font-size: 40px;
  line-height: 40px;
  margin: -1px 0 0 0;
  padding: 0;
}

a:hover.back-to-top,
a:focus.back-to-top {
  background-color: rgb(235, 196, 0);
  border-color: rgb(235, 196, 0);
}

a:hover.back-to-top .fa {
  color: rgb(51, 51, 51);
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 481px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {
  a.back-to-top {
    right: 20px;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}






/*** btn***/
/*****************************************/
.wrap .btn {
  border-radius: 0;
  padding: 6px 20px;
}

.btn{
  background-color: rgb(235, 196, 0);
  color: rgb(255, 255, 255);
  display: table;
  float: none;
  font-size: 17px;
  margin: 30px auto 0;
  padding: 0 !important;
  text-align: center;
  text-transform: uppercase;
}


/*** media query *****************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** content load ***/
/*****************************************/
.element_from_top {
  top: -50px;
  padding-right: 0px;
  opacity: 0;
  position: relative;
}
  
.element_from_bottom {
  bottom: -50px;
  padding-left: 0px;
  opacity: 0;
  position: relative;
}
  
.element_from_left {
  left: -80px;
  padding-right: 0px;
  opacity: 0;
  position: relative;
}
  
.element_from_right {
  right: -80px;
  padding-left: 0px;
  opacity: 0;
  position: relative;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** cx-triangle ***/
/*****************************************/
.cx-triangle {
  border-color: rgb(255, 255, 255) transparent transparent;
  border-style: solid;
  border-width: 20px 25px 0;
  float: none;
  height: 0;
  margin: -30px auto 0;
  transform: rotate(360deg);
  width: 0;
  
  
  
  float: none;
  left: 50%;
  margin: 0 0 0 -25px;
  position: absolute;
  right: auto;
  z-index: 1000;
}

#know-how .cx-triangle,
#branchen .cx-triangle {
  margin-top: -30px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** slider ***/
/*****************************************/
.slick-prev::before, .slick-next::before {
  -moz-osx-font-smoothing: grayscale;
  font-family: "slick";
  font-size: 46px !important;
  line-height: 1;
}

.slick-prev::before {
  content: "←";
}

.slick-next::before {
  content: "→";
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-slide{
  margin-right:15px !important;
}

.slick-prev, .slick-next {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  outline: medium none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** section global ***/
/*****************************************/
.content_wrap {
  float: left;
  width: 100%;
}

.section {
  float: left;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 70px;
    padding-bottom: 20px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}







/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}
