/*** header-image ***/
/*****************************************/
.header-image {
  float: left;
  width: 100%;
}

.header-image-image {
  background-attachment: scroll;
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/background_images/Connex_Website_Headerbild.jpg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 675px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.header-image-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.header-image-content .headline {
  display: block;
  font-size: 52px;
  line-height: 54px;
  margin-bottom: 20px;
  margin-top: 300px;
  text-transform: uppercase;
  width: 100%;
}

.header-image-content .subline {
  font-family:"DIN Next LT W04 Medium";
}

.header-image-content .subline {
  display: block;
  font-size: 20px;
  line-height:22px;
  width: 100%;
}

.header-image-content .button {
  display: block;
  width: 100%;
}

.btn.btn-header-image {
  background-color: rgb(235, 196, 0);
  color: rgb(255, 255, 255);
  display: table;
  float: none;
  font-size: 17px;
  margin: 30px auto 0;
  padding: 0 !important;
  text-align: center;
  text-transform: uppercase;
}

.btn.btn-header-image:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn.btn-header-image a {
  color: rgb(255, 255, 255);
  display: block;
  font-family: "DIN Next LT W04 Medium";
  font-size: 15px;
  padding: 8px 20px;
  text-decoration: none;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .header-image-content .headline {
    font-size: 38px;
    line-height: 40px;
    margin: 110px 15px 15px;
    width: auto;
  }

  .header-image-content .subline {
    margin: 0 15px;
    width: auto;
  }

  .header-image-image {
    height: 530px;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .header-image-content .headline {
    font-size: 38px;
    line-height: 40px;
    margin: 110px 15px 15px;
    width: auto;
  }

  .header-image-content .subline {
    margin: 0 15px;
    width: auto;
  }

  .header-image-image {
    height: 400px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .header-image-image {
    height: 620px;
  }

  .header-image-content .headline {
    margin: 230px 20px 20px;
    width: auto;
  }

  .header-image-content .subline {
    margin: 0 20px;
    width: auto;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** section 1 / case studies ***/
/*****************************************/
.ih-item.square {
  position: relative;
  width: 100%;
  height: auto;
}

.ih-item a {
  color: rgb(51, 51,51 );
}

.ih-item a:hover {
  text-decoration: none;
}

.ih-item img {
    height: 100%;
    width: 100%;
}

.ih-item.square.effect13 {
  border: 1px solid #f0f0f0;
  overflow: hidden;
}

.grid-slider {
  margin: 2px;
}

.ih-item.square.effect13.top_to_bottom .info {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.ih-item.square.effect13.top_to_bottom a:hover .info {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item.square.effect13.colored .info {
  background: #1a4a72;
  background: rgba(255, 255, 255, 0.80);
}

.ih-item.square.effect13.colored .info h3 {
  background: transparent;
}

.ih-item.square.effect13 .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.ih-item.square.effect13 .info {
  background: rgb(51, 51,51 );
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.ih-item.square.effect13 .info h3 {
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  background: #ffffff;
  margin: 20px 0 0 0;
}

.ih-item.square.effect13 .info p {
  font-size: 14px;
  font-family:"DIN Next LT W04 Medium";
  position: relative;
  color: rgb(51, 51, 51);
  padding: 5px 15px 0 15px;
  text-align: center;
}

.ih-item.square.effect13 a:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ih-item.square.effect13 a:hover .info {
  visibility: visible;
  opacity: 1;
}

.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square.effect13 a:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.ih-item.square.effect13 a:hover .info {
  visibility: visible;
  opacity: 1;
}

.btn.btn-casestudies {
  background-color: rgb(235, 196, 0);
  color: rgb(255, 255, 255);
  margin-top: 5px;
  text-transform: uppercase;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .wrap #case_studies .slick-arrow, 
  .wrap #blog .slick-arrow {
    border-radius: 100%;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: lowercase;
  }

  .slick-prev::before, .slick-next::before {
    color: rgb(195, 199, 202) !important;
  }

  .wrap .slick-slider {
    padding: 0 40px;
  }

}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .wrap #case_studies .slick-arrow, 
  .wrap #blog .slick-arrow {
    border-radius: 100%;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: lowercase;
  }

  .slick-prev::before, .slick-next::before {
    color: rgb(195, 199, 202) !important;
  }

  .wrap .slick-slider {
    padding: 0 45px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .ih-item.square.effect13 .info h3 {
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {
  .wrap #case_studies .slick-arrow, 
  .wrap #blog .slick-arrow {
    border-radius: 100%;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: lowercase;
  }

  .slick-prev::before, .slick-next::before {
    color: rgb(195, 199, 202) !important;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .ih-item.square.effect13 .info h3 {
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}





/*** section 2 / cascading grid layout library ***/
/*****************************************/
/* ---- grid ---- */
#know-how .know-how-wrap {
  background-color: rgb(195, 199, 202);
  padding-bottom: 30px;
  padding-top: 30px;
}

#know-how .grid {}

/* clearfix */
#know-how .grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

#know-how .grid-sizer,
#know-how .grid-item {
  width: 25%;
}

#know-how .grid-item {
  height: 120px;
  float: left;
  background: rgb(255, 255, 255);
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

#know-how .grid-item--width2 { width:  50%; }
#know-how .grid-item--width3 { width:  75%; }

#know-how .grid-item--height2 { height: 200px; }
#know-how .grid-item--height3 { height: 280px; }
#know-how .grid-item--height4 { height: 400px; }
#know-how .grid-item--height5 { height: 400px; }

#know-how .grid-item .border {
  border-bottom: 4px solid rgb(195, 199, 202);
  border-right: 4px solid rgb(195, 199, 202);
  cursor: default;
  height: 100%;
}

#know-how .grid-item .border a {
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: block;
  float: left;
  height: 100%;
  width: 100%;
}

#know-how .image-svg {
  position: absolute;
  right: 8px;
  top: -8px;
  width: 80px;
}

#know-how .grid-item .grid-item-content {
  display: table;
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 18px;
  line-height: 22px;
  padding: 25px;
  text-transform: uppercase;
}

.know-how-teaser.text-center {
  margin: 0 150px 30px;
}

.know-how-teaser.text-center p {
  font-size: 17px;
  line-height: 24px;
}

#know-how .know-how-wrap .grid-item.block-6 .border {
  border-right: 0 none;
}

#know-how .know-how-wrap .grid-item.block-3 .border,
#know-how .know-how-wrap .grid-item.block-6 .border,
#know-how .know-how-wrap .grid-item.block-7 .border,
#know-how .know-how-wrap .grid-item.block-8 .border {
  border-bottom: 0 none;
}

#know-how .know-how-wrap .block-1 .grid-item-content {
  max-width: 300px;
}

#know-how .know-how-wrap .block-2 .grid-item-content {
  max-width: 200px;
}

#know-how .know-how-wrap .block-3 .grid-item-content {
  max-width: 200px;
}

#know-how .know-how-wrap .block-4 .grid-item-content {
  max-width: 200px;
}

#know-how .know-how-wrap .block-6 .grid-item-content {
  max-width: 200px;
}

#know-how .know-how-wrap .block-7 .grid-item-content {
  max-width: 200px;
}

#know-how .know-how-wrap .block-8 .grid-item-content {
  max-width: 200px;
}



#know-how .grid-item.block-1:hover span,
#know-how .grid-item.block-2:hover span,
#know-how .grid-item.block-3:hover span,
#know-how .grid-item.block-4:hover span,
#know-how .grid-item.block-5:hover span,
#know-how .grid-item.block-6:hover span,
#know-how .grid-item.block-7:hover span,
#know-how .grid-item.block-8:hover span {
  color: rgb(255, 255, 255);
}

#know-how .grid-item.block-1:hover .image-svg,
#know-how .grid-item.block-2:hover .image-svg,
#know-how .grid-item.block-3:hover .image-svg,
#know-how .grid-item.block-4:hover .image-svg,
#know-how .grid-item.block-5:hover .image-svg,
#know-how .grid-item.block-6:hover .image-svg,
#know-how .grid-item.block-7:hover .image-svg,
#know-how .grid-item.block-8:hover .image-svg {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
}

#know-how .grid-item.block-1:hover,
#know-how .grid-item.block-2:hover,
#know-how .grid-item.block-3:hover,
#know-how .grid-item.block-4:hover,
#know-how .grid-item.block-5:hover,
#know-how .grid-item.block-6:hover,
#know-how .grid-item.block-7:hover,
#know-how .grid-item.block-8:hover {
  cursor: pointer;
  overflow: visible;
}



/* block-1 */
#know-how .grid-item.block-1:hover {
  background-color: rgb(253, 196, 0);
}

#know-how .grid-item.block-1:hover .image-svg {
  background-color: rgb(253, 196, 0);
}

/* block-2 */
#know-how .grid-item.block-2:hover {
  background-color: rgb(0, 122, 119);
}

#know-how .grid-item.block-2:hover .image-svg {
  background-color: rgb(0, 122, 119);
}

/* block-3 */
#know-how .grid-item.block-3:hover {
  background-color: rgb(197, 9, 56);
}

#know-how .grid-item.block-3:hover .image-svg {
  background-color: rgb(197, 9, 56);
}

/* block-4 */
#know-how .grid-item.block-4:hover {
  background-color: rgb(0, 174, 199);
}

#know-how .grid-item.block-4:hover .image-svg {
  background-color: rgb(0, 174, 199);
}

/* block-5 */
#know-how .grid-item.block-5:hover {
  background-color: rgb(140, 177, 16);
}

#know-how .grid-item.block-5:hover .image-svg {
  background-color: rgb(140, 177, 16);
}

/* block-6 */
#know-how .grid-item.block-6:hover {
  background-color: rgb(0, 132, 182);
}

#know-how .grid-item.block-6:hover .image-svg {
  background-color: rgb(0, 132, 182);
}

/* block-7 */
#know-how .grid-item.block-7:hover {
  background-color: rgb(136, 64, 106);
}

#know-how .grid-item.block-7:hover .image-svg {
  background-color: rgb(136, 64, 106);
}

/* block-8 */
#know-how .grid-item.block-8:hover {
  background-color: rgb(236, 116, 4);
}

#know-how .grid-item.block-8:hover .image-svg {
  background-color: rgb(236, 116, 4);
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .know-how-teaser.text-center {
    margin: 0 0 30px;
  }

  .wrap #know-how .grid-item {
    height: 115px !important;
    width: 100% !important;
  }

  .wrap #know-how .know-how-wrap .grid-item.block-2 .border,
  .wrap #know-how .know-how-wrap .grid-item.block-3 .border,
  .wrap #know-how .know-how-wrap .grid-item.block-5 .border,
  .wrap #know-how .know-how-wrap .grid-item.block-6 .border {
    border-right: 0;
    border-left: 0 !important;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .know-how-teaser.text-center {
    margin: 0 0 30px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  #know-how .grid-item {
    height: 120px;
    width: 50%;
  }

  #know-how .know-how-wrap .grid-item.block-4 .border,
  #know-how .know-how-wrap .grid-item.block-8 .border {
    border-left: 0 !important;
  }

  #know-how .know-how-wrap .grid-item.block-2 .border,
  #know-how .know-how-wrap .grid-item.block-3 .border,
  #know-how .know-how-wrap .grid-item.block-5 .border,
  #know-how .know-how-wrap .grid-item.block-6 .border {
    border-right: 0;
    border-left: 4px solid rgb(195, 199, 202) !important;
  }

  #know-how .know-how-wrap .grid-item.block-6 .border,
  #know-how .know-how-wrap .grid-item.block-7 .border,
  #know-how .know-how-wrap .grid-item.block-3 .border {
    border-bottom: 4px solid rgb(195, 199, 202) !important;
  }

  #know-how .know-how-wrap .grid-item.block-1 .border,
  #know-how .know-how-wrap .grid-item.block-3 .border,
  #know-how .know-how-wrap .grid-item.block-4 .border,
  #know-how .know-how-wrap .grid-item.block-5 .border,
  #know-how .know-how-wrap .grid-item.block-7 .border,
  #know-how .know-how-wrap .grid-item.block-8 .border {
    border-right: 0;
  }

  #know-how .image-svg {
    width: 40px;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .know-how-teaser.text-center {
    margin: 0 110px 30px;
  }

  #know-how .image-svg {
    width: 55px;
  }

  #know-how .grid-item .grid-item-content {
    font-size: 16px;
    line-height: 20px;
    padding: 50px 25px;
  }

  #know-how .know-how-wrap .block-2 .grid-item-content {
    max-width: auto;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}





/*** section 5 / branchenlösungen ***/
/*****************************************/
/* ---- grid ---- */
#branchen .branchen-wrap {
  background-color: rgb(195, 199, 202);
  padding-bottom: 30px;
  padding-top: 30px;
}

#branchen .grid {}

/* clearfix */
#branchen .grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
#branchen .grid-sizer,
#branchen .grid-item {
  width: 25%;
}

#branchen .grid-item {
  height: 120px;
  float: left;
  background: rgb(255, 255, 255);
  border: 0;
  border-radius: 0;
  overflow: hidden;
  
  display: table;
  z-index: 2;
}

#branchen .grid-item--width2 { width:  50%; }
#branchen .grid-item--width3 { width:  75%; }

#branchen .grid-item--height2 { height: 200px; }
#branchen .grid-item--height3 { height: 280px; }
#branchen .grid-item--height4 { height: 400px; }
#branchen .grid-item--height5 { height: 400px; }

#branchen .grid-item .border {
  border-bottom: 4px solid rgb(195, 199, 202);
  border-right: 4px solid rgb(195, 199, 202);
  height: 100%;
  position: relative;
  display: table;
}

#branchen .image-svg {
  position: absolute;
  right: 8px;
  top: -8px;
  width: 80px;
}

#branchen .image-trans {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

#branchen .grid-item .grid-item-content {
  display: table;
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 18px;
  line-height: 22px;
  padding: 25px;
  text-transform: uppercase;
}

.branchen-teaser.text-center {
  margin: 0 150px 30px;
}

.branchen-teaser.text-center p {
  font-size: 17px;
  line-height: 24px;
}

#branchen .branchen-wrap .grid-item.block-3 .border,
#branchen .branchen-wrap .grid-item.block-5 .border,

#branchen .branchen-wrap .grid-item.block-10 .border,
#branchen .branchen-wrap .grid-item.block-11 .border {
  border-right: 0 none;
}

#branchen .branchen-wrap .grid-item.block-8 .border,
#branchen .branchen-wrap .grid-item.block-9 .border,
#branchen .branchen-wrap .grid-item.block-10 .border,
#branchen .branchen-wrap .grid-item.block-11 .border {
  border-bottom: 0 none;
}

#branchen .branchen-wrap .block-1 .grid-item-content {
  max-width: 190px;
}

#branchen .branchen-wrap .block-2 .grid-item-content {
  max-width: 190px;
}

#branchen .branchen-wrap .block-3 .grid-item-content {
  max-width: 300px;
}

#branchen .branchen-wrap .block-4 .grid-item-content {
  max-width: 300px;
}

#branchen .branchen-wrap .block-5 .grid-item-content {
  max-width: 190px;
}

#branchen .branchen-wrap .block-6 .grid-item-content {
  max-width: 300px;
}

#branchen .branchen-wrap .block-7 .grid-item-content {
  max-width: 190px;
}

#branchen .branchen-wrap .block-8 .grid-item-content {
  max-width: 190px;
}

#branchen .branchen-wrap .block-9 .grid-item-content {
  max-width: 190px;
}

#branchen .branchen-wrap .block-10 .grid-item-content {
  max-width: 190px;
}

#branchen .branchen-wrap .block-11 .grid-item-content {
  max-width: 300px;
}





#branchen .grid-item.block-1:hover span,
#branchen .grid-item.block-2:hover span,
#branchen .grid-item.block-3:hover span,
#branchen .grid-item.block-4:hover span,
#branchen .grid-item.block-5:hover span,
#branchen .grid-item.block-6:hover span,
#branchen .grid-item.block-7:hover span,
#branchen .grid-item.block-8:hover span,
#branchen .grid-item.block-9:hover span,
#branchen .grid-item.block-10:hover span,
#branchen .grid-item.block-11:hover span {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
}

#branchen .grid-item.block-1:hover .image-svg,
#branchen .grid-item.block-2:hover .image-svg,
#branchen .grid-item.block-3:hover .image-svg,
#branchen .grid-item.block-4:hover .image-svg,
#branchen .grid-item.block-5:hover .image-svg,
#branchen .grid-item.block-6:hover .image-svg,
#branchen .grid-item.block-7:hover .image-svg,
#branchen .grid-item.block-8:hover .image-svg,
#branchen .grid-item.block-9:hover .image-svg,
#branchen .grid-item.block-10:hover .image-svg,
#branchen .grid-item.block-11:hover .image-svg {
  /*
  border: 4px solid rgb(255, 255, 255);
  */
  border-radius: 50px;
}

#branchen .grid-item.block-1:hover,
#branchen .grid-item.block-2:hover,
#branchen .grid-item.block-3:hover,
#branchen .grid-item.block-4:hover,
#branchen .grid-item.block-5:hover,
#branchen .grid-item.block-6:hover,
#branchen .grid-item.block-7:hover,
#branchen .grid-item.block-8:hover,
#branchen .grid-item.block-9:hover,
#branchen .grid-item.block-10:hover,
#branchen .grid-item.block-11:hover,

#branchen .grid-item.block-1:focus,
#branchen .grid-item.block-2:focus,
#branchen .grid-item.block-3:focus,
#branchen .grid-item.block-4:focus,
#branchen .grid-item.block-5:focus,
#branchen .grid-item.block-6:focus,
#branchen .grid-item.block-7:focus,
#branchen .grid-item.block-8:focus,
#branchen .grid-item.block-9:focus,
#branchen .grid-item.block-10:focus,
#branchen .grid-item.block-11:focus,

#branchen .grid-item.block-1:active,
#branchen .grid-item.block-2:active,
#branchen .grid-item.block-3:active,
#branchen .grid-item.block-4:active,
#branchen .grid-item.block-5:active,
#branchen .grid-item.block-6:active,
#branchen .grid-item.block-7:active,
#branchen .grid-item.block-8:active,
#branchen .grid-item.block-9:active,
#branchen .grid-item.block-10:active,
#branchen .grid-item.block-11:active {
  cursor: pointer;
  overflow: visible;
  position: relative;
}


/* block-1 */
#branchen .grid-item.block-1:hover {
/*  background-color: rgb(140, 177, 16);*/
      /*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_285x400px_Versicherungen.jpg");*/
}

#branchen .grid-item.block-1:hover .image-svg {
  /*background-color: rgb(140, 177, 16);*/
}

/* block-2 */
#branchen .grid-item.block-2:hover,
#branchen .grid-item.block-2:focus,
#branchen .grid-item.block-2:active {
/*  background-color: rgb(197, 9, 56);*/
    /*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_285x200px_Energieversorger.jpg");*/
}

#branchen .grid-item.block-2:hover .image-svg {
  /*background-color: rgb(197, 9, 56);*/
}

/* block-3 */
#branchen .grid-item.block-3:hover {
/*  background-color: rgb(253, 196, 0);*/
/*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_570x200px_Automobilbranche.jpg");*/
}

#branchen .grid-item.block-3:hover .image-svg {
/*background-color: rgb(253, 196, 0);*/
}

/* block-4 */
#branchen .grid-item.block-4:hover {
/*  background-color: rgb(126, 64, 106);*/
/*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_570x200px_Baugewerbe.jpg");*/
}

#branchen .grid-item.block-4:hover .image-svg {
/*background-color: rgb(126, 64, 106);*/
}

/* block-5 */
#branchen .grid-item.block-5:hover {
/*  background-color: rgb(46, 127, 42);*/
/* background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_285x200px_Industrie.jpg");*/
}

#branchen .grid-item.block-5:hover .image-svg {
 /*background-color: rgb(46, 127, 42);*/
}

/* block-6 */
#branchen .grid-item.block-6:hover {
/*  background-color: rgb(0, 174, 199);*/
/*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_570x200px_Handel.jpg");*/
}

#branchen .grid-item.block-6:hover .image-svg {
/*background-color: rgb(0, 174, 199);*/
}

/* block-7 */
#branchen .grid-item.block-7:hover {
/*  background-color: rgb(0, 122, 119);*/
/*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_285x200px_Grosshandel.jpg");*/
}

#branchen .grid-item.block-7:hover .image-svg {
/*background-color: rgb(0, 122, 119);*/
}

/* block-8 */
#branchen .grid-item.block-8:hover {
/*  background-color: rgb(236, 116, 4);*/
/*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_570x200px_Leasingbranche.jpg");*/
}

#branchen .grid-item.block-8:hover .image-svg {
/*background-color: rgb(236, 116, 4);*/
}

/* block-9 */
#branchen .grid-item.block-9:hover {
/*  background-color: rgb(141, 21, 34);*/
/*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_285x200px_Markenartikel.jpg");*/
}

#branchen .grid-item.block-9:hover .image-svg {
/*background-color: rgb(141, 21, 34);*/
}

/* block-10 */
#branchen .grid-item.block-10:hover {
/*  background-color: rgb(0, 132, 182);*/
/*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_285x400px_Banken.jpg");*/
}

#branchen .grid-item.block-10:hover .image-svg {
/*background-color: rgb(0, 132, 182);*/
}

/* block-11 */
#branchen .grid-item.block-11:hover {
/*  background-color: rgb(185, 101, 140);*/
  /*background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_570x200px_Pharmabranche.jpg");*/
} 

#branchen .grid-item.block-11:hover .image-svg {
  /*background-color: rgb(185, 101, 140);*/
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .branchen-teaser.text-center {
    margin: 0 0 30px;
  }

  .wrap #branchen .grid-item {
    height: 120px;
    width: 100%;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .branchen-teaser.text-center {
    margin: 0 0 30px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  #branchen .grid-item {
    height: 120px;
    width: 49.5%;
  }

  #branchen .branchen-wrap .grid-item.block-2 .border,
  #branchen .branchen-wrap .grid-item.block-4 .border,
  #branchen .branchen-wrap .grid-item.block-6 .border,
  #branchen .branchen-wrap .grid-item.block-8 .border,
  #branchen .branchen-wrap .grid-item.block-9 .border,
  #branchen .branchen-wrap .grid-item.block-10 .border {
    border-right: 0;
    border-left: 1px solid rgb(195, 199, 202) !important;
    border-bottom: 4px solid rgb(195, 199, 202);
  }

  #branchen .branchen-wrap .grid-item.block-1 .border,
  #branchen .branchen-wrap .grid-item.block-3 .border,
  #branchen .branchen-wrap .grid-item.block-5 .border,
  #branchen .branchen-wrap .grid-item.block-7 .border {
    border-right: 0;
  }

  #branchen .image-svg {
    width: 40px;
  }



/* block-1 */
#branchen .grid-item.block-1:hover {
/*  background-color: rgb(140, 177, 16);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Versicherungen.jpg");
}

#branchen .grid-item.block-1:hover .image-svg {
  background-color: rgb(140, 177, 16);
}

/* block-2 */
#branchen .grid-item.block-2:hover,
#branchen .grid-item.block-2:focus,
#branchen .grid-item.block-2:active {
/*  background-color: rgb(197, 9, 56);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Energieversorger.jpg");
}

#branchen .grid-item.block-2:hover .image-svg {
  background-color: rgb(197, 9, 56);
}

/* block-3 */
#branchen .grid-item.block-3:hover {
/*  background-color: rgb(253, 196, 0);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Automobilbranche.jpg");
}

#branchen .grid-item.block-3:hover .image-svg {
  background-color: rgb(253, 196, 0);
}

/* block-4 */
#branchen .grid-item.block-4:hover {
/*  background-color: rgb(126, 64, 106);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_570x200px_Baugewerbe.jpg");
}

#branchen .grid-item.block-4:hover .image-svg {
  background-color: rgb(126, 64, 106);
}

/* block-5 */
#branchen .grid-item.block-5:hover {
/*  background-color: rgb(46, 127, 42);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Industrie.jpg");
}

#branchen .grid-item.block-5:hover .image-svg {
  background-color: rgb(46, 127, 42);
}

/* block-6 */
#branchen .grid-item.block-6:hover {
/*  background-color: rgb(0, 174, 199);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Handel.jpg");
}

#branchen .grid-item.block-6:hover .image-svg {
  background-color: rgb(0, 174, 199);
}

/* block-7 */
#branchen .grid-item.block-7:hover {
/*  background-color: rgb(0, 122, 119);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Grosshandel.jpg");
}

#branchen .grid-item.block-7:hover .image-svg {
  background-color: rgb(0, 122, 119);
}

/* block-8 */
#branchen .grid-item.block-8:hover {
/*  background-color: rgb(236, 116, 4);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Leasingbranche.jpg");
}

#branchen .grid-item.block-8:hover .image-svg {
  background-color: rgb(236, 116, 4);
}

/* block-9 */
#branchen .grid-item.block-9:hover {
/*  background-color: rgb(141, 21, 34);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Markenartikel.jpg");
}

#branchen .grid-item.block-9:hover .image-svg {
  background-color: rgb(141, 21, 34);
}

/* block-10 */
#branchen .grid-item.block-10:hover {
/*  background-color: rgb(0, 132, 182);*/
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/branchen/Branchenbilder_445x116px_Banken.jpg");
}

#branchen .grid-item.block-10:hover .image-svg {
  background-color: rgb(0, 132, 182);
}


}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .branchen-teaser.text-center {
    margin: 0 110px 30px;
  }

  #branchen .image-svg {
    width: 55px;
  }

  #branchen .grid-item .grid-item-content {
    font-size: 16px;
    line-height: 20px;
    padding: 50px 25px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}





/*** about ***/
/*****************************************/
.about-teaser.text-center {
  margin: 0 150px 30px;
}

.about-teaser.text-center p {
  font-size: 17px;
  line-height: 24px;
}

.spider_slide {
  background-attachment: scroll;
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/background_images/Connex_Landschaft_soft.jpg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 710px;
  overflow: hidden;
  position: relative;
  width: 100%;
}


/*.spider_slide {
  
 
  background-color: #f5f5f5;
  float: left;
  width: 100%;
}*/

.spider_slide_headline {
  margin-top: 60px;
}

.spider_slide_logo {
  background-color: rgba(51, 51, 51, 0.5);
  display: table;
  float: none;
  margin: 150px auto;
  padding: 0;
  width: 300px;
}

.spider_slide_logo_bg {
  padding: 85px 70px;
}

.spider_slide_logo_bg img {
  height: 43px;
  width: 160px;
}

.spider_slide_box {
  position: relative;
}

.spider_slide_box .clients {
  left: 350px;
  position: absolute;
  top: 196px;
  width: 160px;
}

.spider_slide_box .clients .head {
  display: table;
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 55px;
}

.spider_slide_box .clients .body {
  display: table;
  float: left;
  margin-top: 7px;
  text-transform: uppercase;
  width: 100%;
}

.spider_slide_box .clients img {
  position: absolute;
  right: 2px;
  top: -33px;
  width: 47px;
}



.spider_slide_box .founding {
  position: absolute;
  right: 285px;
  top: 210px;
  width: 160px;
}

.spider_slide_box .founding .head {
  display: table;
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 51px;
}

.spider_slide_box .founding .body {
  display: table;
  float: left;
  margin-left: 5px;
  margin-top: 7px;
  text-transform: uppercase;
  width: 100%;
}



.spider_slide_box .countries {
  top: 350px;
  position: absolute;
  right: 86px;
  width: 240px;
}

.spider_slide_box .countries .head {
  display: table;
  float: right;
  font-family: "DIN Next LT W04 Medium";
  font-size: 70px;
  line-height: 60px;
  text-align: right;
}

.spider_slide_box .countries .body {
  display: table;
  float: right;
  margin: 6px 0;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}

.spider_slide_box .countries img {
    left: 0;
    position: absolute;
    top: -23px;
    width: 135px;
}



.spider_slide_box .years {
  top: 550px;
  position: absolute;
  right: 280px;
  width: 200px;
}

.spider_slide_box .years .head {
  display: table;
  float: right;
  font-family: "DIN Next LT W04 Medium";
  font-size: 70px;
  line-height: 60px;
  text-align: right;
}

.spider_slide_box .years .body {
  display: table;
  float: right;
  margin: 6px 0;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}



.spider_slide_box .partner {
  left: 290px;
  position: absolute;
  top: 583px;
  width: 160px;
}

.spider_slide_box .partner .head {
  display: table;
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 55px;
}

.spider_slide_box .partner .body {
  display: table;
  float: left;
  margin-top: 7px;
  text-transform: uppercase;
  width: 100%;
}

.spider_slide_box .partner img {
  position: absolute;
  right: 6px;
  top: -18px;
  width: 30px;
}




.spider_slide_box .cooperation {
  left: 115px;
  position: absolute;
  top: 440px;
  width: 200px;
}

.spider_slide_box .cooperation .head {
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 65px;
  height: 70px;
  line-height: 55px;
  width: 80px;
}

.spider_slide_box .cooperation .body {
  float: left;
  margin: 2px 0 1px;
  text-transform: uppercase;
  width: auto;
}



.spider_slide_box .employee {
  left: 82px;
  position: absolute;
  top: 280px;
  width: 180px;
}

.spider_slide_box .employee .head {
  display: table;
  float: left;
  font-family: "DIN Next LT W04 Medium";
  font-size: 65px;
  margin-left: 65px;
}

.spider_slide_box .employee .body {
  display: table;
  float: left;
  margin-left: 65px;
  margin-top: 7px;
  text-transform: uppercase;
  width: 100%;
}

.spider_slide_box .employee img {
  left: 0;
  position: absolute;
  top: -31px;
  width: 84px;
}




/*gründungsjahr*/
.spider_slide_box .founding .spider-arm {
    box-sizing: content-box;
    min-height: auto;
    overflow: visible;
    margin-top: 63px;
    padding: 10px 20px;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.spider_slide_box .founding .spider-arm::after {
    backface-visibility: hidden;
    border-left: 2px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
    bottom: -20px;
    content: "";
    height: 25px;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    transform: skew(-65deg, 0deg);
    width: 105px;
    z-index: -1;
}

/*firmenkunden*/
.spider_slide_box .clients .spider-arm {
    box-sizing: content-box;
    min-height: auto;
    overflow: visible;
    margin-top: 49px;
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.spider_slide_box .clients .spider-arm::after {
    backface-visibility: hidden;
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
    bottom: -32px;
    content: "";
    height: 37px;
    left: 38px;
    margin-bottom: 0;
    position: absolute;
    transform: skew(65deg, 0deg);
    width: 121px;
    z-index: -1;
}

/*mitarbeiter*/
.spider_slide_box .employee .spider-arm {
    box-sizing: content-box;
    min-height: auto;
    overflow: visible;
    margin-top: 140px;
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.spider_slide_box .employee .spider-arm::after {
    backface-visibility: hidden;
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
    bottom: -28px;
    content: "";
    height: 31px;
    left: 71px;
    margin-bottom: 0;
    position: absolute;
    transform: skew(72deg, 0deg);
    width: 206px;
    z-index: -1;
}

/*kooperation*/
.spider_slide_box .cooperation .spider-arm {
    box-sizing: content-box;
    min-height: auto;
    overflow: visible;
    margin-top: 275px;
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.spider_slide_box .cooperation .spider-arm::after {
    backface-visibility: hidden;
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    bottom: 17px;
    content: "";
    height: 31px;
    left: 47px;
    margin-bottom: 0;
    position: absolute;
    transform: skew(-72deg, 0deg);
    width: 197px;
    z-index: -1;
}

/*partner*/
.spider_slide_box .partner .spider-arm {
    box-sizing: content-box;
    min-height: auto;
    overflow: visible;
    margin-top: 437px;
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.spider_slide_box .partner .spider-arm::after {
    backface-visibility: hidden;
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    bottom: 2px;
    content: "";
    height: 141px;
    left: 55px;
    margin-bottom: 0;
    position: absolute;
    transform: skew(-41deg, 0deg);
    width: 135px;
    z-index: -1;
}

/*jahre*/
.spider_slide_box .years .spider-arm {
    box-sizing: content-box;
    min-height: auto;
    overflow: visible;
    margin-top: 404px;
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.spider_slide_box .years .spider-arm::after {
    backface-visibility: hidden;
    border-bottom: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    bottom: 7px;
    content: "";
    height: 141px;
    left: 26px;
    margin-bottom: 0;
    position: absolute;
    transform: skew(41deg, 0deg);
    width: 117px;
    z-index: -1;
}

/*niederlassungen*/
.spider_slide_box .countries .spider-arm {
    box-sizing: content-box;
    min-height: auto;
    overflow: visible;
    margin-top: 225px;
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.spider_slide_box .countries .spider-arm::after {
    backface-visibility: hidden;
    border-bottom: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    bottom: 7px;
    content: "";
    height: 79px;
    left: -20px;
    margin-bottom: 0;
    position: absolute;
    transform: skew(57deg, 0deg);
    width: 207px;
    z-index: -1;
}



/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .about-teaser.text-center {
    margin: 0 0 30px;
  }

  .wrap .spider_slide_box {
    padding: 0;
  }

  .spider_slide {
    height: 570px;
  }

  .spider_slide_logo {
    display: none;
  }
  .spider_slide_mobile_wrap {
    float: none !important;
    margin: 0 auto;
    width: 273px !important;
  }

 .spider_slide_mobile_wrap::after {
    background-color: rgb(51, 51, 51);
    content: "";
    height: 320px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
 }

  /*firmenkunden*/
  .spider_slide_box .clients {
    left: 0;
    width: 100px;
  }
  .spider_slide_box .clients .spider-arm {
    margin-top: 0;
  }
  .spider_slide_box .clients .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 0 none;
    bottom: 0;
    height: 37px;
    left: 20px;
    transform: skew(-47deg, 0deg);
    width: 98px;
  }
  .spider_slide_box .clients .head {
    font-size: 30px;
  }
  .spider_slide_box .clients img {
    right: 6;
    top: -3px;
    width: 27px;
  }

  /*gründungsjahr*/
  .spider_slide_box .founding {
    right: 0;
    width: 132px;
  }
  .spider_slide_box .founding .spider-arm {
    margin-top: 40px;
    padding: 0;
    text-align: right;
  }
  .spider_slide_box .founding .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    border-top: 0 none;
    bottom: -10px;
    height: 33px;
    left: auto;
    right: 17px;
    transform: skew(47deg, 0deg);
    width: 103px;
  }
  .spider_slide_box .founding .head {
    float: right;
    font-size: 30px;
    text-align: right;
  }
  .spider_slide_box .founding .body {
    margin-left: 0;
  }

  /*standorte*/
  .spider_slide_box .countries {
    right: 0;
    width: 125px;
  }
  .spider_slide_box .countries .spider-arm {
    margin-top: 150px;
  }
  .spider_slide_box .countries .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    border-top: 0 none;
    bottom: 0;
    height: 75px;
    left: 0;
    transform: skew(19deg, 0deg);
    width: 112px;
  }
  .spider_slide_box .countries .head {
    font-size: 30px;
    line-height: 32px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .spider_slide_box .countries span {
    margin: 0 !important;
  }
  .spider_slide_box .countries img {
  left: 12px;
    top: -46px;
    width: 60px;
  }

 /*kooperationen*/
  .spider_slide_box .cooperation {
    left: 0;
    width: 100px;
  }
  .spider_slide_box .cooperation .spider-arm {
    margin-top: 165px;
  }
  .spider_slide_box .cooperation .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 0 none;
    bottom: 0;
    height: 49px;
    left: 10px;
    transform: skew(-23deg, 0deg);
    width: 117px;
  }
  .spider_slide_box .cooperation .head {
    font-size: 30px;
    height: 60px;
    left: 90px;
    line-height: 45px;
    position: absolute;
    top: 16px;
    width: 55px;
  }
  .spider_slide_box .cooperation .body {
    margin: 0;
  }

  /*jahre*/
  .spider_slide_box .years {
    right: 0;
    width: 135px;
  }
  .spider_slide_box .years .spider-arm {
    margin-top: 235px;
  }
  .spider_slide_box .years .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    bottom: 4px;
    height: 57px;
    left: 7px;
    transform: skew(19deg, 0deg);
    width: 120px;
  }
  .spider_slide_box .years .head {
    font-size: 36px;
    line-height: 30px;
  }
  .spider_slide_box .years .body {
    margin: 2px 0;
  }

  /*partner*/
  .spider_slide_box .partner {
    left: 0;
    width: 115px;
  }
  .spider_slide_box .partner .spider-arm {
    margin-top: 275px;
  }
  .spider_slide_box .partner .spider-arm::after {
    height: 34px;
    left: 18px;
    transform: skew(-46deg, 0deg);
    width: 102px;
  }
  .spider_slide_box .partner .head {
    font-size: 30px;
  }
  .spider_slide_box .partner img {
    right: 26px;
    width: 24px;
    top: -6px;
  }

  /*mitarbeiter*/
  .spider_slide_box .employee {
    left: 0;
    width: 110px;
  }
  .spider_slide_box .employee .spider-arm {
    margin-top: 110px;
  }
  .spider_slide_box .employee .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 0 none;
    bottom: 0;
    height: 46px;
    left: 12px;
    transform: skew(-27deg, 0deg);
    width: 114px;
  }
  .spider_slide_box .employee .head {
    font-size: 30px;
    margin-left: 25px;
  }
  .spider_slide_box .employee .body {
    margin-left: 29px;
    margin-top: 3px;
  }
  .spider_slide_box .employee img {
    left: -10px;
    top: 4px;
    width: 41px;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .about-teaser.text-center {
    margin: 0 0 30px;
  }

  .spider_slide {
    height: 590px;
  }

  .spider_slide_logo {
    display: none;
  }
  .spider_slide_mobile_wrap {
    float: none !important;
    margin: 0 auto;
    width: 405px !important;
  }

 .spider_slide_mobile_wrap::after {
    background-color: rgb(51, 51, 51);
    content: "";
    height: 320px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
 }

  /*firmenkunden*/
  .spider_slide_box .clients {
    left: 0;
    width: 125px;
  }
  .spider_slide_box .clients .spider-arm {
    margin-top: 10px;
  }
  .spider_slide_box .clients .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 0;
    bottom: 0;
    height: 53px;
    left: 47px;
    transform: skew(-61deg, 0deg);
    width: 109px;
  }
  .spider_slide_box .clients .head {
    font-size: 30px;
  }
  .spider_slide_box .clients img {
    right: 0;
    top: -17px;
    width: 36px;
  }

  /*gründungsjahr*/
  .spider_slide_box .founding {
    right: 0;
    width: 132px;
  }
  .spider_slide_box .founding .spider-arm {
    margin-top: 64px;
    padding: 0;
    text-align: right;
  }
  .spider_slide_box .founding .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    border-top: 0 none;
    bottom: -10px;
    height: 43px;
    left: auto;
    right: 41px;
    transform: skew(63deg, 0deg);
    width: 120px;
  }
  .spider_slide_box .founding .head {
    float: right;
    font-size: 30px;
    text-align: right;
  }
  .spider_slide_box .founding .body {
    margin-left: 0;
  }

  /*standorte*/
  .spider_slide_box .countries {
    right: 0;
    width: 175px;
  }
  .spider_slide_box .countries .spider-arm {
    margin-top: 140px;
  }
  .spider_slide_box .countries .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    border-top: 0 none;
    height: 58px;
    left: -11px;
    transform: skew(31deg, 0deg);
    width: 170px;
  }
  .spider_slide_box .countries .head {
    font-size: 30px;
    line-height: 32px;
  }
  .spider_slide_box .countries img {
    top: 10px;
    width: 70px;
  }

 /*kooperationen*/
  .spider_slide_box .cooperation {
    left: 0;
    width: 180px;
  }
  .spider_slide_box .cooperation .spider-arm {
    margin-top: 200px;
  }
  .spider_slide_box .cooperation .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 0;
    height: 40px;
    left: 30px;
    transform: skew(-55deg, 0deg);
    width: 145px;
  }
  .spider_slide_box .cooperation .head {
    font-size: 30px;
    height: 60px;
    line-height: 45px;
    width: 55px;
  }
  .spider_slide_box .cooperation .body {
    margin: 0;
  }

  /*jahre*/
  .spider_slide_box .years {
    right: 0;
  }
  .spider_slide_box .years .spider-arm {
    margin-top: 260px;
  }
  .spider_slide_box .years .spider-arm::after {
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 0
    border-top: 0;
    border-left: 2px solid rgb(51, 51, 51);
    height: 66px;
    left: 39px;
    transform: skew(52deg, 0deg);
    width: 119px;
  }
  .spider_slide_box .years .head {
    font-size: 30px;
    line-height: 30px;
  }

  /*partner*/
  .spider_slide_box .partner {
    left: 0;
    width: 150px;
  }
  .spider_slide_box .partner .spider-arm {
    margin-top: 300px;
  }
  .spider_slide_box .partner .spider-arm::after {
    height: 62px;
    left: 44px;
    transform: skew(-55deg, 0deg);
    width: 116px;
  }
  .spider_slide_box .partner .head {
    font-size: 30px;
  }
  .spider_slide_box .partner img {
    right: 26px;
    width: 27px;
  }

  /*mitarbeiter*/
  .spider_slide_box .employee {
    left: 0;
  }
  .spider_slide_box .employee .spider-arm {
    margin-top: 110px;
  }
  .spider_slide_box .employee .spider-arm::after {
    bottom: 0;
    border-bottom: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    border-top: 0;
    height: 46px;
    left: 43px;
    transform: skew(-62deg, 0deg);
    width: 117px;
  }
  .spider_slide_box .employee .head {
    font-size: 30px;
    margin-left: 32px;
  }
  .spider_slide_box .employee .body {
    margin-left: 32px;
  }
  .spider_slide_box .employee img {
    left: -14px;
    top: -8px;
    width: 60px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .about-teaser.text-center {
    margin: 0 110px 30px;
  }

 .spider_slide {
    height: 610px;
  }

  .spider_slide_logo {
    margin: 121px auto;
    width: 250px;
  }
  .spider_slide_logo_bg {
    padding: 65px 50px;
  }

  /*firmenkunden*/
  .spider_slide_box .clients {
    left: 160px;
  }
  .spider_slide_box .clients .spider-arm {
    margin-top: 30px;
  }
  .spider_slide_box .clients .spider-arm::after {
    bottom: -24px;
    height: 29px;
    left: 27px;
    transform: skew(65deg, 0deg);
  }
  .spider_slide_box .clients .head {
    font-size: 50px;
  }
  .spider_slide_box .clients img {
    right: 16px;
    top: -25px;
    width: 38px;
  }

  /*gründungsjahr*/
  .spider_slide_box .founding {
    right: 100px;
  }
  .spider_slide_box .founding .spider-arm {
    margin-top: 40px;
  }
  .spider_slide_box .founding .spider-arm::after {
    bottom: -15px;
    height: 21px;
    left: 0;
    transform: skew(-68deg, 0deg);
  }
  .spider_slide_box .founding .head {
    font-size: 49px;
  }

  /*standorte*/
  .spider_slide_box .countries {
    right: 5px;
    width: 200px;
  }
  .spider_slide_box .countries .spider-arm {
    margin-top: 140px;
  }
  .spider_slide_box .countries .spider-arm::after {
    height: 22px;
    left: 9px;
    transform: skew(67deg, 0deg);
    width: 170px;
  }
  .spider_slide_box .countries .head {
    font-size: 60px;
    line-height: 45px;
  }
  .spider_slide_box .countries img {
    top: 0px;
    width: 95px;
  }

  /*jahre*/
  .spider_slide_box .years {
    right: 118px;
  }
  .spider_slide_box .years .spider-arm {
    margin-top: 311px;
  }
  .spider_slide_box .years .spider-arm::after {
    height: 100px;
    left: 40px;
    width: 119px;
  }
  .spider_slide_box .years .head {
    font-size: 60px;
    line-height: 40px;
  }

  /*partner*/
  .spider_slide_box .partner {
    left: 140px;
    width: 150px;
  }
  .spider_slide_box .partner .spider-arm {
    margin-top: 326px;
  }
  .spider_slide_box .partner .spider-arm::after {
    height: 98px;
    left: 41px;
    width: 129px;
  }
  .spider_slide_box .partner .head {
    font-size: 45px;
  }
  .spider_slide_box .partner img {
    right: 26px;
    width: 27px;
  }

  /*kooperationen*/
  .spider_slide_box .cooperation {
    left: 0;
  }
  .spider_slide_box .cooperation .spider-arm {
    margin-top: 230px;
 }
  .spider_slide_box .cooperation .spider-arm::after {
    height: 23px;
    left: 41px;
    width: 145px;
  }
  .spider_slide_box .cooperation .head {
    font-size: 55px;
    height: 60px;
    line-height: 45px;
    width: 70px;
  }
  .spider_slide_box .cooperation .body {
    margin: 0;
  }

  /*mitarbeiter*/
  .spider_slide_box .employee {
    left: 0;
  }
  .spider_slide_box .employee .spider-arm {
    margin-top: 115px;
  }
  .spider_slide_box .employee .spider-arm::after {
    left: 62px;
    transform: skew(67deg, 0deg);
    width: 123px;
  }
  .spider_slide_box .employee .head {
    font-size: 55px;
    margin-left: 54px;
  }
  .spider_slide_box .employee img {
    top: -16px;
    width: 72px;
  }

  .spider_slide_logo_bg img {
    height: 40px;
    width: 150px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1200px) {
 .spider_slide {
    height: 662px;
  }

  .spider_slide_logo {
    margin: 180px auto;
    width: 250px;
  }
  .spider_slide_logo_bg {
    padding: 65px 50px;
  }

  /*firmenkunden*/
  .spider_slide_box .clients {
    left: 275px;
  }
  .spider_slide_box .clients .spider-arm {
    margin-top: 89px;
  }
  .spider_slide_box .clients .spider-arm::after {
    bottom: -24px;
    height: 29px;
    left: 27px;
    transform: skew(65deg, 0deg);
  }
  .spider_slide_box .clients .head {
    font-size: 50px;
  }
  .spider_slide_box .clients img {
    right: 16px;
    top: -25px;
    width: 38px;
  }

  /*gründungsjahr*/
  .spider_slide_box .founding {
    right: 240px;
  }
  .spider_slide_box .founding .spider-arm {
    margin-top: 98px;
  }
  .spider_slide_box .founding .spider-arm::after {
    bottom: -15px;
    height: 21px;
    left: 0;
    transform: skew(-68deg, 0deg);
  }
  .spider_slide_box .founding .head {
    font-size: 49px;
  }

  /*standorte*/
  .spider_slide_box .countries {
    right: 59px;
  }
  .spider_slide_box .countries .spider-arm {
    margin-top: 194px;
  }
  .spider_slide_box .countries .spider-arm::after {
    height: 22px;
    left: -6px;
    transform: skew(67deg, 0deg);
    width: 224px;
  }
  .spider_slide_box .countries .head {
    font-size: 65px;
    line-height: 55px;
  }
  .spider_slide_box .countries img {
    top: -5px;
    width: 120px;
  }

  /*jahre*/
  .spider_slide_box .years {
    right: 217px;
  }
  .spider_slide_box .years .spider-arm {
    margin-top: 355px;
  }
  .spider_slide_box .years .spider-arm::after {
    height: 100px;
    left: 40px;
    width: 119px;
  }
  .spider_slide_box .years .head {
    font-size: 65px;
    line-height: 55px;
  }

  /*partner*/
  .spider_slide_box .partner {
    left: 230px;
  }
  .spider_slide_box .partner .spider-arm {
    margin-top: 383px;
  }
  .spider_slide_box .partner .spider-arm::after {
    height: 98px;
    left: 41px;
    width: 129px;
  }
  .spider_slide_box .partner .head {
    font-size: 50px;
  }
  .spider_slide_box .partner img {
    right: 20px;
  }

  /*kooperationen*/
  .spider_slide_box .cooperation {
    left: 85px;
  }
  .spider_slide_box .cooperation .spider-arm {
    margin-top: 265px;
 }
  .spider_slide_box .cooperation .spider-arm::after {
    left: 53px;
    width: 146px;
  }
  .spider_slide_box .cooperation .head {
    font-size: 55px;
    height: 60px;
    line-height: 45px;
    width: 70px;
  }
  .spider_slide_box .cooperation .body {
    margin: 0;
  }

  /*mitarbeiter*/
  .spider_slide_box .employee .spider-arm::after {
    width: 130px;
  }
  .spider_slide_box .employee .head {
    font-size: 60px;
    margin-left: 54px;
  }
  .spider_slide_box .employee img {
    top: -18px;
    width: 75px;
  }
}





/*** international ***/
/*****************************************/
.international-teaser.text-center {
  margin: 0 150px 30px;
}

.international-teaser.text-center p {
  font-size: 17px;
  line-height: 24px;
}

.section.section_7 {
  padding-bottom: 4px;
}

.international-contact {
  background-attachment: scroll;
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/background_images/Europakarte_Punkte_HG.jpg");
  background-position: 80% 0;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.international-locations {
  margin-top: 50px;
}

.international-locations .row {
  margin: 0 100px;
}

.international-locations .location-wrap {
  margin-bottom: 30px;
}

.international-locations h3,
.international-locations .location-wrap p,
.international-locations .location-wrap .fa {
  color: rgb(255, 255, 255);
}

.international-locations h3 {
  font-family: "DIN Next LT W04 Medium";
  font-size: 20px;
}

.international-locations .location-wrap p {
  margin-bottom: 5px;
}

.international-locations .location-wrap a {
  color: rgb(255, 255, 255);
  font-family: "DIN Next LT W04 Medium";
}

.international-locations .location-wrap .fa {
  background-color: rgb(235, 196, 0);
  border-radius: 50%;
  height: 25px;
  margin-right: 8px;
  padding: 5px 3px 0;
  text-align: center;
  width: 25px;
}

.international-locations .location-at {}

.international-locations .location-de {}

.international-locations .location-uk {}

.international-locations .location-sk {}

.international-locations .location-city {}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .international-teaser.text-center {
    margin: 0 0 30px;
  }

  .international-locations .row {
    margin: 0 0;
  }

  .international-locations .location-wrap {
    float: left;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
  }

  .international-contact {
    height: 950px;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .international-teaser.text-center {
    margin: 0 0 30px;
  }

  .international-locations .row {
    margin: 0 0;
  }

  .international-locations {
    margin-top: 0px;
  }

  .international-locations .location-wrap {
    float: left;
    height: 150px;
    margin-bottom: 30px;
    width: 50%;
  }

  .international-contact {
    height: 565px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .international-teaser.text-center {
    margin: 0 110px 30px;
  }

  .international-locations .row {
    margin: 0 30px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}





/*** modal branchen ***/
/*****************************************/
.wrap .fade.in {
  opacity: 0.84;
}

.modal-dialog .text-center > p {
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 18px;
}

.modal-header .close {
  color: rgb(255, 255, 255);
  opacity: 1;
}

#myModalVersicherung,
#myModalEnergieversorger,
#myModalAuto,
#myModalBaugewerbe,
#myModalIndustrie,
#myModalHandel,
#myModalGrosshandel,
#myModalLeasing,
#myModalMarkenartikel,
#myModalBanken,
#myModalPharma {
  float: left;
  margin: 0;
  padding: 0 !important;
  width: 100%;
}

#myModalVersicherung .modal-dialog,
#myModalEnergieversorger .modal-dialog,
#myModalAuto .modal-dialog,
#myModalBaugewerbe .modal-dialog,
#myModalIndustrie .modal-dialog,
#myModalHandel .modal-dialog,
#myModalGrosshandel .modal-dialog,
#myModalLeasing .modal-dialog,
#myModalMarkenartikel .modal-dialog,
#myModalBanken .modal-dialog,
#myModalPharma .modal-dialog {
  display: table;
  float: none;
  /*margin: 20% auto 0;*/
  margin: 10% auto;
  width: 85%;
}

#myModalVersicherung .modal-content,
#myModalEnergieversorger .modal-content,
#myModalAuto .modal-content,
#myModalBaugewerbe .modal-content,
#myModalIndustrie .modal-content,
#myModalHandel .modal-content,
#myModalGrosshandel .modal-content,
#myModalLeasing .modal-content,
#myModalMarkenartikel .modal-content,
#myModalBanken .modal-content,
#myModalPharma .modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  float: left;
  outline: 0 none;
  position: relative;
  width: 100%;
}

#myModalVersicherung .modal-header,
#myModalEnergieversorger .modal-header,
#myModalAuto .modal-header,
#myModalBaugewerbe .modal-header,
#myModalIndustrie .modal-header,
#myModalHandel .modal-header,
#myModalGrosshandel .modal-header,
#myModalLeasing .modal-header,
#myModalMarkenartikel .modal-header,
#myModalBanken .modal-header,
#myModalPharma .modal-header {
  border-bottom: 0;
}

#myModalVersicherung .modal-header h2,
#myModalEnergieversorger .modal-header h2,
#myModalAuto .modal-header h2,
#myModalBaugewerbe .modal-header h2,
#myModalIndustrie .modal-header h2,
#myModalHandel .modal-header h2,
#myModalGrosshandel .modal-header h2,
#myModalLeasing .modal-header h2,
#myModalMarkenartikel .modal-header h2,
#myModalBanken .modal-header h2,
#myModalPharma .modal-header h2 {
  color: rgb(255, 255, 255);
  margin: 30px 0 0 0;
}

#myModalVersicherung .modal-body .text-center,
#myModalEnergieversorger .modal-body .text-center,
#myModalAuto .modal-body .text-center,
#myModalBaugewerbe .modal-body .text-center,
#myModalIndustrie .modal-body .text-center,
#myModalHandel .modal-body .text-center,
#myModalGrosshandel .modal-body .text-center,
#myModalLeasing .modal-body .text-center,
#myModalMarkenartikel .modal-body .text-center,
#myModalBanken .modal-body .text-center,
#myModalPharma .modal-body .text-center {
  display: table;
  float: none;
  margin: 0 auto;
  width: 70%;
}

#myModalVersicherung .modal-footer,
#myModalEnergieversorger .modal-footer,
#myModalAuto .modal-footer,
#myModalBaugewerbe .modal-footer,
#myModalIndustrie .modal-footer,
#myModalHandel .modal-footer,
#myModalGrosshandel .modal-footer,
#myModalLeasing .modal-footer,
#myModalMarkenartikel .modal-footer,
#myModalBanken .modal-footer,
#myModalPharma .modal-footer {
  border-top: 0;
}

#myModalVersicherung .modal-footer .btn.btn-contact,
#myModalEnergieversorger .modal-footer .btn.btn-contact,
#myModalAuto .modal-footer .btn.btn-contact,
#myModalBaugewerbe .modal-footer .btn.btn-contact,
#myModalIndustrie .modal-footer .btn.btn-contact,
#myModalHandel .modal-footer .btn.btn-contact,
#myModalGrosshandel .modal-footer .btn.btn-contact,
#myModalLeasing .modal-footer .btn.btn-contact,
#myModalMarkenartikel .modal-footer .btn.btn-contact,
#myModalBanken .modal-footer .btn.btn-contact,
#myModalPharma .modal-footer .btn.btn-contact {
  display: table;
  float: none;
  margin: 10px auto 38px;
  text-transform: uppercase;
  
  display: none;
}

#myModalVersicherung .modal-header .close > span,
#myModalEnergieversorger .modal-header .close > span,
#myModalAuto .modal-header .close > span,
#myModalBaugewerbe .modal-header .close > span,
#myModalIndustrie .modal-header .close > span,
#myModalHandel .modal-header .close > span,
#myModalGrosshandel .modal-header .close > span,
#myModalLeasing .modal-header .close > span,
#myModalMarkenartikel .modal-header .close > span,
#myModalBanken .modal-header .close > span,
#myModalPharma .modal-header .close > span {
  font-size: 50px;
}

#myModalVersicherung .modal-body,
#myModalEnergieversorger .modal-body,
#myModalAuto .modal-body,
#myModalBaugewerbe .modal-body,
#myModalIndustrie .modal-body,
#myModalHandel .modal-body,
#myModalGrosshandel .modal-body,
#myModalLeasing .modal-body,
#myModalMarkenartikel .modal-body,
#myModalBanken .modal-body,
#myModalPharma .modal-body {
  overflow: hidden;
}

#myModalVersicherung .image-svg,
#myModalEnergieversorger .image-svg,
#myModalAuto .image-svg,
#myModalBaugewerbe .image-svg,
#myModalIndustrie .image-svg,
#myModalHandel .image-svg,
#myModalGrosshandel .image-svg,
#myModalLeasing .image-svg,
#myModalMarkenartikel .image-svg,
#myModalBanken .image-svg,
#myModalPharma .image-svg {
  border-radius: 100%;
  bottom: -20px;
  height: 170px;
  left: auto;
  position: absolute;
  right: -33px;
  top: auto;
  width: 170px;
}

#myModalVersicherung .modal-footer .btn.btn-contact a,
#myModalEnergieversorger .modal-footer .btn.btn-contact a,
#myModalAuto .modal-footer .btn.btn-contact a,
#myModalBaugewerbe .modal-footer .btn.btn-contact a,
#myModalIndustrie .modal-footer .btn.btn-contact a,
#myModalHandel .modal-footer .btn.btn-contact a,
#myModalGrosshandel .modal-footer .btn.btn-contact a,
#myModalLeasing .modal-footer .btn.btn-contact a,
#myModalMarkenartikel .modal-footer .btn.btn-contact a,
#myModalBanken .modal-footer .btn.btn-contact a,
#myModalPharma .modal-footer .btn.btn-contact a {
  color: rgb(51, 51, 51);
}




#myModalVersicherung .modal-content {
  background-color: rgb(140, 177, 16);
}

#myModalVersicherung .image-svg {
  background-color: rgb(140, 177, 16);
  border: 3px solid rgb(255, 255, 255);
}



#myModalEnergieversorger .modal-content {
  background-color: rgb(197, 9, 56);
}

#myModalEnergieversorger .image-svg {
  background-color: rgb(197, 9, 56);
  border: 3px solid rgb(255, 255, 255);
}



#myModalAuto .modal-content {
  background-color: rgb(251, 186, 0);
}

#myModalAuto .image-svg {
  background-color: rgb(253, 196, 0);
  border: 3px solid rgb(255, 255, 255);
}



#myModalBaugewerbe .modal-content {
  background-color: rgb(126, 64, 106);
}

#myModalBaugewerbe .image-svg {
 background-color: rgb(126, 64, 106);
 border: 3px solid rgb(255, 255, 255);
}



#myModalIndustrie .modal-content {
  background-color: rgb(45, 127, 42);
}

#myModalIndustrie .image-svg {
  background-color: rgb(45, 127, 42);
  border: 3px solid rgb(255, 255, 255);
}



#myModalHandel .modal-content {
  background-color: rgb(0, 174, 199);
}

#myModalHandel .image-svg {
  background-color: rgb(0, 174, 199);
  border: 3px solid rgb(255, 255, 255);
}



#myModalGrosshandel .modal-content {
  background-color: rgb(0, 122, 119);
}

#myModalGrosshandel .image-svg {
  background-color: rgb(0, 122, 119);
  border: 3px solid rgb(255, 255, 255);
}



#myModalLeasing .modal-content {
  background-color: rgb(236, 116, 4);
}

#myModalLeasing .image-svg {
  background-color: rgb(236, 116, 4);
  border: 3px solid rgb(255, 255, 255);
}



#myModalMarkenartikel .modal-content {
  background-color: rgb(141, 21, 34);
}

#myModalMarkenartikel .image-svg {
  background-color: rgb(141, 21, 34);
  border: 3px solid rgb(255, 255, 255);
}



#myModalBanken .modal-content {
  background-color: rgb(0, 132, 182);
}

#myModalBanken .image-svg {
  background-color: rgb(0, 132, 182);
  border: 3px solid rgb(255, 255, 255);
}



#myModalPharma .modal-content {
  background-color: rgb(185, 101, 140);
}

#myModalPharma .image-svg {
  background-color: rgb(185, 101, 140);
  border: 3px solid rgb(255, 255, 255);
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  #myModalVersicherung .modal-dialog,
  #myModalEnergieversorger .modal-dialog,
  #myModalAuto .modal-dialog,
  #myModalBaugewerbe .modal-dialog,
  #myModalIndustrie .modal-dialog,
  #myModalHandel .modal-dialog,
  #myModalGrosshandel .modal-dialog,
  #myModalLeasing .modal-dialog,
  #myModalMarkenartikel .modal-dialog,
  #myModalBanken .modal-dialog,
  #myModalPharma .modal-dialog {
    margin: 5% auto;
  }

  #myModalVersicherung .modal-body .text-center,
  #myModalEnergieversorger .modal-body .text-center,
  #myModalAuto .modal-body .text-center,
  #myModalBaugewerbe .modal-body .text-center,
  #myModalIndustrie .modal-body .text-center,
  #myModalHandel .modal-body .text-center,
  #myModalGrosshandel .modal-body .text-center,
  #myModalLeasing .modal-body .text-center,
  #myModalMarkenartikel .modal-body .text-center,
  #myModalBanken .modal-body .text-center,
  #myModalPharma .modal-body .text-center {
    margin: 0 auto;
    width: 100%;
  }

  #myModalVersicherung .modal-header h2,
  #myModalEnergieversorger .modal-header h2,
  #myModalAuto .modal-header h2,
  #myModalBaugewerbe .modal-header h2,
  #myModalIndustrie .modal-header h2,
  #myModalHandel .modal-header h2,
  #myModalGrosshandel .modal-header h2,
  #myModalLeasing .modal-header h2,
  #myModalMarkenartikel .modal-header h2,
  #myModalBanken .modal-header h2,
  #myModalPharma .modal-header h2 {
    color: rgb(255, 255, 255);
    margin: 15px 0 0 0;
  }

  #myModalVersicherung .modal-footer .btn.btn-contact,
  #myModalEnergieversorger .modal-footer .btn.btn-contact,
  #myModalAuto .modal-footer .btn.btn-contact,
  #myModalBaugewerbe .modal-footer .btn.btn-contact,
  #myModalIndustrie .modal-footer .btn.btn-contact,
  #myModalHandel .modal-footer .btn.btn-contact,
  #myModalGrosshandel .modal-footer .btn.btn-contact,
  #myModalLeasing .modal-footer .btn.btn-contact,
  #myModalMarkenartikel .modal-footer .btn.btn-contact,
  #myModalBanken .modal-footer .btn.btn-contact,
  #myModalPharma .modal-footer .btn.btn-contact {
    margin: 0 auto 28px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  #myModalVersicherung .image-svg,
  #myModalEnergieversorger .image-svg,
  #myModalAuto .image-svg,
  #myModalBaugewerbe .image-svg,
  #myModalIndustrie .image-svg,
  #myModalHandel .image-svg,
  #myModalGrosshandel .image-svg,
  #myModalLeasing .image-svg,
  #myModalMarkenartikel .image-svg,
  #myModalBanken .image-svg,
  #myModalPharma .image-svg {
    display: none;
  }

}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}





/*** section contact ***/
/*****************************************/
#contact {
  background-attachment: scroll;
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/background_images/ThinkstockPhotos-166140607_breit_2000x750.jpg");
  background-position: 36% top;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 770px;
  overflow: hidden;
  position: relative;
  width: 100%;
  
  padding-top: 0;
}

#contact .contact.text-center {
  margin-top: 90px;
}

.contact-left h3,
.contact-left a {
  color: rgb(51, 51, 51);
  display: table;
  font-size: 18px;
  font-family: "DIN Next LT W04 Medium";
  text-decoration: none;
  text-transform: uppercase;
}

.contact-left h3 {
  margin: 25px 0 5px 0;
}

.contact-left a {
  margin: 5px 0 25px 0;
}

#contact .contact-left-bg {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 30px 20px 30px;
}

#contact .contact-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 26px 30px 15px 30px;
}

.contact-teaser.text-center {
  margin: 0 150px 30px;
}

.contact-teaser.text-center p {
  font-size: 17px;
  line-height: 24px;
}

.contact-form {}

.contact-form .Tx-Formhandler {
  padding: 0 30px;
}

.kontakt_form_home {
  float: left;
  width: 100%;
}

.form-horizontal .kontakt_form_home .form-group {
  margin: 0 -10px 4px -10px;
}

.kontakt_form_home .gender {}

.kontakt_form_home .gender input {
  margin-right: 10px;
}

.kontakt_form_home .gender label {
  margin-right: 25px;
}

.kontakt_form_home .input-border {
  margin: 0 2px;
  padding: 0;
  width: 49%;
}

.kontakt_form_home .input-border.message {
  width: 98.5%;
}

.kontakt_form_home .input-border label {
  font-size: 12px;
  left: 0;
  margin: 0 0 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
}

.kontakt_form_home .input-border input {
  background-color: transparent;
  border: 1px solid rgb(174, 174, 175);
  margin: 0;
  padding: 20px 4px 4px 4px;
  width: 100%;
}

.kontakt_form_home .input-border.message {
  width: 98.5%;
}

.kontakt_form_home .input-border.message textarea {
  background-color: transparent;
  border: 1px solid rgb(174, 174, 175);
  min-height: 80px;
  padding: 20px 4px 4px 4px;
  resize: vertical;
  width: 100%;
}

.wrap .contact-form .btn {
  background-color: rgb(235, 196, 0);
  color: rgb(255, 255, 255);
  float: right;
  margin-right: -6px;
  margin-top: 4px;
  text-transform: uppercase;
}

.kontakt_form_home .input-border.message .errorField,
.kontakt_form_home .input-border .errorField {
  border: 1px solid red;
}

.footer-block {
  margin-top: 60px;
}

.footer-block ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-block ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-block ul li a {
  color: rgb(255, 255, 255);
  font-family: "DIN Next LT W04 Medium";
  margin-right: 25px;
  text-transform: uppercase;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  #contact .contact.text-center {
    margin-top: 40px;
  }

  .contact-teaser.text-center {
    margin: 0 0 30px;
  }

  #contact .contact-left,
  #contact .contact-form {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #contact .contact-form {
    padding: 0 10px 15px;
  }

  #contact {
    height: 1260px;
  }

  .kontakt_form_home .input-border {
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .contact-teaser.text-center {
    margin: 0 0 30px;
  }

  #contact .contact-left,
  #contact .contact-form {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #contact .contact-form {
    padding: 0 10px 15px;
  }

  #contact {
    height: 960px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {
  #contact .contact-left,
  #contact .contact-form {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #contact .contact-left {
    border-right: 3px solid rgba(255, 255, 255, 0.2);
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .kontakt_form_home .input-border {
    width: 48%;
  }

  .kontakt_form_home .input-border.message {
    width: 97%;
  }

  .contact-teaser.text-center {
    margin: 0 110px 30px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** marketing-it-image ***/
/*****************************************/
.marketing-it-image {
  background-attachment: scroll;
  background-image: url("http://typo38.connexgroup.net/fileadmin/cx/templates/images/background_images/Fotolia_85570862_XXL_mit_Screenshots_card_complete.jpg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .marketing-it-image {
    height: 220px;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .marketing-it-image {
    height: 245px;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .marketing-it-image {
    height: 400px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}



