#cookieChoiceInfo{
    padding:20px !important;
    bottom:0;
    top:inherit !important;
}

a{
    transition: all 0.3s ease 0s;
}

a#cookieChoiceDismiss:link, a#cookieChoiceDismiss:visited{
    background-color:rgb(235, 196, 0);
    padding:3px 8px;
    color:white;
    text-transform: uppercase;
}
a#cookieChoiceDismiss:hover, a#cookieChoiceDismiss:active,
a.page-scroll:hover, a.page-scroll:active{
    color:rgb(235, 196, 0);
    background-color:white;
    text-decoration: none;
}

.header-image-image{
    background-position: right top;
}

#branchen .grid-item.block-1:hover, #branchen .grid-item.block-2:hover, #branchen .grid-item.block-3:hover, #branchen .grid-item.block-4:hover, #branchen .grid-item.block-5:hover, #branchen .grid-item.block-6:hover, #branchen .grid-item.block-7:hover, #branchen .grid-item.block-8:hover, #branchen .grid-item.block-9:hover, #branchen .grid-item.block-10:hover, #branchen .grid-item.block-11:hover, #branchen .grid-item.block-1:focus, #branchen .grid-item.block-2:focus, #branchen .grid-item.block-3:focus, #branchen .grid-item.block-4:focus, #branchen .grid-item.block-5:focus, #branchen .grid-item.block-6:focus, #branchen .grid-item.block-7:focus, #branchen .grid-item.block-8:focus, #branchen .grid-item.block-9:focus, #branchen .grid-item.block-10:focus, #branchen .grid-item.block-11:focus, #branchen .grid-item.block-1:active, #branchen .grid-item.block-2:active, #branchen .grid-item.block-3:active, #branchen .grid-item.block-4:active, #branchen .grid-item.block-5:active, #branchen .grid-item.block-6:active, #branchen .grid-item.block-7:active, #branchen .grid-item.block-8:active, #branchen .grid-item.block-9:active, #branchen .grid-item.block-10:active, #branchen .grid-item.block-11:active,
#know-how .grid-item.block-1:hover, #know-how .grid-item.block-2:hover, #know-how .grid-item.block-3:hover, #know-how .grid-item.block-4:hover, #know-how .grid-item.block-5:hover, #know-how .grid-item.block-6:hover, #know-how .grid-item.block-7:hover, #know-how .grid-item.block-8:hover{
    overflow:hidden;
}

.wrap .fade.in{
    opacity:1;
}

.modal-dialog{
    max-width: 1024px !important;
}

.modal-content{
    background-color:rgb(99,105,108) !important;
}

.modal-body ul{
    max-width:400px;
    margin:auto;
}

.modal-body ul li{
    color:white;
    text-align: left;
    font-family:"DIN Next LT W04 Light";
    font-size: 17px;
}


#myModalImpressum{
    color:white;
}

.grid-item{
    background-position: -9999px -9999px !important;
    background-repeat:no-repeat !important;
}

.grid-item:hover{
    background-position: 0 0 !important;
}

.spider_slide{
    background-image: url(../images/background_images/cx_facts.jpg);
    color:white;
}

.spider-arm::after{
    border-color:white !important;
}

a.back-to-top{
    text-align: center;
    background-color:#333;
    line-height: 30px;
    font-size: 12px;
    width:100px;
    height:30px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border:none;
}

a.back-to-top:hover, a.back-to-top:active{
    color:black;
    text-decoration: none;
}

.back-to-top .fa{
    font-size: 20px;
    line-height: 30px;
    margin:0;
}

.ih-item.square.effect13.colored .info{
    background: rgba(255, 255, 255, 0.95);
}

.slick-prev:hover::before, .slick-prev:focus::before, .slick-next:hover::before, .slick-next:focus::before{
    color:rgb(235, 196, 0) !important;
}

.slick-next:before{
    font-family: FontAwesome !important;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f101" !important;
    color:#333 !important;
}

.slick-prev:before{
    font-family: FontAwesome !important;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f100" !important;
    color:#333 !important;
}

#know-how .grid-item.block-1{
    background-image:url(../images/knowhow/hotelscheck.jpg);
    background-repeat: no-repeat;
    background-position: bottom right !important;
}

#know-how .grid-item.block-1:hover{
    background-color: transparent;
}

#know-how .grid-item.block-1:hover span{
    color:#333;
}

.ce_text.small{
    margin-top:30px;
}

.ce_text.small p{
    font-size: 15px;
    line-height: 21px;
}

.wrap .contact-form .btn{
    padding:6px 20px !important;
}

.wrap .contact-form .btn:hover{
    background-color:white;
    color:rgb(235, 196, 0);
    border:1px solid rgb(235, 196, 0);
}

.content .page-scroll.btn:hover, .content .page-scroll.btn:active{
    border:1px solid rgb(235, 196, 0);
    background-color: white;
    color:1px solid rgb(235, 196, 0);
}

.wrap .btn.yellow:link, .wrap .btn.yellow:visited{
    background-color:rgb(235, 196, 0);
}

.wrap .btn.yellow:hover, .wrap .btn.yellow:active{
    background-color:white;
    border:1px solid rgb(235, 196, 0);
    color:rgb(235, 196, 0);
}

.ce_image{
    margin-top:75px;
    margin-bottom:40px;
}

.col-md-4 .ce_image, .col-md-8 .ce_image{
    margin-top:0;
    margin-bottom:60px;
}

.CE_MODAL_ITEM:hover .helper p{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
}
@media (max-width: 992px) {
    .CE_MODAL_ITEM{
        margin-bottom:4px;
    }
}
.CE_ERFOLG_ITEM span{
    font-size: 17px;
    line-height: 24px;
}

.wrap .btn.btn-header-image {
    padding: 1px 10px !important;
}

.btn.btn-header-image a {
    padding: 10px;
    transition: none;
}

.wrap .btn.btn-header-image:hover {
    background-color: white;
    color: rgb(235, 196, 0);
    border: 1px solid rgb(235, 196, 0);
    text-decoration: none;
}

.wrap .btn {
    padding: 10px !important;
}

section ul, .modal-content ul{
    list-style: none;
}

section li:before, .modal-content li:before{
    content: "\f101";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.modal-body{
    padding-bottom:30px;
}

section .footer-block ul li:before{
    display: none;
}

.header-image {
    position: relative;
    overflow: hidden;
}

.header-image img.image-svg{
    position: absolute;
    right:-30px;
    bottom:-30px;
    width:10%;
    height:auto;
}

.box_modal_info_item, .CE_MODAL_ITEM{
    border-right:4px solid rgb(195,199,202);
    border-bottom:4px solid rgb(195,199,202);
}

.wrap .contact-form .btn{
    line-height:27px !important;
}

.ce_text .container{
    max-width: 840px;
}

.ce_text ul{
    margin-left:0 !important;
}

.ce_text.text-center ul{
    margin:auto !important;
}

.wrap .btn.btn-header-image.left{
    text-align:left;
    margin-left:0;
}

.header-image {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top:-90px;
}

.modal-content{
    border-radius:0;
}

.modal-content button.close span{
    font-size: 50px;
}

.modal-body{
    padding:40px;
}

/*** media query *******************************************************/
@media (max-width: 480px) {
    .header-image img.image-svg{
        width:40%;
    }
    .CE_ERFOLG_ITEM .col-md-4{
        display: none;

    }

    .CE_ERFOLG_ITEM p{
        padding:10px;
    }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
    .header-image img.image-svg{
        width:20%;
    }
    .CE_ERFOLG_ITEM .col-md-4{
        display: none;

    }

    .CE_ERFOLG_ITEM p{
        padding:10px;
    }
}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {
    .header-image img.image-svg{
        width:20%;
    }
}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
    .header-image img.image-svg{
        width:30%;
    }
}

/*** media query *******************************************************/
@media (min-width: 992px) {
    .header-image img.image-svg{
        width:20%;
    }
}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {
    .header-image img.image-svg{
        width:15%;
    }
}

