/*** COMMON CLASSES ***/
/*****************************************/
.img-responsive{
  width:100%;
  max-width: auto;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

li {
  font-size: 17px;
  line-height: 24px;
}

section ul {
  list-style: none;
  padding: 0;
}
section li {
  padding-left: 1.3em;
}
section li:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.footer-block li:before{
  display:none;
}

.ce_text.big, .ce_text.big li{
  font-size: 17px;
  line-height: 24px;
}

.wrap .btn{
  background-color:rgb(122,68,112);
  padding:10px !important;
}

.wrap .btn.left{
  margin-left:0;
}

.wrap .btn a:link, .wrap .btn a:visited{
  color:white;
}

.wrap .btn a:hover, .wrap .btn a:active{
  color:white;
  background-color: transparent;
  text-decoration: none;
}

.wrap .btn:hover{
  background-color:rgb(235, 196, 0);
}

.ce_text p{
  font-size: 17px;
  line-height: 24px;
}

.ce_text{
  margin-bottom:20px;
}

.ce_text ul{
  max-width:600px;
  margin:auto;
  text-align: left;
}

.ce-text:last-child{
  margin-bottom:0;
}

.ce_teaser{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.ce_teaser img{
  padding:75px 0;
  width:100%;
  max-width: 659px;
  height:auto;
}

.ce_teaser img.icon{
  position:absolute;
  right:-60px;
  top:-60px;
  max-width: 244px;
  padding:0;
}

.ce_image_btn{
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
  margin-top:-25px;
}

.verticalBottom{
  display:table-cell;
  vertical-align:bottom;
}

.verticalCenter{
  display:table-cell;
  vertical-align: middle;
}

.slick-list{
  width:92% !important;
}

.kontakt_form_home .interested input {
  margin-right: 10px;
}

.kontakt_form_home input{
  margin-bottom:5px!important;
}

.kontakt_form_home .interested:last-child{
  margin-bottom:30px;
}

.tx-powermail{
  padding:0 30px;
}

.tx-powermail legend{
  display: none;
}

.tx-powermail .powermail_fieldwrap_anrede .radio{
  float:left;
  margin-top:0;
  width:100px;
  margin-bottom:10px;
  margin-top:0;
}

.powermail_fieldwrap_type_radio .powermail_label{
  display: none;
}

.powermail_fieldwrap_sendensiemirdaswhitepaperzukunftsthemaprmienprogrammkostenloszu{
  margin-bottom:30px;
}

.tx-powermail .radio{
  margin-left:5px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.parsley-errors-list{
  display: none;
}

.kontakt_form_home .powermail_input.parsley-error, .kontakt_form_home .powermail_textarea.parsley-error{
  border:1px solid red;
}

.mandatory{
  color:red;
}

.powermail_fieldwrap_anrede, .powermail_field{
  overflow: hidden;
}

.powermail_fieldwrap_anrede .powermail_label{
  display: none;
}

.contact-form h3{
  margin-left:30px;
}

.header-image-image {
  background-position: top left;
}


  /*** section_9 sales_increase ***/
/*****************************************/
#sales_increase {}

#sales_increase .icon {}

#sales_increase .icon img {
  width: 80px;
}

#sales_increase p {
  font-size: 17px;
  line-height: 24px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}

/*** contact ***/
/*****************************************/
#contact{
  margin-top:5px;
  min-height:770px;
  height:auto;
  background-position: center;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}

/*** box_modal_infos ***/
/*****************************************/
#box_modal_infos {
  background-color:rgb(195,199,202);
  min-height: 300px;
  padding-top:0;
}

#box_modal_infos .container{
  margin-top:100px;
}

#box_modal_infos .box_modal_info_item{
  padding:0 2px 2px 0;
  cursor: pointer;
  overflow: hidden;
}

#box_modal_infos .helper{
  height:197px;
  display:table;
  position: relative;
  overflow: hidden;
  width:100%;
  background-color: white;
  padding:10px;
}

#box_modal_infos .helper:hover{
  background-color: rgb(0,115,107);
}

#box_modal_infos .helper:hover p{
  color:white;
}

#box_modal_infos .helper p{
  font-size: 17px;
  line-height: 24px;
}

#box_modal_infos .helper img{
  position: absolute;
  right:10px;
  top:-10px;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}

/*** section_2 advantages ***/
/*****************************************/
#alles_aus_einer_hand{
  background-color: rgb(195,199,202);
  padding-top: 0;
  box-sizing: border-box;
}

#alles_aus_einer_hand h2 {
  margin-top: 70px;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {

}

/*** media query *******************************************************/
@media (max-width: 480px) {

}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {

}

/*** media query *******************************************************/
@media (max-width: 767px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*** media query *******************************************************/
@media (min-width: 1200px) {

}



.wrap .btn.btn-header-image{
  background-color: rgb(235, 196, 0);
  color: rgb(255, 255, 255);
  display: table;
  float: none;
  font-size: 17px;
  margin: 30px auto 0;
  padding: 1px 10px !important;
  text-align: center;
  text-transform: uppercase;
}

.wrap .contact-form .btn {
  float:right;
  background-color: rgb(235, 196, 0) !important;
  line-height: 15px;
  font-size: 15px;
}

.wrap .contact-form .btn:hover{
  color:rgb(235, 196, 0);
  background-color:white !important;
  border:1px solid rgb(235, 196, 0);
}

.wrap .btn.btn-header-image:hover {
  background-color:white;
  color:rgb(235, 196, 0);
  border:1px solid rgb(235, 196, 0);
  text-decoration: none;
}

.btn.btn-header-image a {
  color: rgb(255, 255, 255);
  display: block;
  font-family: "DIN Next LT W04 Medium";
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.btn.btn-header-image a:hover{
  color:rgb(235, 196, 0);
}

.btn.btn-casestudies{
  font-size: 13px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}



/*** erfolgsbeispiele ***/
/*****************************************/
.CE_ERFOLG .slick-list{
  width:100% !important;
}

.CE_ERFOLG_ITEM{
  background-color: rgb(195,199,202);
}

.CE_ERFOLG_ITEM p, .CE_ERFOLG_FOOTER p{
  font-size: 17px;
  line-height: 24px;
}

.CE_ERFOLG_ITEM .row{
  display: flex;
  align-items: center;
}

.CE_ERFOLG{
  margin-bottom:50px;
}

.CE_ERFOLG_FOOTER{
  padding:0 70px;
}

.wrap .CE_ERFOLG_FOOTER .btn.btn-header-image{
  margin-top:0;
}
/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}


/*** modal_items ***/
/*****************************************/
.CE_MODAL_ITEM{
  background-color: white;
  height:195px;
  background-position: -1000px -1000px;
  background-size:cover;
  background-repeat: no-repeat;
  overflow:hidden;
}

.CE_MODAL_ITEM:hover{
  background-position: center;
  cursor: pointer;
}

.CE_MODAL_ITEMS .container{
  padding-left:0;
  padding-right:0;
}

.CE_MODAL_ITEM .helper{
  height:195px;
  display:table;
  position: relative;
  overflow: hidden;
  width:100%;
  padding:10px;
}

.CE_MODAL_ITEM .helper:hover{
  /*background-color: rgb(0,115,107);*/
}

.CE_MODAL_ITEM .helper:hover p{
  /*color:white;*/
}

.CE_MODAL_ITEM .helper p{
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "DIN Next LT W04 Medium";
}

.CE_MODAL_ITEM .helper img{
  position: absolute;
  right:10px;
  top:-10px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}


/*** step_by_step ***/
/*****************************************/
.CE_STEPS{
  margin:50px auto;
  overflow: hidden;
}

.CE_STEP{
  text-align: center;
  opacity: 0;
}

.CE_STEP p{
  margin-top:10px;
}

.CE_STEP_SPLIT{
  text-align: center;
  opacity: 0;
}

.CE_STEP_SPLIT i{
  color:rgb(128,181,57);
  font-size: 60px;
  line-height: 80px;
}

.fa-angle-double-right{
  display: none;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {
  .fa-angle-double-right{
    display: block;
  }
  .fa-angle-double-down{
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}


/*** step_by_step ***/
/*****************************************/
.CE_STEPS_CONTAINER{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.CE_STEPS{
  margin:50px auto;
  overflow: hidden;
}

.CE_STEP{
  text-align: center;
  opacity: 0;
}

.CE_STEP p.CE_STEP_HEADER{
  font-size: 20px;
  text-transform: uppercase;
  font-family: "DIN Next LT W04 Medium";
  text-align: center;
  margin-bottom:20px;
}

.CE_STEP p{
  margin-top:10px;
}

.CE_STEP_SPLIT{
  text-align: center;
  opacity: 0;
}

.CE_STEP_SPLIT i{
  color:rgb(128,181,57);
  font-size: 60px;
  line-height: 80px;
}

.fa-angle-double-right{
  display: none;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {
  .fa-angle-double-right{
    display: block;
  }
  .fa-angle-double-down{
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}

/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}

