<div class="wrap">
  
  <!-- language -->
  <div class="language">
    <div class="container">
      <div class="col-xs-12 no-padding-0 language_wrap pull-right">
        <f:render partial="language" arguments="{_all}" />
      </div>
    </div>
  </div>
  <!-- language -->
  
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
         <f:render partial="header_top" arguments="{_all}" />
      </div>
    </div>
  </nav>
  <!-- Navigation -->

  <!-- full_image kurzurlaub -->
  <div class="intro ku">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 intro_headline">          
          <div class="col-xs-12 no-padding-0 intro_ku_slider">
            <f:render partial="intro_ku_slider" arguments="{_all}" />
          </div>
          <f:render partial="intro_ku_content" arguments="{_all}" />
        </div>
      </div>
    </div>
  </div>
  <!-- full_image kurzurlaub -->
  
  <!-- bar hotels -->
  <div class="bar_hotels">
    <div class="container">
      <f:render partial="bar_hotels" arguments="{_all}" />
    </div>
  </div>
  <!-- bar hotels -->
  
  <!-- bar blue -->
  <div class="bar_blue">
    <div class="container">
      <f:render partial="bar_blue" arguments="{_all}" />
    </div>
  </div>
  <!-- bar blue -->
  
  <!-- slider hotels -->
  <div class="slider_hotels">
    <div class="container">
      <div class="row">
        <f:render partial="slider_hotels" arguments="{_all}" />
      </div>
    </div>
  </div>
  <!-- slider hotels -->

  <!-- full_image pauschalreisen -->
  <div class="intro pl">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 intro_headline">
          <div class="col-xs-12 no-padding-0 intro_headline_wrap">
            <f:render partial="intro_pl_modal" arguments="{_all}" />
          </div>
          <div class="col-xs-12 no-padding-0 intro_pl_slider">
            <f:render partial="intro_pl_slider" arguments="{_all}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- full_image pauschalreisen -->
  
  <!-- bar hotels -->
  <div class="bar_hotels">
    <div class="container">
      <f:render partial="bar_plku" arguments="{_all}" />
    </div>
  </div>
  <!-- bar hotels -->
  
  <!-- slider logos -->
  <div class="slider_hotels slider_logos">
    <div class="container">
      <div class="row">
        <f:render partial="slider_logos" arguments="{_all}" />
      </div>
    </div>
  </div>
  <!-- slider logos -->
  
  <!-- newsletter -->
  <!--<div class="newsletter hidden">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 newsletter-wrap">
          <f:render partial="newsletter" arguments="{_all}" />
        </div>
      </div>
    </div>
  </div>-->
  <!-- newsletter -->
  
  <!-- full_image contact -->
  <div class="intro contact" id="contact">
    <div class="container">
      <f:render partial="fullimage-contact" arguments="{_all}" />
    </div>
  </div>
  <!-- full_image contact -->
  
  <!-- editor -->
  <div class="editor">
    <div class="container">
      <div class="row">
        <f:render partial="editor" arguments="{_all}" />
      </div>
    </div>
  </div>
  <!-- editor -->
  
  <!-- bar-choose-us -->
  <div class="bar-choose-us">
    <div class="container">
      <f:render partial="bar-choose-us" arguments="{_all}" />
    </div>
  </div>
  <!-- bar-choose-us -->
  
  <!-- slider logos -->
  <div class="slider_hotels slider_logos_footer">
    <div class="container">
      <div class="row">
        <f:render partial="slider_logos_footer" arguments="{_all}" />
      </div>
    </div>
  </div>
  <!-- slider logos -->
  
  <!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <f:render partial="footer" arguments="{_all}" />
      </div>
    </div>
  </div>
  <!-- footer -->
  
  <!-- modal -->
    <f:render partial="modal" arguments="{_all}" />
  <!-- modal -->
  
</div>