<footer>
	<div class="centerHelper">
		<h6>Navigation</h6>
		<div class="col4">
			<nav class="footer">
				<ul>
					<f:cObject typoscriptObjectPath="lib.navigation.footer_left">
					<li><a href="#">Home</a></li>
					<li><a href="#">Projekte</a></li>
					<li><a href="#">Anlagen</a></li>
					<li><a href="#">ExpertInnen</a></li>
					<li><a href="#">Jobbörse</a></li>
					<li><a href="#">Unternehmen</a></li>
					<li><a href="#">News</a></li>
					</f:cObject>
				</ul>
			</nav>
		</div>
		<div class="col4">
			<nav class="footer">
				<ul>
					<f:cObject typoscriptObjectPath="lib.navigation.footer_right">
					<li><a href="#">Kontakt</a></li>
					<li><a href="#">AGB</a></li>
					<li><a href="#">Downloads</a></li>
					<li><a href="#">Newsletter</a></li>
					</f:cObject>
				</ul>
			</nav>
		</div>
		<div class="col4">
			<a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#" class="social"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			<a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</div>
	</div>
</footer>
</div>

<div class="loadingOverlay">&nbsp;</div>