<header>
	<div class="centerHelper">
		<div class="logo">
			<f:cObject typoscriptObjectPath="lib.general.logo">
				<img src="typo3conf/ext/theme/Resources/Public/Template/images/BuH-Logo.png" width="288" height="95" alt="logo bhpp" title="logo bhpp" />
			</f:cObject>
		</div>
		<nav class="meta">
			<ul>
				<f:cObject typoscriptObjectPath="lib.navigation.top">
				<li class="hideMobile"><a href="#">Kontakt</a></li>
				<li class="hideMobile"><a href="#">AGB</a></li>
				<li class="hideMobile"><a href="#">Impressum</a></li>
				<li class="hideMobile"><a href="#">Downloads</a></li>
				</f:cObject>
				<li class="search">
					<form action="{f:cObject(typoscriptObjectPath: 'lib.general.searchPageLink')}/?tx_indexedsearch_pi2%5Baction%5D=search&tx_indexedsearch_pi2%5Bcontroller%5D=Search" method="post" id="my_tx_indexedsearch">
						<input type="hidden" name="tx_indexedsearch_pi2[search][_sections]" value="0" />
						<input id="tx_indexedsearch_freeIndexUid" type="hidden" name="tx_indexedsearch_pi2[search][_freeIndexUid]" value="_" />
						<input id="tx_indexedsearch_pointer" type="hidden" name="tx_indexedsearch_pi2[search][pointer]" value="0" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][ext]" value="" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][searchType]" value="1" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][defaultOperand]" value="1" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][mediaType]" value="-1" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][sortOrder]" value="rank_freq" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][group]" value="" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][languageUid]" value="-1" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][desc]" value="" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][numberOfResults]" value="10" />
						<input type="hidden" name="tx_indexedsearch_pi2[search][extendedSearch]" value="" />
						<input name="tx_indexedsearch_pi2[search][sword]" type="text" value=""><input name="tx_indexedsearch_pi2[search][submitButton]" type="submit" value="Suche >" />
					</form>
				</li>

			</ul>
		</nav>
		<br style="clear:both" />
	</div>

	<div class="navBGHelper"></div>
	<div class="burgermenu navTrigger">
		<i></i><i></i><i></i>
	</div>
	<div class="mobileSearch">
		<input type="text" value=""><input type="submit" value="Suche >" />
	</div>
	<nav class="main">
		<ul>
			<f:cObject typoscriptObjectPath="lib.navigation.main">
			<li><a class="active" href="#">Home</a></li>
			<li class="blue"><a href="#" class="hasSub blue">Projekte</a>
				<span class="openSubMobile"><img src="typo3conf/ext/theme/Resources/Public/Template/images/icnArrowDown.png" alt="submenü anzeigen"></span>
				<ul>
					<li><a href="#" class="sub">Sub 1</a></li>
					<li><a href="#" class="sub">Sub 2</a></li>
					<li><a href="#" class="sub">Sub 3</a></li>
				</ul>
			</li>
			<li class="orange"><a href="#" class="orange">Anlagen</a></li>
			<li class="blue"><a href="#" class="green">ExpertInnen</a></li>
			<li><a href="#">Perspektiven</a></li>
			<li><a href="#">Unternehmen</a></li>
			<li><a href="#">News</a></li>
			</f:cObject>
		</ul>
	</nav>
</header>