/*** COMMON CLASSES ***/
/*****************************************/
.img-responsive{
  width:100%;
  max-width: auto;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

li {
  font-size: 17px;
  line-height: 24px;
}

section ul{
  list-style: none;
  padding: 0;
}
section li{
  padding-left: 1.3em;
}
section li:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.footer-block li:before{
  display:none;
}

.ce_text.big, .ce_text.big li{
  font-size: 17px;
  line-height: 24px;
}

.wrap .btn{
  background-color:rgb(122,68,112);
  padding:10px !important;
}

.wrap .btn.left{
  margin-left:0;
}

.wrap .btn a:link, .wrap .btn a:visited{
  color:white;
}

.wrap .btn a:hover, .wrap .btn a:active{
  color:white;
  background-color: transparent;
  text-decoration: none;
}

.wrap .btn:hover{
  background-color:rgb(235, 196, 0);
}

.ce_text p{
  font-size: 17px;
  line-height: 24px;
}

.ce_text{
  margin-bottom:20px;
}

.ce_text a.page-scroll{

}

.ce_text ul{
  max-width:600px;
  margin:auto;
  text-align: left;
}

.ce-text:last-child{
  margin-bottom:0;
}

.ce_teaser{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.ce_teaser img{
  padding:75px 0;
  width:100%;
  max-width: 659px;
  height:auto;
}

.ce_teaser img.icon{
  position:absolute;
  right:-60px;
  top:-60px;
  max-width: 244px;
  padding:0;
}

.ce_image_btn{
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
  margin-top:-25px;
}

.verticalBottom{
  display:table-cell;
  vertical-align:bottom;
}

.verticalCenter{
  display:table-cell;
  vertical-align: middle;
}

.slick-list{
  width:92% !important;
}

.kontakt_form_home .interested input {
  margin-right: 10px;
}

.kontakt_form_home input{
  margin-bottom:5px!important;
}

.kontakt_form_home .interested:last-child{
  margin-bottom:30px;
}

.tx-powermail{
  padding:0 30px;
}

.tx-powermail legend{
  display: none;
}

.tx-powermail .powermail_fieldwrap_anrede .radio{
  float:left;
  margin-top:0;
  width:100px;
  margin-bottom:10px;
  margin-top:0;
}

.powermail_fieldwrap_type_radio .powermail_label{
  display: none;
}

.powermail_fieldwrap_rufensiemichzurvereinbarungeinesunverbindlichenexpertengesprchsan{
  margin-bottom:30px;
}

.tx-powermail .radio{
  margin-left:5px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.parsley-errors-list{
  display: none;
}

.kontakt_form_home .powermail_input.parsley-error, .kontakt_form_home .powermail_textarea.parsley-error{
  border:1px solid red;
}

.mandatory{
  color:red;
}

.powermail_fieldwrap_anrede, .powermail_field{
  overflow: hidden;
}

.powermail_fieldwrap_anrede .powermail_label{
  display: none;
}

.contact-form h3{
  margin-left:30px;
}

.header-image-image {
  background-position: top left;
}

/*** contact ***/
/*****************************************/
#contact{
  margin-top:5px;
  min-height:770px;
  height:auto;
  background-position: center;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}

/*** box_modal_infos ***/
/*****************************************/
#box_modal_infos {
  background-color:rgb(195,199,202);
  min-height: 300px;
  padding-top:0;
}

#box_modal_infos .container{
  margin-top:100px;
}

#box_modal_infos .box_modal_info_item{
  padding:0 2px 2px 0;
  cursor: pointer;
  overflow: hidden;
}

#box_modal_infos .helper{
  height:197px;
  display:table;
  position: relative;
  overflow: hidden;
  width:100%;
  background-color: white;
  padding:10px;
}

#box_modal_infos .helper:hover{
  background-color: rgb(0,115,107);
}

#box_modal_infos .helper:hover p{
  color:white;
}

#box_modal_infos .helper p{
  font-size: 17px;
  line-height: 24px;
}

#box_modal_infos .helper img{
  position: absolute;
  right:10px;
  top:-10px;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}

/*** leistungsbausteine ***/
/*****************************************/
#leistungsbausteine_detail{
  background-color: rgb(195,199,202);
  padding-top: 0;
  box-sizing: border-box;
}

#leistungsbausteine_detail h2 {
  margin-top: 70px;
}

#leistungsbausteine_detail .CE_MODAL_ITEMS{
  margin-top:70px;
  margin-bottom:80px;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {

}

/*** media query *******************************************************/
@media (max-width: 480px) {

}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {

}

/*** media query *******************************************************/
@media (max-width: 767px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*** media query *******************************************************/
@media (min-width: 1200px) {

}





.wrap .btn.btn-header-image{
  background-color: rgb(235, 196, 0);
  color: rgb(255, 255, 255);
  display: table;
  float: none;
  font-size: 17px;
  margin: 30px auto 0;
  padding: 1px 10px !important;
  text-align: center;
  text-transform: uppercase;
}

.wrap .contact-form .btn {
  float:right;
  background-color: rgb(235, 196, 0) !important;
  line-height: 15px;
  font-size: 15px;
}

.wrap .contact-form .btn:hover{
  color:rgb(235, 196, 0);
  background-color:white !important;
  border:1px solid rgb(235, 196, 0);
}

.wrap .btn.btn-header-image:hover {
  background-color:white;
  color:rgb(235, 196, 0);
  border:1px solid rgb(235, 196, 0);
  text-decoration: none;
}

.btn.btn-header-image a {
  color: rgb(255, 255, 255);
  display: block;
  font-family: "DIN Next LT W04 Medium";
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.btn.btn-header-image a:hover{
  color:rgb(235, 196, 0);
}

.btn.btn-casestudies{
  font-size: 13px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}





/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}



/*** erfolgsbeispiele ***/
/*****************************************/
.CE_ERFOLG .slick-list{
  width:100% !important;
}

.CE_ERFOLG_ITEM{
  background-color: rgb(195,199,202);
}

.CE_ERFOLG_ITEM p, .CE_ERFOLG_FOOTER p{
  font-size: 17px;
  line-height: 24px;
}

.CE_ERFOLG_ITEM .row{
  display: flex;
  align-items: center;
}

.CE_ERFOLG{
  margin-bottom:50px;
}

.CE_ERFOLG_FOOTER{
  padding:0 70px;
}

.wrap .CE_ERFOLG_FOOTER .btn.btn-header-image{
  margin-top:0;
}
/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}


/*** modal_items ***/
/*****************************************/
.CE_MODAL_ITEM{
  background-color: white;
  height:195px;
  background-position: -1000px -1000px;
  background-size:cover;
  background-repeat: no-repeat;
}

.CE_MODAL_ITEM:hover{
  background-position: center;
  cursor: pointer;
}

.CE_MODAL_ITEMS .container{
  padding-left:0;
  padding-right:0;
}

.CE_MODAL_ITEM .helper{
  height:195px;
  display:table;
  position: relative;
  overflow: hidden;
  width:100%;
  padding:10px;
}

.CE_MODAL_ITEM .helper:hover{
  /*background-color: rgb(0,115,107);*/
}

.CE_MODAL_ITEM .helper:hover p{
  /*color:white;*/
}

.CE_MODAL_ITEM .helper p{
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "DIN Next LT W04 Medium";
}

.CE_MODAL_ITEM .helper img{
  position: absolute;
  right:10px;
  top:-10px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}


/*** step_by_step ***/
/*****************************************/
.CE_STEPS_CONTAINER{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.CE_STEPS{
  margin:50px auto;
  overflow: hidden;
}

.CE_STEP{
  text-align: center;
  opacity: 0;
}

.CE_STEP p.CE_STEP_HEADER{
  font-size: 20px;
  text-transform: uppercase;
  font-family: "DIN Next LT W04 Medium";
  text-align: center;
  margin-bottom:20px;
}

.CE_STEP p{
  margin-top:10px;
}

.CE_STEP_SPLIT{
  text-align: center;
  opacity: 0;
}

.CE_STEP_SPLIT i{
  color:rgb(128,181,57);
  font-size: 60px;
  line-height: 80px;
}

.fa-angle-double-right{
  display: none;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {
  .fa-angle-double-right{
    display: block;
  }
  .fa-angle-double-down{
    display: none;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}




/*** section_2 advantages ***/
/*****************************************/
#system_zu_neuen_kunden{
  background-color: rgb(195,199,202);
  background-repeat: no-repeat;
  background-position: center calc(50% + 90px);
  height:auto;
  padding-top:0;
  box-sizing: border-box;
}

.system_zu_neuen_kunden_mobile {
  display: none;
  margin-top:50px;
}

.system_zu_neuen_kunden_mobile ol{
  list-style: none;
}

.system_zu_neuen_kunden_mobile li:first-letter {
  font-size: 30px;
  color:rgb(0,183,206);
  line-height: 40px;
  margin-left:0;
  padding-left:0;
  font-family: "DIN Next LT W04 Medium";
  margin-bottom:20px;
}

.system_zu_neuen_kunden_mobile li:before{
  display: none;
}

#system_zu_neuen_kunden h2{
  margin-top:70px;
}

#system_zu_neuen_kunden .helper{
  padding:0;
  height:auto;
  top:-60px;
  overflow:hidden;
  position: relative;
}

.system_zu_neuen_kunden_item{
  position: absolute;
}

.system_zu_neuen_kunden_item .head{
  font-size: 92px;
  color:rgb(0,183,206);
  display:block;
  float:left;
  margin-right:10px;
  padding-top:20px;
  font-family: "DIN Next LT W04 Medium";
}

.system_zu_neuen_kunden_item .body{
  font-size: 15px;
  line-height: 21px;
  display:block;
  float:left;
}

.system_zu_neuen_kunden_item .spider-arm::after{
  backface-visibility: hidden;
  bottom: 7px;
  content: "";
  height: 79px;
  left: -20px;
  margin-bottom: 0;
  position: absolute;
  transform: skew(57deg, 0deg);
  width: 207px;
  border-color:black !important;
}

#system_zu_neuen_kunden_1{
  left:170px;
  top:40px;
}

#system_zu_neuen_kunden_1 .head {
  margin-right:0;
  padding-top:60px;
}

#system_zu_neuen_kunden_1 .spider-arm::after{
  border-top: 2px solid rgb(51, 51, 51);
  border-right: 2px solid rgb(51, 51, 51);
  bottom: -70px;
  height: 57px;
  left: 65px;
  transform: skew(25deg, 0deg);
  width: 291px;
}

#system_zu_neuen_kunden_2{
  left:160px;
  top:450px;
}

#system_zu_neuen_kunden_2 .head{
  padding-top:40px;
}

#system_zu_neuen_kunden_2 .spider-arm::after{
  border-bottom: 2px solid rgb(51, 51, 51);
  border-right: 2px solid rgb(51, 51, 51);
  bottom: -10px;
  height: 50px;
  left: 85px;
  transform: skew(125deg, 0deg);
  width: 235px;
}

#system_zu_neuen_kunden_3{
  right:135px;
  top:85px;
}

#system_zu_neuen_kunden_3 .spider-arm::after{
  border-top: 2px solid rgb(51, 51, 51);
  border-left: 2px solid rgb(51, 51, 51);
  bottom: -60px;
  height: 47px;
  left: -35px;
  transform: skew(125deg, 0deg);
  width: 315px;
}

#system_zu_neuen_kunden_4{
  right:145px;
  top:485px;
}

#system_zu_neuen_kunden_4 .head{
  padding-top:20px;
}

#system_zu_neuen_kunden_4 .spider-arm::after{
  border-bottom: 2px solid rgb(51, 51, 51);
  border-left: 2px solid rgb(51, 51, 51);
  bottom: -10px;
  height: 47px;
  left: -35px;
  transform: skew(30deg, 0deg);
  width: 345px;
}



/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {
  .system_zu_neuen_kunden_mobile{
    display: block;
  }
  .system_zu_neuen_kunden_item{
    display: none;
  }
}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .system_zu_neuen_kunden_item{
    display: none;
  }
  .system_zu_neuen_kunden_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .system_zu_neuen_kunden_item{
    display: none;
  }
  .system_zu_neuen_kunden_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .system_zu_neuen_kunden_item{
    display: none;
  }
  .system_zu_neuen_kunden_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {
  .system_zu_neuen_kunden_item{
    display: none;
  }
  .system_zu_neuen_kunden_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .system_zu_neuen_kunden_item{
    display: none;
  }
  .system_zu_neuen_kunden_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {
  .system_zu_neuen_kunden_item{
    display: block;
  }
  .system_zu_neuen_kunden_mobile{
    display: none;
  }
  #system_zu_neuen_kunden{
    background-image: url(../../../Bilder_Website/empfehlung_spinne.png);
    height:740px;
  }
  #system_zu_neuen_kunden .helper{
    height:600px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  .system_zu_neuen_kunden_item{
    display: block;
  }
  .system_zu_neuen_kunden_mobile{
    display: none;
  }
  #system_zu_neuen_kunden{
    background-image: url(../../../Bilder_Website/empfehlung_spinne.png);
  }
}

/*** media query *******************************************************/
@media (min-width: 1200px) {
  .system_zu_neuen_kunden_item{
    display: block;
  }
  .system_zu_neuen_kunden_mobile{
    display: none;
  }
}


/*** whitepaper ***/
/*****************************************/
#whitepaper{
  background-color: rgb(195,199,202);
  padding-top: 0;
  box-sizing: border-box;
}

#whitepaper h2 {
  margin-top: 70px;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {

}

/*** media query *******************************************************/
@media (max-width: 480px) {

}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {

}

/*** media query *******************************************************/
@media (max-width: 767px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*** media query *******************************************************/
@media (min-width: 1200px) {

}


/*** lösungen im überblick ***/
/*****************************************/
#loesungen{
  background-color: rgb(195,199,202);
  padding-top: 0;
  box-sizing: border-box;
}

#loesungen h2 {
  margin-top: 70px;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {

}

/*** media query *******************************************************/
@media (max-width: 480px) {

}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {

}

/*** media query *******************************************************/
@media (max-width: 767px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) {

}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) {

}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*** media query *******************************************************/
@media (min-width: 1200px) {

}


/*** einsatzbereiche_spinne ***/
/*****************************************/
#einsatzbereiche_spinne{
  background-color: rgb(195,199,202);
  background-repeat: no-repeat;
  background-position: center calc(50% + 90px);
  height:auto;
  padding-top:0;
  box-sizing: border-box;
}

.einsatzbereiche_spinne_mobile {
  display: none;
  margin-top:60px;
  padding-bottom:60px;
}

.einsatzbereiche_spinne_mobile ol{
  list-style: none;
}

#einsatzbereiche_spinne h2{
  margin-top:70px;
}

#einsatzbereiche_spinne .helper{
  padding:0;
  height:auto;
  overflow:hidden;
  position: relative;
}

.einsatzbereiche_spinne_item{
  position: absolute;
}

.einsatzbereiche_spinne_item .head{
  font-size: 16px;
  display:block;
  font-family: "DIN Next LT W04 Medium";
  margin-bottom:20px;
}

.einsatzbereiche_spinne_item .body{
  font-size: 15px;
  line-height: 21px;
  display:block;
  float:left;
  width:350px;
}

.einsatzbereiche_spinne_item .spider-arm::after{
  backface-visibility: hidden;
  bottom: 7px;
  content: "";
  height: 79px;
  left: -20px;
  margin-bottom: 0;
  position: absolute;
  transform: skew(57deg, 0deg);
  width: 207px;
  border-color:black !important;
}


#einsatzbereiche_spinne_1{
  left:60px;
  top:120px;
}

#einsatzbereiche_spinne_1 .head {
  margin-right:0;
  padding-top:0px;
}

#einsatzbereiche_spinne_1 .spider-arm::after{
  border-top: 2px solid rgb(51, 51, 51);
  border-right: 2px solid rgb(51, 51, 51);
  bottom: -56px;
  height: 57px;
  left: 0px;
  transform: skew(25deg, 0deg);
  width: 341px;
}

#einsatzbereiche_spinne_2{
  left:30px;
  top:550px;
}

#einsatzbereiche_spinne_2 .head{
  padding-top:0px;
}

#einsatzbereiche_spinne_2 .spider-arm::after{
  border-bottom: 2px solid rgb(51, 51, 51);
  border-right: 2px solid rgb(51, 51, 51);
  bottom: 0px;
  height: 80px;
  left: 45px;
  transform: skew(125deg, 0deg);
  width: 355px;
}

#einsatzbereiche_spinne_3{
  right:25px;
  top:190px;
}

#einsatzbereiche_spinne_3 .spider-arm::after{
  border-top: 2px solid rgb(51, 51, 51);
  border-left: 2px solid rgb(51, 51, 51);
  bottom: -44px;
  height: 45px;
  left: -30px;
  transform: skew(125deg, 0deg);
  width: 245px;
}

#einsatzbereiche_spinne_4{
  right:25px;
  top:585px;
}

#einsatzbereiche_spinne_4 .head{
  padding-top:0px;
}

#einsatzbereiche_spinne_4 .spider-arm::after{
  border-bottom: 2px solid rgb(51, 51, 51);
  border-left: 2px solid rgb(51, 51, 51);
  bottom: 0px;
  height: 87px;
  left: -20px;
  transform: skew(35deg, 0deg);
  width: 345px;
}

#einsatzbereiche_spinne_5{
  right:175px;
  top:455px;
}

#einsatzbereiche_spinne_5 .spider-arm::after{
  border-bottom: 2px solid rgb(51, 51, 51);
  border-left: 2px solid rgb(51, 51, 51);
  bottom: -45px;
  height: 57px;
  left: -25px;
  transform: skew(45deg, 0deg);
  width: 205px;
}


/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {
  .einsatzbereiche_spinne_mobile{
    display: block;
  }
  .einsatzbereiche_spinne_item{
    display: none;
  }
}

/*** media query *******************************************************/
@media (max-width: 480px) {
  .einsatzbereiche_spinne_item{
    display: none;
  }
  .einsatzbereiche_spinne_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .einsatzbereiche_spinne_item{
    display: none;
  }
  .einsatzbereiche_spinne_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (max-width: 767px) {
  .einsatzbereiche_spinne_item{
    display: none;
  }
  .einsatzbereiche_spinne_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) {
  .einsatzbereiche_spinne_item{
    display: none;
  }
  .einsatzbereiche_spinne_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .einsatzbereiche_spinne_item{
    display: none;
  }
  .einsatzbereiche_spinne_mobile{
    display: block;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) {
  .einsatzbereiche_spinne_item{
    display: block;
  }
  .einsatzbereiche_spinne_mobile{
    display: none;
  }
  #einsatzbereiche_spinne{
    background-image: url(../../../Bilder_Website/bg_einsatzbereiche_spinne.png);
    height:850px;
  }
  #einsatzbereiche_spinne .helper{
    height:850px;
  }
}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  .einsatzbereiche_spinne_item{
    display: block;
  }
  .einsatzbereiche_spinne_mobile{
    display: none;
  }
  #einsatzbereiche_spinne{
    background-image: url(../../../Bilder_Website/bg_einsatzbereiche_spinne.png);
  }

  #einsatzbereiche_spinne_1{
    left:10px;
  }
  #einsatzbereiche_spinne_2{
    left:10px;
  }
  #einsatzbereiche_spinne_3{
    right:10px;
  }
  #einsatzbereiche_spinne_4{
    right:10px;
  }
}

/*** media query *******************************************************/
@media (min-width: 1200px) {
  .einsatzbereiche_spinne_item{
    display: block;
  }
  .einsatzbereiche_spinne_mobile{
    display: none;
  }
}


/*** muster ***/
/*****************************************/

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}


/*** modal_items ***/
/*****************************************/
.CE_MODAL_ITEM{
  background-color: white;
  height:195px;
  background-position: -1000px -1000px;
  background-size:cover;
  background-repeat: no-repeat;
  overflow:hidden;
}

.CE_MODAL_ITEM:hover{
  background-position: center;
  cursor: pointer;
}

.CE_MODAL_ITEMS .container{
  padding-left:0;
  padding-right:0;
}

.CE_MODAL_ITEM .helper{
  height:195px;
  display:table;
  position: relative;
  overflow: hidden;
  width:100%;
  padding:10px;
}

.CE_MODAL_ITEM .helper:hover{
  /*background-color: rgb(0,115,107);*/
}

.CE_MODAL_ITEM .helper:hover p{
  /*color:white;*/
}

.CE_MODAL_ITEM .helper p{
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "DIN Next LT W04 Medium";
}

.CE_MODAL_ITEM .helper img{
  position: absolute;
  right:10px;
  top:-10px;
}

/*** media query *******************************************************/
@media (max-device-width: 480px) and (orientation: landscape) {}

/*** media query *******************************************************/
@media (max-width: 480px) {}

/*** media query *******************************************************/
@media (min-width: 480px) and (max-width: 767px) {}

/*** media query *******************************************************/
@media (max-width: 767px) {}

/*** media query *******************************************************/
@media (min-width: 768px) {}

/*** media query *******************************************************/
@media (min-width: 768px) and (max-width: 991px) {}

/*** media query *******************************************************/
@media (min-width: 992px) {}

/*** media query *******************************************************/
@media (min-width: 992px) and (max-width: 1199px) {}

/*** media query *******************************************************/
@media (min-width: 1200px) {}


a.orange:link, a.orange:visited{
  color:rgb(244,121,32);
  font-size: 17px;
  line-height: 24px;
}

a.gruenblau:link, a.gruenblau:visited{
  color:rgb(0,132,126);
  font-size: 17px;
  line-height: 24px;
}