<div class="container helper" style="position:relative;">
    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_1">
      <div class="col-xs-12 no-padding-0 spider-arm">
        <span class="head"><img src="fileadmin/Bilder_Website/icn_versicherungen.png" width="66" height="66" alt="versicherungen"/></span>
        <span class="body">Versicherungen</span>
      </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_2">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_banken.png" width="66" height="66" alt="banken"/></span>
            <span class="body">Banken</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_3">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_leasing.png" width="66" height="66" alt="leasing"/></span>
            <span class="body">Leasingunternehmen</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_4">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_kredit.png" width="66" height="66" alt="kredit"/></span>
            <span class="body">Kreditkartenunternehmen</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_5">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_stadt.png" width="66" height="66" alt="stadt"/></span>
            <span class="body">Stadtmarketinggesellschaften</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_6">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_strom.png" width="66" height="66" alt="strom"/></span>
            <span class="body">Strom/Gas/<br />Energieversorger</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_7">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_sparkasse.png" width="66" height="66" alt="sparkasse"/></span>
            <span class="body">Sparkassen</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_8">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_bausparkasse.png" width="66" height="66" alt="bausparkasse"/></span>
            <span class="body">Bausparkassen</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_9">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_tele.png" width="66" height="66" alt="telekommunikation"/></span>
            <span class="body">Telekommunikationsanbieter</span>
          </div>
    </div>

    <div class="zielgruppe_spinne_item element_from_bottom" id="zielgruppe_spinne_10">
          <div class="col-xs-12 no-padding-0 spider-arm">
            <span class="head"><img src="fileadmin/Bilder_Website/icn_auto.png" width="66" height="66" alt="auto"/></span>
            <span class="body">Mitgliedsverbände<br />(z.B. Automobilclubs,<br />Gewerkschaften)</span>
          </div>
    </div>
</div>

  
  <div class="zielgruppe_spinne_mobile">
    <ul>
        <li><img src="fileadmin/Bilder_Website/icn_versicherungen.png" width="66" height="66" alt="versicherungen"/> Versicherungen</li>
        <li><img src="fileadmin/Bilder_Website/icn_banken.png" width="66" height="66" alt="Banken"/> Banken</li>
        <li><img src="fileadmin/Bilder_Website/icn_leasing.png" width="66" height="66" alt="Leasingunternehmen"/> Leasingunternehmen</li>
        <li><img src="fileadmin/Bilder_Website/icn_kredit.png" width="66" height="66" alt="Kreditkartenunternehmen"/> Kreditkartenunternehmen</li>
        <li><img src="fileadmin/Bilder_Website/icn_stadt.png" width="66" height="66" alt="Stadtmarketinggesellschaften"/> Stadtmarketinggesellschaften</li>
        <li><img src="fileadmin/Bilder_Website/icn_strom.png" width="66" height="66" alt="Strom"/> Strom/Gas/Energieversorger</li>
        <li><img src="fileadmin/Bilder_Website/icn_sparkasse.png" width="66" height="66" alt="Sparkassen"/> Sparkassen</li>
        <li><img src="fileadmin/Bilder_Website/icn_bausparkasse.png" width="66" height="66" alt="Bausparkassen"/> Bausparkassen</li>
        <li><img src="fileadmin/Bilder_Website/icn_tele.png" width="66" height="66" alt="Telekomunikationsanbieter"/> Telekomunikationsanbieter</li>
        <li><img src="fileadmin/Bilder_Website/icn_auto.png" width="66" height="66" alt="Mitgliedverbände"/> Mitgliedverbände (z.B. Automobilclubs, Gewerkschaften)</li>
    </ul>
  </div>
  
</div>