<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="img/favicon.png">
<title>TYPO3 Base</title>

{% include '../../../../Public/Favicons/favicons.html' %}
<link rel="stylesheet" href="../Template/css/style.css">
<script src="../Template/js/top.js"></script>

<!--[if lte IE 9]>
<script src="../Template/js/ie.js"></script>
<![endif]-->