<!-- ------------------------------------------------------
  FORM VIEW
  --------------------------------------------------------- -->
<!-- ###TEMPLATE_FORM1### begin -->
<!--<a name="cform"></a>-->
<form action="###REL_URL####contact" method="post" name="contactform-simple" class="page-scroll form-horizontal">
  <input type="hidden" name="id" value="###PID###" />
  <input type="hidden" name="formhandler[submitted]" value="1" />
  <input type="hidden" name="type" value="###value_type###" />

  <div class="kontakt_form_home">
    ###field_salutation###
    ###field_block1###
    ###field_block2###
    ###field_block3###
    ###field_block4###
    ###field_message###
    ###field_submit###
  </div>
  
</form>
<!-- ###TEMPLATE_FORM1### end -->



<!-- ------------------------------------------------------
  FORM DATA VIEW (after send)
  --------------------------------------------------------- -->

[HTML]
###TEMPLATE_SUBMITTEDOK###
<h3>Vielen Dank für Ihr Interesse!</h3>
<p>Wir haben Ihre Nachricht erhalten und werden uns umgehend bei Ihnen melden!</p>
###TEMPLATE_SUBMITTEDOK###
[/HTML]



<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### begin -->
<style type="text/css">#startpage{
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
}
  #footer {
    width: 100%;
    background: 0 0 no-repeat #DFE0E1;
    bottom: 0;
    left: 0;
    clear: both;
    z-index:1;
    height: 70px;
  }
  td{
    line-height: 130% }
  h1 {
    color: #c31924;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: lighter;
  }
</style>
<table style="width: 100%; background: #fff">
  <tbody>
    <tr>
      <td>
        <div align="center" id="startpage">
          <table align="center" style="margin-top: 5px; width: 720px; margin-bottom: 5px; background: #fff">
            <tbody>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" style="background: #fff" width="600">
                    <tbody>
                      <tr>
                        <td>
                          <div>
                            <a href="http://www.connexgroup.net/"><img src="http://www.connexgroup.net/fileadmin/cx/templates/images/email/Connex_Webdesign_2016_Header_Anfrage-Mail.jpg" style="width: 600px; height: 240px" /> </a>
                          </div>
                          <!-- Content Start -->
                          <div id="content">
                            <div class="info_text">
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr>
                                    <td>
                                      <br />
                                      <p><strong>
                                        ###IF_gender=Frau###
                                        ###LLL:greetings-female### ###value_firstname### ###value_lastname###!
                                        ###IF_gender=Frau###
                                        ###IF_gender=Herr###
                                        ###LLL:greetings-male### ###value_firstname### ###value_lastname###!
                                        ###IF_gender=Herr###
                                      </strong></p>
                                      <p>###LLL:greetingContent1###<br />
                                         ###LLL:greetingContent2###</p>
                                    </td>
                                  </tr>
                                </tbody>  
                              </table>
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr><td class="f">###LLL:gender###:</td><td>###value_gender###</td></tr>
                                  <tr><td class="f">###LLL:firstname###:</td><td>###value_firstname###</td></tr>
                                  <tr><td class="f">###LLL:lastname###:</td><td>###value_lastname###</td></tr>
                                  <tr><td class="f">###LLL:company###:</td><td>###value_company###</td></tr>
                                  <tr><td class="f">###LLL:address###:</td><td>###value_address###</td></tr>
                                  <tr><td class="f">###LLL:zip###:</td><td>###value_zip###</td></tr>
                                  <tr><td class="f">###LLL:city###:</td><td>###value_city###</td></tr>
                                  <tr><td class="f">###LLL:email###:</td><td><a href="mailto:###email###">###value_email###</a></td></tr>
                                  <tr><td class="f">###LLL:phone###:</td><td><a href="mailto:###phone###">###value_phone###</a></td></tr>
                                </tbody>
                              </table>
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr><td class="f"><b>###LLL:message###:</b></td></tr>
                                  <tr><td>###value_message###</td></tr>
                                </tbody>  
                              </table>
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr>
                                    <td>
                                      <p style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">&nbsp;</p>
                                      <p style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">###LLL:best_regards###</p>
                                      <p style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">Connex Marketing Group<br />&nbsp;</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### end -->



<!-- ###TEMPLATE_EMAIL_USER_HTML### begin -->
<style type="text/css">#startpage{
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
}
  #footer {
    width: 100%;
    background: 0 0 no-repeat #DFE0E1;
    bottom: 0;
    left: 0;
    clear: both;
    z-index:1;
    height: 70px;
  }
  td{
    line-height: 130% }
  h1 {
    color: #c31924;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: lighter;
  }
</style>
<table style="width: 100%; background: #fff">
  <tbody>
    <tr>
      <td>
        <div align="center" id="startpage">
          <table align="center" style="margin-top: 5px; width: 720px; margin-bottom: 5px; background: #fff">
            <tbody>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" style="background: #fff" width="600">
                    <tbody>
                      <tr>
                        <td>
                          <div>
                            <a href="http://www.connexgroup.net/"><img src="http://www.connexgroup.net/fileadmin/cx/templates/images/email/Connex_Webdesign_2016_Header_Anfrage-Mail.jpg" style="width: 600px; height: 240px" /> </a>
                          </div>
                          <!-- Content Start -->
                          <div id="content">
                            <div class="info_text">
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr>
                                    <td>
                                      <br />
                                      <p><strong>
                                        ###IF_gender=Frau###
                                        ###LLL:greetings-female### ###value_firstname### ###value_lastname###!
                                        ###IF_gender=Frau###
                                        ###IF_gender=Herr###
                                        ###LLL:greetings-male### ###value_firstname### ###value_lastname###!
                                        ###IF_gender=Herr###
                                      </strong></p>
                                      <p>###LLL:greetingContent1###<br />
                                         ###LLL:greetingContent2###</p>
                                    </td>
                                  </tr>
                                </tbody>  
                              </table>
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr><td class="f">###LLL:gender###:</td><td>###value_gender###</td></tr>
                                  <tr><td class="f">###LLL:firstname###:</td><td>###value_firstname###</td></tr>
                                  <tr><td class="f">###LLL:lastname###:</td><td>###value_lastname###</td></tr>
                                  <tr><td class="f">###LLL:company###:</td><td>###value_company###</td></tr>
                                  <tr><td class="f">###LLL:address###:</td><td>###value_address###</td></tr>
                                  <tr><td class="f">###LLL:zip###:</td><td>###value_zip###</td></tr>
                                  <tr><td class="f">###LLL:city###:</td><td>###value_city###</td></tr>
                                  <tr><td class="f">###LLL:email###:</td><td><a href="mailto:###email###">###value_email###</a></td></tr>
                                  <tr><td class="f">###LLL:phone###:</td><td><a href="mailto:###phone###">###value_phone###</a></td></tr>
                                </tbody>
                              </table>
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr><td class="f"><b>###LLL:message###:</b></td></tr>
                                  <tr><td>###value_message###</td></tr>
                                </tbody>  
                              </table>
                              <table align="center" border="0" cellpadding="0" cellspacing="5" width="600">
                                <tbody>
                                  <tr>
                                    <td>
                                      <p style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">&nbsp;</p>
                                      <p style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">###LLL:best_regards###</p>
                                      <p style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">Connex Marketing Group<br />&nbsp;</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- ###TEMPLATE_EMAIL_USER_HTML### end -->