<div class="col-xs-12 no-padding-0 header_top">
  <!-- header_top_left -->
  <div class="col-xs-5 header_top_left">
    <f:cObject typoscriptObjectPath="lib.header_top_left" />
  </div>
  <!-- header_top_left -->
  
  <!-- header_top_right -->
  <div class="header_top_right">
    <f:cObject typoscriptObjectPath="lib.header_top_right" />
  </div>
  <!-- header_top_right -->
  
  <!-- contact_dropdown -->
  <div class="dropdown_contact_mobile">
    <f:cObject typoscriptObjectPath="lib.header_contact_mobile" />
  </div>
  <!-- contact_dropdown -->
  
  <div class="clearer"></div>
</div>