<!-- Modal -->
<div class="modal fade" id="myModalPauschalreisen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <f:cObject typoscriptObjectPath="lib.modalPauschalreisenHeader" />
      </div>
      <div class="modal-body">
        <f:cObject typoscriptObjectPath="lib.modalPauschalreisenContent" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->




<!-- Modal -->
<div class="modal fade" id="myModalImpressum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <f:cObject typoscriptObjectPath="lib.modalImpressumHeader" />
      </div>
      <div class="modal-body">
        <f:cObject typoscriptObjectPath="lib.modalImpressumContent" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->