<f:layout name="main_layout" />
<f:section name="content">
<div id="content">
    <div id="content_menu">
        <f:cObject typoscriptObjectPath="lib.content_menu" />
    </div>
    <div id="content_main">
        <f:format.raw>{content_main}</f:format.raw>
    </div>
    <div class="clearer"></div>
</div>
</f:section>