<div class="container helper" style="position:relative;">
    <div class=„einsatzbereiche_spinne_item element_from_bottom" id=„einsatzbereiche_spinne_1">
      <div class="col-xs-12 no-padding-0 spider-arm">
        <span class="head">Verkaufsförderung</span>
        <span class="body">
        <ul>
            <li>Streugewinn im Rahmen von Off- und Online-Promotions</li>
            <li>Anreiz für Vertrags- und Verkaufsabschlüsse</li>
            <li>Mehrwert-/Vorteilsleistung</li>
            <li>Unterstützung in der Terminakquise</li>
            <li>Anreiz zur Generierung von Empfehlungen</li>
            <li>Forcierung von Verkaufswettbewerben</li>
        </ul>
	</span>
        </div>
</div>

<div class="einsatzbereiche_spinne_item element_from_bottom" id="einsatzbereiche_spinne_2“>
  <div class="col-xs-12 no-padding-0 spider-arm">
    <span class="head">Mitarbeitermotivation</span>
    <span class="body">
	    <ul>
            <li>Honorierung überdurchschnittlichen Engagements (Händler/Mitarbeiter)</li>
            <li>Prämie im Rahmen des Ideenmanagements</li>
            <li>Geschenke für Jubilare</li>
            <li>Prämien für Verkaufswettbewerbe</li>
        </ul>
	</span>
    </div>
</div>

<div class="einsatzbereiche_spinne_item element_from_bottom" id="einsatzbereiche_spinne_3“>
  <div class="col-xs-12 no-padding-0 spider-arm">
    <span class="head">Kundenbindung</span>
    <span class="body">
        <ul>
            <li>Wiedergutmachung im Reklamationsmanagement</li>
            <li>regelmäßige Leistung in Bonus-/ Loyalitätsprogrammen</li>
        </ul>
    </span>
    </div>
</div>

<div class="einsatzbereiche_spinne_item element_from_bottom" id="einsatzbereiche_spinne_4“>
  <div class="col-xs-12 no-padding-0 spider-arm">
    <span class="head">Weihnachten</span>
    <span class="body">
        <ul>
            <li>Nachhaltige Geschenke für treue Kunden, Geschäftspartner und Mitarbeiter</li>
        </ul>
    </span>
    </div>
</div>
  
  <div class="einsatzbereiche_spinne_mobile">
    <h3>Verkaufsförderung</h3>
    <ul>
        <li>Streugewinn im Rahmen von Off- und Online-Promotions</li>
        <li>Anreiz für Vertrags- und Verkaufsabschlüsse</li>
        <li>Mehrwert-/Vorteilsleistung</li>
        <li>Unterstützung in der Terminakquise</li>
        <li>Anreiz zur Generierung von Empfehlungen</li>
        <li>Forcierung von Verkaufswettbewerben</li>
    </ul>
    <h3>Mitarbeitermotivation</h3>
     <ul>
        <li>Honorierung überdurchschnittlichen Engagements (Händler/Mitarbeiter)</li>
        <li>Prämie im Rahmen des Ideenmanagements</li>
        <li>Geschenke für Jubilare</li>
        <li>Prämien für Verkaufswettbewerbe</li>
    </ul>
    <h3>Kundenbindung</h3>
    <ul>
        <li>Wiedergutmachung im Reklamationsmanagement</li>
        <li>regelmäßige Leistung in Bonus-/ Loyalitätsprogrammen</li>
    </ul>
    <h3>Weihnachten</h3>
    <ul>
        <li>Nachhaltige Geschenke für treue Kunden, Geschäftspartner und Mitarbeiter</li>
    </ul>
  </div>
  
</div>